include ../components/alert/_alert

#alert.panel
	.panel-header
		h3.panel-title Alert
	.panel-body
		p Alerts are used as feedback by certain actions of a user or other events. Style sheets linking occurs when the #[code .alert] primary class is present on the page.

		p Component example:
		+alert.alert-primary.mt-1 Attention! This is a multi-purpose alert that's useful anywhere!
		p See more alert examples on the following page: #[a( href='alerts.html' ) Alerts].

		p Markup example:
		pre.highlight.html
			= '<div class="alert alert-primary">\n'
			= '  Attention! This is a multi-purpose alert that\'s useful anywhere!\n'
			= '</div>'

		p The component has predefined styles (class modifiers), each of which has its own semantic goal.
		p Color modifiers:
		ul
			li primary - #[code .alert-primary]
			li secondary - #[code .alert-secondary]
			li success - #[code .alert-success]
			li info - #[code .alert-info]
			li warning - #[code .alert-warning]
			li danger - #[code .alert-danger]
			li light - #[code .alert-light]
			li dark - #[code .alert-dark]

		p Modifiers of primary color brightening or darkening (incompatible with gradient modifier):
		ul
			li brightening - #[code .alert-lighter]
			li darkening - #[code .alert-darker]

		p Size modifiers:
		ul
			li small alert - #[code .alert-sm]
			li large alert - #[code .alert-lg]

		p Border modifiers:
		ul
			li left border - #[code .alert-border-left]
			li right border - #[code .alert-border-right]
			li top border - #[code .alert-border-top]
			li bottom border - #[code .alert-border-bottom]

		p #[code .alert-gradient] modifier makes a gradient background out of primary background.

		p This component is a part of #[a( href='https://getbootstrap.com' ) Bootstrap 4] framework. Read more about it on the following page: #[a( href="https://getbootstrap.com/docs/4.1/components/alerts" ) Bootstrap Alerts].
