#badge.panel
	.panel-header
		h3.panel-title Badge
	.panel-body
		p
			| Badge is used as a small counter or label.
			| Style sheets linking occurs when the #[code .badge] primary class is present on the page.

		p Component example:
		.group-5.mt-1
			span.badge.badge-primary Badge
			span.badge.badge-warning 8
		p See more badge examples on the following page: #[a( href='typography.html' ) Typography].

		p Markup example:
		pre.highlight.html= '<span class="badge badge-primary">Badge</span>'

		p The component has its own modifiers. Color modifiers:
		ul
			li primary - #[code .badge-primary]
			li secondary - #[code .badge-secondary]
			li success - #[code .badge-success]
			li info - #[code .badge-info]
			li warning - #[code .badge-warning]
			li danger - #[code .badge-danger]
			li light - #[code .badge-light]
			li dark - #[code .badge-dark]
		p Modifier #[code .badge-pill] makes a badge round.

		p This component is a part of #[a( href='https://getbootstrap.com' ) Bootstrap 4] framework. Read more about it on the following page: #[a( href="https://getbootstrap.com/docs/4.1/components/badge" ) Bootstrap Badges].
