#button.panel
	.panel-header
		h3.panel-title Button
	.panel-body
		p Buttons are used in forms in the first place.
		p Style sheets linking occurs when the #[code .btn] primary class is present on the page.

		p Component example:
		button.btn.btn-primary.btn-block.mt-1 Button
		p See more button examples on the following page: #[a( href='buttons.html' ) Buttons].

		p Markup example:
		pre.highlight.html= '<button class="btn btn-primary btn-block">Button</button>'

		p The component has predefined styles (class modifiers), each of which has its own semantic goal.
		p Color modifiers:
		ul
			li primary - #[code .btn-primary], #[code .btn-outline-primary]
			li secondary - #[code .btn-secondary], #[code .btn-outline-secondary]
			li success - #[code .btn-success], #[code .btn-outline-success]
			li info - #[code .btn-info], #[code .btn-outline-info]
			li warning - #[code .btn-warning], #[code .btn-outline-warning]
			li danger - #[code .btn-danger], #[code .btn-outline-danger]
			li light - #[code .btn-light], #[code .btn-outline-light]
			li dark - #[code .btn-dark], #[code .btn-outline-dark]

		p Size modifiers:
		ul
			li small button - #[code .btn-sm]
			li large button - #[code .btn-lg]

		p A modifier #[code .btn-block] makes a block out of a button. It occupies the full width of a parent element.
		p Active (#[code :active]) and disabled (#[code &#91;disabled&#93;]) states of a button are also provided. They can be artificially set using #[code .active] and #[code .disabled] classes correspondingly.

		p This component is a part of #[a( href='https://getbootstrap.com' ) Bootstrap 4] framework. Read more about it on the following page: #[a( href="https://getbootstrap.com/docs/4.1/components/buttons" ) Bootstrap Buttons].
