#close.panel
	.panel-header
		h3.panel-title Close
	.panel-body
		p A common icon for hiding content, e.g. modal windows and notifications. Style sheets linking occurs when the #[code .close] primary class is present on the page.

		p Component example:
		.mt-1
			button.close.fa-close( style='float: none;' )

		p Code example:
		pre.highlight.html
			= '<button type="button" class="close" aria-label="Close">\n'
			= '  <span aria-hidden="true">&times;</span>\n'
			= '</button>'

		p This component is a part of #[a( href='https://getbootstrap.com' ) Bootstrap 4] framework. Read more about it on the following page: #[a( href="https://getbootstrap.com/docs/4.1/utilities/close-icon" ) Bootstrap Close].
