#code.panel
	.panel-header
		h3.panel-title Code
	.panel-body
		p Code component is a set of styles for changing the appearance of #[code &#60;code&#62;], #[code &#60;kbd&#62;] and #[code &#60;pre&#62;] tags. In addition to #[code &#60;code&#62;] , there is a #[code .code-bg] class, which adds a background and inner paddings. Style sheets linking occurs when the #[code &#60;code&#62;] tag is present on the page.
		p This component is a part of #[a( href='https://getbootstrap.com' ) Bootstrap 4] framework. Read more about it on the following page: #[a( href="https://getbootstrap.com/docs/4.1/content/code" ) Bootstrap Code].
