#colorpicker.panel
	.panel-header
		h3.panel-title Bootstrap Colorpicker
	.panel-body
		p Bootstrap Colorpicker is a modular color selection plugin for Bootstrap 4.
		p Plugin and style sheets linking occurs when the element that matches the #[code [data-colorpick&#93;] selector is present on the page.

		p Plugin operation example:
		input.form-control.mt-1( type='text', readonly, value='#FF0000', data-colorpick )
		p See more plugin operation examples on the following page: #[a( href='plugin-inputs.html' ) Plugin Inputs].

		p Markup example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<input class="form-control" type="text" readonly value="#FF0000" data-colorpick>'

		p This template provides a #[code data-colorpick] attribute for Bootstrap Colorpicker that can accept a JSON object with the plugin parameters, e.g.:
		pre.highlight.html.scroller.scroller-horizontal
			= '<input ... data-colorpick=\'{ "color" :"#00FF00" }\'>'

		p All available parameters of the plugin can be viewed on #[a( href="https://farbelous.io/bootstrap-colorpicker/" ) Bootstrap Colorpicker] website.
