include ../components/countdown/_countdown

#countdown.panel
	.panel-header
		h3.panel-title αCountdown
	.panel-body
		p αCountdown is a customizable plugin for a countdown with progress circles
		p Plugin and style sheets linking occurs when the element that matches the #[code .countdown] selector is present on the page.

		p Plugin operation example:
		.mt-2: +countdown({ to: '2020-12-01' })

		p Markup example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="countdown">\n'
			= '  <div class="countdown-block">\n'
			= '    <svg class="countdown-circle" x="0px" y="0px" width="100px" height="100px" viewbox="0 0 100 100" data-progress-days>\n'
			= '      <circle class="clipped" cx="50" cy="50" r="50" ></circle>\n'
			= '    </svg>\n'
			= '    <h1 class="countdown-counter" data-counter-days>00</h1>\n'
			= '  </div>\n'
			= '  <div class="countdown-block">\n'
			= '    <svg class="countdown-circle" x="0px" y="0px" width="100px" height="100px" viewbox="0 0 100 100" data-progress-hours>\n'
			= '      <circle class="clipped" cx="50" cy="50" r="50" ></circle>\n'
			= '    </svg>\n'
			= '    <h1 class="countdown-counter" data-counter-hours>00</h1>\n'
			= '  </div>\n'
			= '  <div class="countdown-block">\n'
			= '    <svg class="countdown-circle" x="0px" y="0px" width="100px" height="100px" viewbox="0 0 100 100" data-progress-minutes>\n'
			= '      <circle class="clipped" cx="50" cy="50" r="50" ></circle>\n'
			= '    </svg>\n'
			= '    <h1 class="countdown-counter" data-counter-minutes>00</h1>\n'
			= '  </div>\n'
			= '  <div class="countdown-block">\n'
			= '    <svg class="countdown-circle" x="0px" y="0px" width="100px" height="100px" viewbox="0 0 100 100" data-progress-seconds>\n'
			= '      <circle class="clipped" cx="50" cy="50" r="50" ></circle>\n'
			= '    </svg>\n'
			= '    <h1 class="countdown-counter" data-counter-seconds="">00</h1>\n'
			= '  </div>\n'
			= '</div>'

		p This template provides the following attributes for αCountdown:
		ul
			li #[code data-from] - countdown start time (format #[code YYYY-MM-DDTHH:mm:ss.sssZ])
			li #[code data-to] - countdown finish time (format #[code YYYY-MM-DDTHH:mm:ss.sssZ])
			li #[code data-count] - countdown format (until, since, auto)
		p For example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="countdown" data-from="1995-12-17T03:24:00" data-to="2050-01-01" data-count="auto">...</div>'

		p All available parameters of the plugin can be viewed in its #[a( href="https://oxayaza.page.link/gitHub_aCounters#%CE%B1countdown-usage" ) GitHub repository].
