include  ../components/dropdown/_dropdown

#dropdown.panel
	.panel-header
		h3.panel-title Dropdown
	.panel-body
		p Dropdown elements are switchable, contextual elements of surface covering for displaying link lists etc. They are interactive thanks to JavaScript plugin in Bootstrap 4. Switching of a dropdown element is performed on click and not on hover. It is done intentionally.
		p Plugin and style sheets linking occurs when the #[code .dropdown-toggle] primary class is present on the page.

		p Component example:
		+button-dropdown({
			buttonText: 'Dropdown',
			list: [
				{ text: 'Option 1', link: 'javascript:void(0)' },
				{ text: 'Option 2', link: 'javascript:void(0)' },
				{ text: 'Option 3', link: 'javascript:void(0)' }
			]
		}).btn-primary.mt-1
		p See more button examples on the following page: #[a( href='buttons.html' ) Buttons].

		p Markup example:
		pre.highlight.html
			= '<div class="dropdown">\n'
			= '  <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">\n'
			= '    <span>Dropdown</span>\n'
			= '  </button>\n'
			= '  <div class="dropdown-menu">\n'
			= '    <a class="dropdown-item" href="#">Option 1</a>\n'
			= '    <a class="dropdown-item" href="#">Option 2</a>\n'
			= '    <a class="dropdown-item" href="#">Option 3</a>\n'
			= '  </div>\n'
			= '</div>'

		p #[code .dropdown-toggle] element is also a #[code button] component and it can have the same class modifiers.

		p This component is a part of #[a( href='https://getbootstrap.com' ) Bootstrap 4] framework. Read more about it on the following page: #[a( href="https://getbootstrap.com/docs/4.1/components/dropdowns" ) Bootstrap Dropdowns].
