#fileupload.panel
	.panel-header
		h3.panel-title Tower File Input
	.panel-body
		p Tower File Input is a jQuery plugin, which is an improved version of a file field with a feature of image preview.
		p Plugin and style sheets linking occurs when the element that matches the #[code .tower-file-input] selector is present on the page.

		p Plugin operation example:
		.mt-1.tower-file
			input#file1.tower-file-input( type='file' )
			label.btn.btn-success( for='file1' ) Select File
		p An additional example of plugin operation is available on the following page: #[a( href='image-tools.html' ) Image Tools].

		p Markup example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="tower-file">\n'
			= '  <input class="tower-file-input" id="file1" type="file">\n'
			= '  <label class="btn btn-success" for="file1">Select File</label>\n'
			= '</div>'

		p This template provides a #[code data-tfi-opts] attribute for File Input that can accept a JSON object with the plugin parameters, e.g.:
		pre.highlight.html.scroller.scroller-horizontal
			= '<input class="tower-file-input" data-tfi-opts=\'{ "iconClass": "mdi-upload" }\' ...>'

		p All available parameters of the plugin can be viewed in its #[a( href="https://github.com/StrutTower/tower-file-input" ) GitHub repository] or on #[a( href='https://htmlpreview.github.io/?https://github.com/StrutTower/tower-file-input/blob/master/demo/index.html' ) Tower File Input] website.
