#flotchart.panel
	.panel-header
		h3.panel-title Flot
	.panel-body
		p Flot is a library of canvas-graphs.
		p Plugin and style sheets linking occurs when the element that matches the #[code .flotchart-container] selector is present on the page.
		p Plugin operation examples are available on the following page: #[a( href='flotcharts.html' ) Flotcharts].
		p В шаблоне для Flot предусмотрен атрибут #[code data-flotchart-options], который может принимать JSON объект с параметрами плагина, и #[code data-flotchart-data], который принимает JSON объект с данными графика:
		p This template provides a #[code data-flotchart-options] attribute for Flot that can accept a JSON object with the plugin parameters, and #[code data-flotchart-data] that accepts a JSON object with graphic data:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="flotchart-container" data-flotchart-options="{...}" data-flotchart-data="{ ... }">...</div>'

		p All available parameters of the plugin can be viewed on #[a( href="http://www.flotcharts.org/" ) Flotcharts] website.
