#highlight.panel
	.panel-header
		h3.panel-title Highlight.js
	.panel-body
		p Highlight.js is a tool for highlighting the code syntax.
		p Plugin linking occurs when the element that matches the #[code .highlight] selector is present on the page.

		p Plugin operation example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="container">\n'
			= '  <div class="row">\n'
			= '    <div class="col-md-4 col-lg-6">Your Column1 Content</div>\n'
			= '    <div class="col-md-4 col-lg-6">Your Column1 Content</div>\n'
			= '  </div>\n'
			= '</div>'

		p Markup example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<pre class="highlight html">\n'
			= '  ...\n'
			= '</pre>'

		p All available parameters of the plugin can be viewed in its #[a( href="https://github.com/highlightjs/highlight.js#highlightjs" ) GitHub repository].
