#highcharts.panel
	.panel-header
		h3.panel-title Highcharts
	.panel-body
		p Highcharts is a library of SVG graphs
		p Plugin and style sheets linking occurs when the element that matches the #[code .highcharts-container] selector is present on the page.
		p Plugin operation examples are available on the following page: #[a( href='highcharts.html' ) Highcharts].
		p This template provides a #[code data-highcharts-options] attribute for Highcharts that can accept a JSON object with the plugin parameters, e.g.:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="highcharts-container" data-highcharts-options="{...}">...</div>'

		p All available parameters of the plugin can be viewed on #[a( href="https://www.highcharts.com/" ) Highcharts] website.
