#input.panel
	.panel-header
		h3.panel-title Input
	.panel-body
		p Inputs are used in forms in the first place.
		p Style sheets linking occurs when the element that matches the #[code .form-group, .input-group, .form-check, .custom-control, .form-control] selector is present on the page.

		p Component example:
		input.form-control.mt-1( type='text', placeholder='Type Here...' )
		p See more input examples on the following page: #[a( href='basic-inputs.html' ) Basic Inputs].

		p Markup example:
		pre.highlight.html= '<input class="form-control" type="text" placeholder="Type Here...">'

		p This component is a part of #[a( href='https://getbootstrap.com' ) Bootstrap 4] framework. Read more about it on the following page: #[a( href="https://getbootstrap.com/docs/4.1/components/forms" ) Bootstrap Forms].
