#jumbotron.panel
	.panel-header
		h3.panel-title Jumbotron
	.panel-body
		p A component designed for demonstration of website’s key content.
		p Style sheets linking occurs when the #[code .jumbotron] primary class is present on the page.

		p Component example:
		section.jumbotron.mt-2
			h1 Hello, world!
			p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
			hr.my-3
			p It uses utility classes for typography and spacing to space content out within the larger container.
			a.btn.btn-primary.mt-2( href='#' ) Learn more

		p Markup example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<section class="jumbotron mt-2">\n'
			= '  <h1>Hello, world!</h1>\n'
			= '  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>\n'
			= '  <hr class="my-3">\n'
			= '  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p><a class="btn btn-primary mt-2" href="#">Learn more</a>\n'
			= '</section>'

		p This component is a part of #[a( href='https://getbootstrap.com' ) Bootstrap 4] framework. Read more about it on the following page: #[a( href="https://getbootstrap.com/docs/4.1/components/jumbotron" ) Bootstrap Jumbotron].
