#jvectormap.panel
	.panel-header
		h3.panel-title jVectorMap
	.panel-body
		p jVectorMap is jQuery plugin for creating vector maps.
		p Plugin and style sheets linking occurs when the element that matches the #[code .jvector-map-wrap] selector is present on the page.
		p An example of map operation is available on the following page: #[a( href='jvector-map.html' ) jVectorMap].
		p В шаблоне для jVectorMap предусмотрен атрибут #[code data-jvector-map] который может принимать JSON объект карты.
		p This template provides a #[code data-jvector-map] attribute for jVectorMap that can accept a JSON object with the vector map.
		p You can read detailed information about this plugin on #[a( href="http://jvectormap.com/" ) jVectorMap] official website.
