#lightgallery.panel
	.panel-header
		h3.panel-title Lightgallery
	.panel-body
		p Lightgallery is a jQuery plugin for creating a gallery.
		p Plugin and style sheets linking occurs when the element that matches the #[code [data-lightgallery&#93;] selector is present on the page.

		p Plugin operation example:
		.mt-1
			.d-sm-flex.group-10( data-lightgallery )
				a.lightgallery-item( href='https://via.placeholder.com/800x600' )
					img( src='https://via.placeholder.com/140x90', alt='' )
				a.lightgallery-item( href='https://via.placeholder.com/800x600' )
					img( src='https://via.placeholder.com/140x90', alt='' )
				a.lightgallery-item( href='https://via.placeholder.com/800x600' )
					img( src='https://via.placeholder.com/140x90', alt='' )
		p See more plugin operation examples on the following page: #[a( href='gallery.html' ) Gallery].

		p Markup example:
		pre.highlight.html.scroller.scroller-horizontal
			='<div class="d-sm-flex group-10" data-lightgallery>\n'
			='  <a class="lightgallery-item" href="https://via.placeholder.com/800x600">\n'
			='    <img src="https://via.placeholder.com/140x90" alt="">\n'
			='  </a>\n'
			='  <a class="lightgallery-item" href="https://via.placeholder.com/800x600">\n'
			='    <img src="https://via.placeholder.com/140x90" alt="">\n'
			='  </a>\n'
			='  <a class="lightgallery-item" href="https://via.placeholder.com/800x600">\n'
			='    <img src="https://via.placeholder.com/140x90" alt="">\n'
			='  </a>\n'
			='</div>'

		p This template provides a #[code data-lightgallery] attribute for Lightgallery that can accept a JSON object with the plugin parameters, e.g.:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div data-lightgallery=\'{ "thumbnail": false }\'>...</div>'

		p All available parameters of the plugin can be viewed in its #[a( href="http://sachinchoolur.github.io/lightGallery#lightgallery" ) GitHub repository].
