#markdown.panel
	.panel-header
		h3.panel-title Markdown.js
	.panel-body
		p Markdown.js is a converter and editor of Markdown markup.
		p Plugin and style sheets linking occurs when the element that matches the #[code .markdown] selector is present on the page.

		p Plugin operation example:
		.mt-1
			.markdown This is the Markdown Editor! Check out my sweet preview below!
		p See more plugin operation examples on the following page: #[a( href='editors.html' ) Editors].

		p Markup example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="markdown">This is the Markdown Editor! Check out my sweet preview below!</div>'

		p This template provides a #[code data-markdown-params] attribute for Markdown.js that can accept a JSON object with the plugin parameters, e.g.:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="markdown" data-markdown-params=\'{ "footer": "Footer Sample" }\'>...</div>'

		p All available parameters of the plugin can be viewed in its #[a( href="https://github.com/evilstreak/markdown-js#markdown-js" ) GitHub repository].
