#maxlength.panel
	.panel-header
		h3.panel-title Bootstrap Maxlength
	.panel-body
		p Bootstrap Maxlength is used for displaying maximum acceptable symbol length in a text field.
		p Plugin and style sheets linking occurs when the element that matches the #[code [maxlength&#93;] selector is present on the page.

		p Plugin operation example:
		.mt-1
			input.form-control( type='text', maxlength='25', placeholder='Type Here...' )
		p See more plugin operation examples on the following page: #[a( href='plugin-inputs.html' ) Plugin Inputs].

		p Markup example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<input class="form-control" type="text" maxlength="25" placeholder="Type Here...">'

		p All available parameters of the plugin can be viewed in its #[a( href="https://github.com/mimo84/bootstrap-maxlength/#configurable-options" ) GitHub repository].
