#media.panel
	.panel-header
		h3.panel-title Media Object
	.panel-body
		p Media object is an object where an image is located next to the text content (message, tweet, post). Style sheets linking occurs when the #[code .media] primary class is present on the page.
		p Component example:
		.media.group-10
			.media-item
				img( src='https://via.placeholder.com/50x50', width='50', height='50', alt='' )
			.media-body
				h4 Media heading
				div Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

		p Code example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="media">\n'
			= '  <img class="mr-3" src=".../64x64" alt="Generic placeholder image">\n'
			= '  <div class="media-body">\n'
			= '    <h5 class="mt-0">Media heading</h5>\n'
			= '    Cras sit amet nibh libero, in gravida nulla.\n'
			= '  </div>\n'
			= '</div>'

		p This component is a part of #[a( href='https://getbootstrap.com' ) Bootstrap 4] framework. Read more about it on the following page: #[a( href="https://bootstrap-4.ru/docs/4.1/layout/media-object" ) Bootstrap Media Object].
