#multiswitch.panel
	.panel-header
		h3.panel-title MultiSwitch
	.panel-body
		p MultiSwitch is a plugin for creating groups of class switches.
		p Plugin and style sheets linking occurs when the element that matches the #[code [data-multi-switch&#93;] selector is present on the page.

		p Plugin operation example:
		button.btn.btn-success.mt-1( data-sidebar-switch, data-multi-switch!={ targets: '.sidebar', scope: '.sidebar, [data-sidebar-switch]', isolate: '[data-multi-switch]:not([data-sidebar-switch])' } ) Toggle Sidebar

		p Markup example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<button ... data-multi-switch=\'{ "targets": ".target" }\'>...</button>'

		p This template provides a #[code data-multi-switch] attribute for MultiSwitch that can accept a JSON object with the plugin parameters, e.g.:
		pre.highlight.html.scroller.scroller-horizontal
			= '<button ... data-multi-switch=\'{ "targets": ".sidebar", "scope": ".sidebar", "isolate": "[data-multi-switch]" }\'>...</button>'

		p All available parameters of the plugin can be viewed in its #[a( href="https://github.com/OXAYAZA/Multi-Switches#multi-switches" ) GitHub repository].
