#Nprogress.panel
	.panel-header
		h3.panel-title Nprogress
	.panel-body
		p Nprogress is a progress plugin, which is generally used to display loading of the page content. You can see an example of plugin operation on the following page: #[a( href='page-progress-loader.html' ) Page Progress Loader].
		p The plugin connects immediately after the page loading event (#[a( href="https://developer.mozilla.org/ru/docs/Web/Events/load" ) load]). In case of an error during script execution on the page, the loading bar will become red (a #[code .bar-danger] class will be added).
		p For #[code .bar] loading bar, color modifiers are provided:
		ul
			li primary - #[code .bar-primary]
			li secondary - #[code .bar-secondary]
			li success - #[code .bar-success]
			li info - #[code .bar-info]
			li warning - #[code .bar-warning]
			li danger - #[code .bar-danger]
			li light - #[code .bar-light]
			li dark - #[code .bar-dark]

		p All available parameters of the plugin can be viewed in its #[a( href="https://github.com/rstacruz/nprogress/#basic-usage" ) GitHub repository].
