#particles.panel
	.panel-header
		h3.panel-title Particles.js
	.panel-body
		p Particles.js is a plugin for creating canvas with moving particles.
		p Plugin and style sheets linking occurs when the element that matches the #[code #particles-container] selector is present on the page.
		p An example of plugin operation is available on the following page: #[a( href='404.html' ) 404].

		p This template provides a #[code data-particles] attribute for Particles.js that can accept a JSON object with the plugin parameters, e.g.:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div id="particles-container" data-particles=\'{ "color": { "value": "#85e2ff" } }\'>...</div>'

		p All available parameters of the plugin can be viewed in its #[a( href="https://github.com/VincentGarreau/particles.js/" ) GitHub repository].
