#pnotify.panel
	.panel-header
		h3.panel-title PNotify
	.panel-body
		p PNotify is a notification plugin. The plugin and style sheets connect immediately after the page loading event (#[a( href="https://developer.mozilla.org/ru/docs/Web/Events/load" ) window load]).

		p Plugin operation example:
		.mt-1
			button.btn.btn-success( data-pnotify ) Show notification sample

		p More examples are available on the following page: #[a( href='notifications.html' ) Notifications]. The plugin is configured globally in the #[code pnotify] component initialization, in #[code components/base/script.js] file.
		p All available parameters of the plugin can be viewed in its #[a( href="https://github.com/sciactive/pnotify#table-of-contents" ) GitHub repository].
