include ../components/progress/_progress

#progress.panel
	.panel-header
		h3.panel-title Progress
	.panel-body
		p Progress bars components are built from two elements of HTML & CSS to set the width and several attributes. We do not use HTML5 #[code &#60;progress&#62;] element that allows us to place progress bars vertically as well as animate them and place text labels above them. Style sheets linking occurs when the #[code .progress] primary class is present on the page.

		p Component example:
		+progress({ value: 25 })

		p Code example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="progress">\n'
			= '  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>\n'
			= '</div>'

		p This component is a part of #[a( href='https://getbootstrap.com' ) Bootstrap 4] framework. Read more about it on the following page: #[a( href="https://getbootstrap.com/docs/4.1/components/progress" ) Bootstrap Progress].
