#slick.panel
	.panel-header
		h3.panel-title Slick Slider
	.panel-body
		p Slick Slider is a jQuery plugin for creating a content carousel.
		p Plugin and style sheets linking occurs when the element that matches the #[code .slick-slider] selector is present on the page.

		p Plugin operation example:
		.mt-1
			.slick-slider( data-slick-sm!={ slidesToShow: 1, slidesToScroll: 1 }, data-slick!={ arrows: false, dots: true, slidesToShow: 2 } )
				div: .slide-content: h1 1
				div: .slide-content: h1 2
				div: .slide-content: h1 3
				div: .slide-content: h1 4
				div: .slide-content: h1 5
				div: .slide-content: h1 6
		p See more plugin operation examples on the following page: #[a( href='content-sliders.html' ) Content Sliders].

		p Markup example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="slick-slider">\n'
			= '  <div><div class="slide-content">...</div></div>\n'
			= '  ...\n'
			= '  <div><div class="slide-content">...</div></div>\n'
			= '</div>'

		p This template provides a #[code data-slick] attribute for Slick Slider that can accept a JSON object with the plugin parameters, e.g.:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="slick-slider" data-slick=\'{"dots":true,"arrows":true}\'>...</div>'

		p Also, there are attributes for specifying the carousel responsiveness according to breakpoints:
		ul
			li #[code data-slick-sm] - 576px
			li #[code data-slick-md] - 768px
			li #[code data-slick-lg] - 992px
			li #[code data-slick-xl] - 1200px
			li #[code data-slick-xxl] - 1600px

		p An example with responsive attributes:
		pre.highlight.html.scroller.scroller-horizontal
			= '<div class="slick-slider" data-slick=\'{"dots":true,"arrows":true}\' data-slick-sm=\'{"arrows":false}\'>...</div>'

		p All available parameters of the plugin can be viewed on #[a( href="http://kenwheeler.github.io/slick/" ) Slick Slider] website.
