#time-spinner.panel
	.panel-header
		h3.panel-title Time Spinner
	.panel-body
		p Time Spinner is a modified jQuery UI Spinner for specifying time.
		p Plugin and style sheets linking occurs when the element that matches the #[code [data-time-spinner&#93;] selector is present on the page.

		p Plugin operation example:
		.mt-1
			input.form-control.ui-spinner-input( data-time-spinner, type='text', name='spinner', value='08:30 PM' )

		p Markup example:
		pre.highlight.html.scroller.scroller-horizontal
			= '<input class="form-control ui-spinner-input" data-time-spinner type="text" name="spinner" value="08:30 PM">'
