#tooltip.panel
	.panel-header
		h3.panel-title Tooltip
	.panel-body
		p Tooltip can be added to any markup element.
		p Plugin and style sheets linking occurs when an element with the #[code [data-toggle="tooltip"&#93;] attribute is present on the page.

		p Component example:
		button.btn.btn-primary.mt-1( data-toggle='tooltip', title='Tooltip' ) Tooltip

		p Markup example:
		pre.highlight.html= '<button class="btn btn-primary" data-toggle="tooltip">Tooltip</button>'

		p This component is a part of #[a( href='https://getbootstrap.com' ) Bootstrap 4] framework. Read more about it on the following page: #[a( href="https://getbootstrap.com/docs/4.1/components/tooltips" ) Bootstrap Tooltips].
