@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

//variables
$footer-padding: px-to-rem( 40px, $grid-gutter-width/2 );

// Footer small
.footer-small {
	padding: px-to-rem( 15px, $grid-gutter-width/2 );

	@include media-breakpoint-up(xl) {
		padding: px-to-rem( 25px, $grid-gutter-width/2 );
	}

	@include media-breakpoint-up(xxl) {
		padding: $footer-padding;
	}
}
