@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

//variables
$widget-counter-simple-padding: px-to-rem( 15px, 20px );
$widget-counter-boxed-bg: $white;

$widget-counter-body-padding: px-to-rem( 35px, 20px, 20px );

$widget-counter-footer-border-color: $border-color;
$widget-counter-footer-padding: px-to-rem( 15px, 20px );

// Widget counter simple
.widget-counter-simple,
.widget-counter-simple-fill {
	position: relative;
	padding: $widget-counter-simple-padding;
	overflow: hidden;
	border-radius: $border-radius;

	.widget-counter-text {
		color: $text-muted;
	}

	.widget-counter-icon {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 100px;
		line-height: 1;
	}
}

.widget-counter-simple {
	background-color: $white;
}

@each $color, $value in $theme-colors {
	.widget-counter-simple-#{$color} {
		color: $value;
	}

	.widget-counter-simple-#{$color}-fill {
		background-color: $value;
		color: color-yiq( $value );

		.widget-counter-text,
		.widget-counter-title {
			color: color-yiq( rgba( $value, .8 ) );
		}
	}
}

// Widget counter boxed
.widget-counter-boxed {
	overflow: hidden;
	text-align: center;
	background-color: $widget-counter-boxed-bg;
	border-radius: $border-radius;

	.widget-counter-text {
		text-transform: uppercase;
	}

	.widget-counter-text,
	.widget-counter-footer-icon {
		color: $success;
	}

	.widget-counter-body {
		padding: $widget-counter-body-padding;
	}

	.widget-counter-footer {
		padding: $widget-counter-footer-padding;
		border-top: 1px solid $widget-counter-footer-border-color;
		text-transform: uppercase;
	}

	.widget-counter-icon {
		font-size: 4rem;
		line-height: 1;
		opacity: .6;
	}

	.widget-counter-icon-rounded {
		display: inline-block;
		width: 5rem;
		height: 5rem;
		font-size: 3rem;
		line-height: 5rem;
		border-radius: 50%;
		background-color: rgba( $body-color, .1 );
	}

	&.widget-counter-boxed-gradient {
		position: relative;
		z-index: 0;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: linear-gradient( 0deg, lighten( $gray-200, 12% ), darken( $gray-200, 12% ) );
			opacity: .5;
		}
	}

}

* + .widget-counter-text { margin-top: px-to-rem( 7px ); }
* + .widget-counter-title { margin-top: px-to-rem( 7px ); }
.widget-counter-icon-rounded + .widget-counter-title { margin-top: px-to-rem( 15px ); }

[class*='widget-counter-boxed-'] {
	.widget-counter-footer {
		border-top: 0;
	}

	.widget-counter-text,
	.widget-counter-footer-icon {
		color: inherit;
	}
}

@each $color, $value in $theme-colors {
	.widget-counter-boxed-#{$color} {
		color: color-yiq( $value );
		background-color: $value;

		.widget-counter-title {
			color: inherit;
		}

		.widget-counter-footer {
			background-color: rgba( darken( $value, 10% ), .5 );
		}

		.widget-counter-icon-rounded {
			background-color: darken( $value, 10% );
		}

		.widget-counter-footer-dark {
			background-color: $dark;

			.widget-counter-footer-icon {
				color: $value;
			}
		}

		&.widget-counter-boxed-gradient {
			&:before {
				background: linear-gradient( 0deg, lighten( $value, 12% ), darken( $value, 12% ) );
			}
		}
	}
}
