@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins/group";


// Counter box 1
.box-counter-1 {
	display: flex;
	@include group( 18px, 10px )
}

.box-counter-1-item {
	padding-top: px-to-rem( 5px );
}

.box-counter-1-icon {
	width: px-to-rem( 45px );
	height: px-to-rem( 45px );
	font-size: px-to-rem( 25px );
	line-height: px-to-rem( 45px );
	text-align: center;
	color: $gray-800;
	background-color: $gray-300;
	border-radius: $rounded-pill;
}

.counter-1 {
	font-size: px-to-rem( 22px );
	line-height: 1.25;
	color: $dark;

	@include media-breakpoint-up( xl ) {
		font-size: $h3-font-size;
	}
}

.box-counter-1-title {
	font-size: $lead-font-size;
}

@each $color, $value in $theme-colors {
	.box-counter-1-icon-#{$color} {
		color: color-yiq( $value );
		background-color: $value;
	}
}

* + .box-counter-1 {
	margin-top: px-to-rem( 30px );
}

.box-counter-1 + .box-counter-1 {
	margin-top: px-to-rem( 20px );
}

.box-counter-1 + .btn {
	margin-top: px-to-rem( 30px );
}

@include media-breakpoint-up(xl) {
	* + .box-counter-1 {
		margin-top: px-to-rem( 43px );
	}

	.box-counter-1 + .box-counter-1 {
		margin-top: px-to-rem( 20px );
	}

	.box-counter-1 + .btn {
		margin-top: px-to-rem( 40px );
	}
}

// Modifiers
.box-counter-1-lg {
	@include groupX( 10px );

	.box-counter-1-item {
		padding-top: px-to-rem( 2px );
	}

	.counter-1 {
		font-size: px-to-rem( 30px );
		line-height: 1;
	}

	@include media-breakpoint-up( xxl ) {
		.counter-1 {
			font-size: $h1-font-size;
		}

		* + .box-counter-1-title {
			margin-top: px-to-rem( 14px );
		}
	}
}
