<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Template Monster Admin Template">
  <meta property="og:description"
    content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
  <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
  <meta property="og:url" content="http://digipunk.netii.net">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="components/base/base.css">
  <script src="components/base/core.js"></script>
  <script src="components/base/script.js"></script>
</head>

<body>
  <div class="page">
    <!--RD Navbar-->
    {{> header}}



    <!-- Intro-->
    <section class="section section-sm section-layer context-dark pb-1"
      data-preset='{"title":"Intro","category":"intro","reload":false,"id":"intro-4"}'>
      <div class="bg-layer bg-primary novi-background" style="bottom: 9.4%;"></div>
      <div class="container">
        <!-- Breadcrumb-->
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
          <li class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">About us</span></li>
        </ul>
        <h4>About Us</h4>
        <div class="row row-30 mt-4">
          <div class="col-xs-10 col-sm-5" style="padding-top: 8.6%;">
            <h1>Webilizerr will get your website more out-there.</h1>
          </div>
          <div class="col-xs-10 col-sm-7"><img src="images/image-22-730x730.jpg" alt="" width="730" height="730" />
          </div>
        </div>
      </div>
    </section>

    <section class="section section-xl bg-transparent novi-background"
      data-preset='{"title":"Speakers","category":"person","reload":false,"id":"speakers"}'>
      <div class="container">
        <h1>Meet the team!</h1>
        <div class="row row-40 row-lg-50 row-xl-70 row-xxl-90">
          <div class="col-sm-6 col-md-4" data-animate='{"class":"fadeInUp"}'>
            <!-- Person-->
            <div class="person person-gray person-md"><a class="person-img-link" href="/team-member"><img
                  class="person-img" src="images/persons/audi.png" alt="" width="400" height="400" /></a>
              <div class="person-title"><a>Audi Birna</a></div>
              <div class="person-subtitle">Lead Marketing expert</div>
              <div class="person-social"><a class="person-icon icon-social novi-icon int-facebook"
                  href="https://www.facebook.com/audurbirna"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4" data-animate='{"class":"fadeInUp","delay":"0.15s"}'>
            <!-- Person-->
            <div class="person person-gray person-md"><a class="person-img-link" href="/team-member"><img
                  class="person-img" src="images/persons/addi.png" alt="" width="400" height="400" /></a>
              <div class="person-title"><a>Johannes</a></div>
              <div class="person-subtitle">Senior Developer</div>
              <div class="person-social"><a class="person-icon icon-social novi-icon int-facebook"
                  href="https://www.facebook.com/profile.php?id=100003710606936"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4" data-animate='{"class":"fadeInUp","delay":"0.3s"}'>
            <!-- Person-->
            <div class="person person-gray person-md"><a class="person-img-link" href="/team-member"><img
                  class="person-img" src="images/persons/sindri.png" alt="" width="400" height="400" /></a>
              <div class="person-title"><a>Sindri Thor</a></div>
              <div class="person-subtitle">CEO, Founder, Creative Director</div>
              <div class="person-social"><a class="person-icon icon-social novi-icon int-facebook"
                  href="https://www.facebook.com/SindriS55"></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- Section divider-->
    <section class="section novi-background"
      data-preset='{"title":"Divider Section","category":"content box","reload":false,"id":"divider-section"}'>
      <div class="container">
        <hr class="divider divider-sm">
      </div>
    </section>

    <!-- Vision-->
    <section class="section section-lg bg-transparent novi-background"
      data-preset='{"title":"Vision","category":"content box","reload":false,"id":"vision"}'>
      <div class="container">
        <div class="row row-30 novi-disabled">
          <div class="col-md-5">
            <h4>Vision</h4>
          </div>
          <div class="col-md-7">
            <h2 class="text-primary">We are a independent family owned business. Founded in 2019, seeking each time to
              build a better quality product and service.</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- Section divider-->
    <section class="section novi-background"
      data-preset='{"title":"Divider Section","category":"content box","reload":false,"id":"divider-section"}'>
      <div class="container">
        <hr class="divider divider-sm">
      </div>
    </section>
    <!-- Values-->
    <section class="section section-lg bg-transparent novi-background"
      data-preset='{"title":"Values","category":"content box","reload":false,"id":"values"}'>
      <div class="container">
        <div class="row row-30 novi-disabled">
          <div class="col-md-5">
            <h4>Values</h4>
            <p>Webilizerr is driven by 7 various core values that directly influence our work.</p>
          </div>
          <div class="col-md-7">
            <ol class="list list-ordered h3">
              <li class="list-item">Creativity</li>
              <li class="list-item">Quality</li>
              <li class="list-item">Service</li>
              <li class="list-item">Honesty</li>
              <li class="list-item">Commitment</li>
              <li class="list-item">Integrity</li>
              <li class="list-item">Care</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- Partners-->
    <section class="section section-lg bg-200 novi-background"
      data-preset='{"title":"Partners","category":"partner","reload":false,"id":"partners-4"}'>
      <div class="container">
        <div class="row row-30 novi-disabled">
          <div class="col-md-5 col-xl-4">
            <h4>Our partners</h4>
            <p>These companies are our most newly signed partners whose efforts support our goals.</p>
          </div>
          <div class="col-md-7 col-xl-6 offset-xl-1">
            <div class="row row-30 row-lg-40">
              <div class="col-6">
                <div class="partner"><img class="partner-image" src="images/partners/partner-1-290x120.jpg" alt=""
                    width="290" height="120" />
                </div>
              </div>
              <div class="col-6">
                <div class="partner"><img class="partner-image" src="images/partners/partner-2-290x120.jpg" alt=""
                    width="290" height="120" />
                </div>
              </div>
              <div class="col-6">
                <div class="partner"><img class="partner-image" src="images/partners/partner-3-290x120.jpg" alt=""
                    width="290" height="120" />
                </div>
              </div>
              <div class="col-6">
                <div class="partner"><img class="partner-image" src="images/partners/partner-4-290x120.jpg" alt=""
                    width="290" height="120" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section divider-->
    <section class="section novi-background"
      data-preset='{"title":"Divider Section","category":"content box","reload":false,"id":"divider-section"}'>
      <div class="container">
        <hr class="divider divider-sm">
      </div>
    </section>

    <!-- Facts & statistics-->
    <section class="section section-lg bg-transparent novi-background"
      data-preset='{"title":"Facts & Statistics","category":"infographics","reload":true,"id":"facts-statistics"}'>
      <div class="container">
        <h4>Facts & statistics</h4>
        <div class="row row-30 row-offset-md">
          <div class="col-6 col-md-3">
            <!-- Counter-->
            <div class="counter">
              <div class="counter-body">
                <div class="counter-value h1"><span data-counter="">5</span><span class="counter-postfix">+</span>
                </div>
                <div class="counter-title">Team members</div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <!-- Counter-->
            <div class="counter">
              <div class="counter-body">
                <div class="counter-value h1"><span data-counter="">2019</span>
                </div>
                <div class="counter-title">Year founded</div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <!-- Counter-->
            <div class="counter">
              <div class="counter-body">
                <div class="counter-value h1"><span data-counter="">476</span><span class="counter-postfix"></span>
                </div>
                <div class="counter-title">Clients</div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <!-- Counter-->
            <div class="counter">
              <div class="counter-body">
                <div class="counter-value h1"><span data-counter="">6</span><span class="counter-postfix">K</span>
                </div>
                <div class="counter-title">Website scanned</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Footer default-->
    {{> footer}}
  </div>
</body>

</html>