<!DOCTYPE html>
<html lang="en">

<head>
  <title>Features</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Template Monster Admin Template">
  <meta property="og:description"
    content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
  <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
  <meta property="og:url" content="http://digipunk.netii.net">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="components/base/base.css">
  <script src="components/base/core.js"></script>
  <script src="components/base/script.js"></script>
  <script src="https://kit.fontawesome.com/6012c7d8e6.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="page">
    <!--RD Navbar-->
    {{> header}}
    <!-- Breadcrumb default-->
    <section class="section section-sm bg-transparent novi-background"
      data-preset='{"title":"Breadcrumb","category":"breadcrumb","reload":false,"id":"breadcrumb-6"}'>
      <div class="container">
        <!-- Breadcrumb-->
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
          <li class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Features</span></li>
        </ul>
      </div>
    </section>
    <!-- Our team-->
    <section class="section section-lg bg-transparent novi-background"
      data-preset='{"title":"Our Team","category":"person, isotope","reload":true,"id":"our-team-2"}'>
      <div class="container">
        <!--{DEL DIST BUILDER}-->
        <!-- TODO отличаются отступы-->
        <!--{DEL}-->
        <h1>Features</h1>
        <div class="isotope-wrap isotope-line">
          <p>
            Getting your website to rank in Google is harder and more competitive than ever. There are many factors such
            as on page content, performance, social factors and backlink profile that search engines like Google use to
            determine which sites should rank highest.
            <br><br>
            Webilizerr is a free SEO Audit Tool that will perform a detailed SEO Analysis across 100 website data
            points, and provide clear and actionable recommendations for steps you can take to improve your online
            presence and ultimately rank better in Search Engine Results.
          </p>
          <br><br>


          <br><br>
          <h5>Here below is a list of factors that we scan for. </h5>
          <br><br>



          <div class="isotope-filters">
            <div class="isotope-filter active" data-isotope-filter="*">All</div>
            <div class="isotope-filter" data-isotope-filter=".seo">SEO</div>
            <div class="isotope-filter" data-isotope-filter=".usability">Usability</div>
            <div class="isotope-filter" data-isotope-filter=".performance">Performance</div>
            <div class="isotope-filter" data-isotope-filter=".social">Social</div>
            <div class="isotope-filter" data-isotope-filter=".security">Security</div>
            <div class="isotope-filter" data-isotope-filter=".tech">Technology</div>

          </div>
          <div class="isotope row row-30 row-md-50 row-xl-70" data-lightgallery>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Title Tag</div>
                <div class="blurb-text">Does each page have title tag.</div>

              </article>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">



                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Meta Description Tag</div>
                <div class="blurb-text">Does each page have meta description tag.</div>

              </article>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Body Content</div>
                <div class="blurb-text">How the whole body content render.</div>

              </article>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Header Tags</div>
                <div class="blurb-text">Does each page have header tag.</div>

              </article>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Keyword Consistency</div>
                <div class="blurb-text">How frequently keywords are used per page and total.</div>

              </article>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Phrases Consistency</div>
                <div class="blurb-text">How frequently phrases are used per page and total.</div>

              </article>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Amount of Content</div>
                <div class="blurb-text">How much content is used.</div>

              </article>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Image Alt Attributes</div>
                <div class="blurb-text">If any images are missing ALT attributes.</div>

              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Backlinks</div>
                <div class="blurb-text">Information about the website backlinks. <div>

              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">On-Page Link Structure</div>
                <div class="blurb-text">Information about the links on the website.</div>

              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Broken Links</div>
                <div class="blurb-text">Displays links on-page that are broken.</div>

              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Friendly URLs</div>
                <div class="blurb-text">Check if links are easily human or search engine readable. </div>

              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Noindex Tag Test
                </div>
                <div class="blurb-text">If page is using the Noindex Tag, which prevents indexing.</div>

              </article>
            </div>


            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Robots.txt</div>
                <div class="blurb-text">Check if website has robots.txt file.</div>

              </article>
            </div>


            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Noindex Header Test</div>
                <div class="blurb-text">If page is using the Noindex Header, which prevents indexing.</div>

              </article>
            </div>


            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">XML Sitemaps</div>
                <div class="blurb-text">If website appears to have an XML sitemap.</div>

              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Analytics</div>
                <div class="blurb-text">Check if page is using a analytic tool.</div>

              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item seo">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <span style="font-size: 3em; color: #31c77f;">
                  <i class="fas fa-search"></i>
                </span>
                <div class="blurb-title h5">Schema.org Structured Data</div>
                <div class="blurb-text">Check if page is using Schema.org structured data.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item usability">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-laptop-house"></i>
                </div>
                <div class="blurb-title h5">Device Rendering</div>
                <div class="blurb-text">How page renders on different devices (smartphones/tablets/etc) </div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item usability">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed"> <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-laptop-house"></i> </div>
                <div class="blurb-title h5">Use of Mobile Viewports</div>
                <div class="blurb-text">Specifies a viewport matching the device's size, if allowing to render
                  appropriately across devices.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item usability">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed"> <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-laptop-house"></i> </div>
                <div class="blurb-title h5">Flash Used?</div>
                <div class="blurb-text">Check if Flash is used on page.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item usability">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed"> <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-laptop-house"></i> </div>
                <div class="blurb-title h5">iFrames Used?</div>
                <div class="blurb-text">Check if iFrames is used on page.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item usability">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed"> <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-laptop-house"></i> </div>
                <div class="blurb-title h5">Favicon</div>
                <div class="blurb-text">If page has specified a favicon. </div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item usability">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed"> <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-laptop-house"></i> </div>
                <div class="blurb-title h5">Legible Font Sizes</div>
                <div class="blurb-text">If text on page appears to be legible across devices.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item usability">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-laptop-house"></i>
                  </span>
                </div>
                <div class="blurb-title h5">Tap Target Sizing</div>
                <div class="blurb-text">If links and buttons on page appear to be appropriately sized for a user to
                  easily tap on a touchscreen.</div>
              </article>
            </div>





            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item performance">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-chart-line"></i>
                  </span> </div>
                <div class="blurb-title h5">Page Speed Info</div>
                <div class="blurb-text">Server response time is checked</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item performance">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-chart-line"></i>
                  </span></span></div>
                <div class="blurb-title h5"> Page Size Info</div>
                <div class="blurb-text"> Page file size is checked regarding load speed for user experiance.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item performance">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-chart-line"></i>
                  </span></span></div>
                <div class="blurb-title h5"> Number of Resources</div>
                <div class="blurb-text">This check displays the total number of files, and types, that need to be
                  retrieved from web servers to load your page. </div>
              </article>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item performance">

              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-chart-line"></i>
                  </span></span></div>
                <div class="blurb-title h5">JavaScript Errors </div>
                <div class="blurb-text"> Reports any JavaScripts errors</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item performance">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-chart-line"></i>
                  </span></div>
                <div class="blurb-title h5">GZIP Compression </div>
                <div class="blurb-text">Checks if website is using GZIP compression. </div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item performance">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-chart-line"></i>
                  </span></div>
                <div class="blurb-title h5"> Minification</div>
                <div class="blurb-text"> Checks if JavaScript and CSS files are minified.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item performance">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-chart-line"></i>
                  </span></div>
                <div class="blurb-title h5"> Optimize Images</div>
                <div class="blurb-text"> Checks if page has properly formatting and compressing images.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item performance">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-chart-line"></i>
                  </span></div>
                <div class="blurb-title h5"> Deprecated HTML</div>
                <div class="blurb-text"> Checks if page has deprecated HTML tags.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item performance">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-chart-line"></i>
                  </span></div>
                <div class="blurb-title h5">Inline Styles </div>
                <div class="blurb-text"> If page is using inline styles. </div>
              </article>
            </div>


            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item social">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="far fa-thumbs-up"></i>
                  </span></div>
                <div class="blurb-title h5">Facebook Connected </div>
                <div class="blurb-text"> Is page linked to a Facebook Page. </div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item social">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="far fa-thumbs-up"></i>
                  </span></div>
                <div class="blurb-title h5">Facebook Open Graph Tags </div>
                <div class="blurb-text"> Does page use Facebook Open Graph Tags. </div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item social">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="far fa-thumbs-up"></i>
                  </span></div>
                <div class="blurb-title h5">Facebook Pixel </div>
                <div class="blurb-text"> Checks if page uses Facebook Pixel. </div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item social">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="far fa-thumbs-up"></i>
                  </span></div>
                <div class="blurb-title h5">Twitter Connected </div>
                <div class="blurb-text"> Does page have a linked Twitter account.</div>
              </article>
            </div>


            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item social">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="far fa-thumbs-up"></i>
                  </span></div>
                <div class="blurb-title h5">Twitter Activity </div>
                <div class="blurb-text"> Checks Twitter activity strenght.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item social">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="far fa-thumbs-up"></i>
                  </span></div>
                <div class="blurb-title h5">Twitter Cards</div>
                <div class="blurb-text"> Checks if page uses Twitter Cards.</div>
              </article>
            </div>


            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item social">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="far fa-thumbs-up"></i>
                  </span></div>
                <div class="blurb-title h5">Instagram Connected</div>
                <div class="blurb-text"> Does page have a linked Instagram account.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item social">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="far fa-thumbs-up"></i>
                  </span></div>
                <div class="blurb-title h5">YouTube Connected</div>
                <div class="blurb-text"> Does page have a linked YouTube account.</div>
              </article>
            </div>


            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item social">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="far fa-thumbs-up"></i>
                  </span></div>
                <div class="blurb-title h5">LinkedIn Connected </div>
                <div class="blurb-text"> Does page have a linked LinkedIn account. </div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item security">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-shield-alt"></i>
                  </span></div>
                <div class="blurb-title h5">SSL Enabled</div>
                <div class="blurb-text"> Checks if page has SSL enabled. </div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item security">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-shield-alt"></i>
                  </span></div>
                <div class="blurb-title h5">HTTPS Redirect</div>
                <div class="blurb-text">Checks if page successfully redirects to a HTTPS (SSL secure) version. </div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item security">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-shield-alt"></i>
                  </span></div>
                <div class="blurb-title h5">Malware Check </div>
                <div class="blurb-text"> Checks if website has been flagged as safe by multiple malware scanners</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item security">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-shield-alt"></i>
                  </span></div>
                <div class="blurb-title h5">Email Privacy</div>
                <div class="blurb-text"> Checks if email addesses can be found on page in plain-text.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item tech">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-code-branch"></i> </span></div>
                <div class="blurb-title h5">Technology List</div>
                <div class="blurb-text"> Lists out all software or coding libraries that is found on page.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item tech">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-code-branch"></i> </span></div>
                <div class="blurb-title h5">Server IP Address</div>
                <div class="blurb-text"> Checks out the page server IP address.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item tech">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-code-branch"></i> </span></div>
                <div class="blurb-title h5">DNS Servers</div>
                <div class="blurb-text"> Lists out DNS servers.</div>
              </article>
            </div>

            <div class="col-xs-6 col-md-4 col-lg-3 isotope-item tech">
              <!-- Person-->
              <article class="blurb blurb-boxed">
                <div class="blurb-embed">
                  <span style="font-size: 3em; color: #31c77f;">
                    <i class="fas fa-code-branch"></i> </span></div>
                <div class="blurb-title h5">Web Server</div>
                <div class="blurb-text">Checks what kind of web server the page runs on.</div>
              </article>
            </div>

            <script>
              var cards = $(".isotope-item");
              for (var i = 0; i < cards.length; i++) {
                var target = Math.floor(Math.random() * cards.length - 1) + 1;
                var target2 = Math.floor(Math.random() * cards.length - 1) + 1;
                cards.eq(target).before(cards.eq(target2));
            </script>



          </div>
        </div>
      </div>
    </section>
    {{> footer}}
  </div>
</body>

</html>