<!DOCTYPE html>
<html lang="en">

<head>
  <title>Webilizerr Website Audit and SEO Review</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Website Audit and SEO Review ">
  <meta property="og:description"
    content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
  <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
  <meta property="og:url" content="http://digipunk.netii.net">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="components/base/base.css">
  <link rel="stylesheet" href="components/base/alerts.css">

  <style>
    .alertCST {
      position: absolute !important;
      top: 5px;
      right: 5px;
      width: fit-content !important;
    }
  </style>

  <script src="components/base/core.js"></script>
  <script src="components/base/script.js"></script>
</head>

<body>
  <div class="page">
    <!--RD Navbar-->
    {{> header}}


    {{!-- <section
      class="vide section section-lg text-center d-flex align-items-center min-vh-100 overlay-dark-02 context-dark novi-vide"
      data-vide-bg="video/bg-video-1" data-vide-options="posterType: jpg"
      data-preset="{&quot;title&quot;:&quot;Intro&quot;,&quot;category&quot;:&quot;intro, media&quot;,&quot;reload&quot;:true,&quot;id&quot;:&quot;intro-7&quot;}">
      <div
        style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; background-image: none;">
        <video autoplay="" loop="" muted=""
          style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; opacity: 1; width: 1922px; height: auto;">
          <source src="video/bg-video-1.mp4" type="video/mp4">
          <source src="video/bg-video-1.webm" type="video/webm">
          <source src="video/bg-video-1.ogv" type="video/ogg"></video></div>
      <div class="vide-inner">
        <div class="container animated fadeInUp" data-animate="{&quot;class&quot;:&quot;fadeInUp&quot;}">
          <div class="row justify-content-center novi-disabled">
            <div class="col-lg-7 col-xl-6">
              <h1>Scan Any Website</h1>
              <form class="form-inline justify-content-center group-20" method="url">
                <div class="form-inline-group has-error">
                  <input class="form-control form-control-has-validation form-control-last-child" type="url" name="url"
                    value="http://" data-constraints="@Required">
                </div>
                <button class="btn btn-lg btn-primary">Scan!</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </section> --}}


    <!-- Vide-->
    <section
      class="vide section section-lg text-center d-flex align-items-center min-vh-100 overlay-dark-02 context-dark novi-vide"
      data-vide-bg="video/bg-video-1" data-vide-options="posterType: jpg"
      data-preset="{&quot;title&quot;:&quot;Intro&quot;,&quot;category&quot;:&quot;intro, media&quot;,&quot;reload&quot;:true,&quot;id&quot;:&quot;intro-7&quot;}">
      <div
        style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; background-image: none;">
        <video autoplay="" loop="" muted=""
          style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; opacity: 1; width: 1922px; height: auto;">
          <source src="video/bg-video-1.mp4" type="video/mp4">
          <source src="video/bg-video-1.webm" type="video/webm">
          <source src="video/bg-video-1.ogv" type="video/ogg"></video></div>
      <div class="vide-inner">
        <div class="container animated fadeInUp" data-animate="{&quot;class&quot;:&quot;fadeInUp&quot;}">
          <div class="row justify-content-center novi-disabled">
            <div class="col-lg-7 col-xl-6">
              <h1>Scan Any Website</h1>
              <form class="form-inline justify-content-center group-20" method="post">
                <div class="form-inline-group has-error">
                  <input class="form-control form-control-has-validation form-control-last-child" type="url" name="url"
                    value="http://" data-constraints="@Required">
                </div>
                <button class="btn btn-lg btn-primary">Scan!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {{#if message}}
      <div class="row justify-content-center alertCST">
        <div>
          <div class="close-button-wrapper">
            <div class="close-button alertCST-close"></div>
          </div>
          <div class="snackbar snackbar-danger">
            <div class="snackbar-inner">
              <div class="snackbar-title"><span class="icon snackbar-icon novi-icon int-warning"></span>
                <span class="alertCST-text">{{{message}}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    </section>
    {{> footer}}
  </div>
  <script src="components/base/alertsHome.js"></script>
</body>

</html>