<!DOCTYPE html>
<html lang="en">

<head>
    <title>Webilizerr Buy More Scans</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description"
        content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
    <meta property="og:url" content="http://digipunk.netii.net">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="components/base/base.css">
    <script src="components/base/core.js"></script>
    <script src="components/base/script.js"></script>
</head>

<body>
    <div class="page">
        <!--RD Navbar-->
        {{> header}}

        <section class="section section-lg bg-gradient-animated novi-background"
            data-preset='{"title":"Layouts","category":"tab, gallery, thumbnail","reload":true,"id":"layouts"}'>
            <div class="container-fluid">
                <h1 class="text-center" data-animate='{"class":"fadeInUp"}'>
                    Plans & Pricing<br class="d-none d-xs-block">
                </h1>







            </div>
        </section>


        {{> footer}}
    </div>
</body>

</html>