<!DOCTYPE html>
<html lang="en">

<head>
  <title>Privacy Policy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Template Monster Admin Template">
  <meta property="og:description"
    content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
  <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
  <meta property="og:url" content="http://digipunk.netii.net">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="components/base/base.css">
  <script src="components/base/core.js"></script>
  <script src="components/base/script.js"></script>
</head>

<body>
  <div class="page">
    <!--RD Navbar-->
    {{> header}}

    <!-- Breadcrumb default-->
    <section class="section section-sm bg-transparent novi-background"
      data-preset='{"title":"Breadcrumb","category":"breadcrumb","reload":false,"id":"breadcrumb-1"}'>
      <div class="container">
        <!-- Breadcrumb-->
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
          <li class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Privacy Policy
            </span></li>
        </ul>
        <h4>Privacy matters but it can be confusing. This page explains our approach to privacy on our Webilizerr
          website and how it affects you.</h4>
      </div>
    </section>


    <!-- Bootstrap accordion-->
    <section class="section section-lg bg-transparent novi-background"
      data-preset='{"title":"Accordion Sample","category":"accordion","reload":true,"id":"accordion-sample-1"}'>
      <div class="container">
        <h2 class="text-center">Privacy Policy</h2>
        <div class="accordion accrordion-bootstrap">
          <div class="accordion-item accordion-bootstrap-sample-1"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-1","isolate":".accordion-bootstrap-sample-group"}'>
              Short version

            </a>
            <div class="accordion-body accordion-bootstrap-sample-1" data-multi-switch-target-slide>
              <h4>Welcome to our Privacy Policy page! When you use our web site services, you trust us
                with your information.</h4>
              <div class="row row-15">
                <div class="col-md-6">
                  ★ We collect anonymous statistics about your visit to our website, like which of our pages you viewed.

                  <br><br>
                  ★ If you sign up with us we take great care to keep your information safe and we’ll never share it
                  with others without your express permission.

                </div>
                <div class="col-md-6">
                  ★ We never share your data with 3rd parties except to help us deliver our own services.

                  <br><br>
                  ★ We may send you email or mobile message for updates or promotions regarding our service.

                </div>
                These are just the key points. If you need detail, keep reading.


              </div>
            </div>
          </div>
          <div class="accordion-item accordion-bootstrap-sample-2"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-2","isolate":".accordion-bootstrap-sample-group"}'>
              Measuring our visitors
            </a>
            <div class="accordion-body accordion-bootstrap-sample-2" data-multi-switch-target-slide>
              <div class="row row-15">
                <div class="col-md-6">We measure visitors to our websites and products using Google Analytics. This
                  service records what pages you view within our site, how you arrived at our site and some basic
                  information about your computer.
                  <br><br>
                  We anonymize the data in Google Analytics – so we don’t know who you are; just that somebody visited
                  our site.
                  <br><br>
                  The information we collect helps us understand what parts of our sites are doing well, how people
                  arrive at our site and so on. Like most websites, we use this information to make our website better.
                </div>
                <div class="col-md-6">You can learn more about Google Analytics or opt out if you wish. Google
                  Analytics data is automatically deleted 26 months after your last visit.
                  <br><br>
                  Our websites and products include videos hosted by Wistia. They record anonymous, aggregated
                  statistics that help us optimize our video content (e.g. at which points in the video are people
                  most likely to stop watching).</div>
              </div>
            </div>
          </div>

          <div class="accordion-item accordion-bootstrap-sample-3"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-3","isolate":".accordion-bootstrap-sample-group"}'>
              Discussion comments

            </a>
            <div class="accordion-body accordion-bootstrap-sample-3" data-multi-switch-target-slide>
              <div class="row row-15">
                <div class="col-md-6">We allow visitors to discuss articles on our blog via third party discussion
                  apps.<br><br>
                  Before you can leave a comment, you must first press a button which loads the discussion plugin.
                  Depending on the date they were published, some articles use Disqus and others use the Facebook
                  comments plugin.</div>
                <div class="col-md-6">Once you have opted in to leaving comments, these plugins may track your visit
                  to
                  our site. Disqus and/or Facebook will know what pages you viewed and what you write in any comments
                  you leave. Of course all comments you leave are also publicly visible on the Internet alongside your
                  name, so we do not imagine this is a concern for many people.
                  <br><br>
                  If you log in via social network, the providers of these plugins will be able to link your activity
                  to
                  that network. In this way, your activity may be personally identifiable.</div>
              </div>
            </div>
          </div>

          <div class="accordion-item accordion-bootstrap-sample-4"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-4","isolate":".accordion-bootstrap-sample-group"}'>
              Live chat

            </a>
            <div class="accordion-body accordion-bootstrap-sample-4" data-multi-switch-target-slide>
              <div class="row row-15">
                <div class="col-md-6">We use Intercom so you can talk to us while browsing our website or using our
                  products. Much like an analytics service, Intercom records the pages you view within our site and
                  some
                  basic information about your computer. This information helps our sales and support staff provide
                  you
                  with the best help possible.
                  <br><br>
                  While browsing our websites, your information is anonymized – Intercom only knows your email address
                  and name if you choose to share it as part of a live chat. However, when you log into one of our
                  tools, we share basic information with Intercom such as your name and email address so that we can
                  better provide you with support should you contact us.</div>
                <div class="col-md-6">We also use Intercom to send you relevant messages (by email or pop-up) based on
                  your current activity, e.g. a welcome message with links to our help documentation when you log into
                  one of our products for the first time.
                  <br><br>
                  Intercom data is deleted 9 months after your last visit.
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item accordion-bootstrap-sample-35"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-5","isolate":".accordion-bootstrap-sample-group"}'>
              Support


            </a>
            <div class="accordion-body accordion-bootstrap-sample-5" data-multi-switch-target-slide>

              <div class="row row-15">
                <div class="col-md-12">If you email our technical support, we store this communication in Zendesk.
                  Your
                  email address, name and any other information contained in your message to us will be stored by
                  them.
                </div>

              </div>
            </div>
          </div>

          <div class="accordion-item accordion-bootstrap-sample-6"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-6","isolate":".accordion-bootstrap-sample-group"}'>
              If you sign up for a service

            </a>
            <div class="accordion-body accordion-bootstrap-sample-6" data-multi-switch-target-slide>

              <div class="row row-15">
                <div class="col-md-6">When you sign up for or use any of our services – paid or otherwise – we will
                  record specific personal information about you, such as your name and email address.
                  <br><br>
                  We will also collect and store information about your use of our services so as to improve them. For
                  example, we keep a log of what features are being used at any time.
                  <br><br>
                  We also log account and transaction history for accounting purposes, and to monitor our business
                  activities.</div>
                <div class="col-md-6">Any data you provide us with is securely stored in databases managed by us, and
                  hosted by Amazon AWS. Amazon does not have access to your data.
                  <br><br>
                  We delete your data from our servers 12 months after you terminate your service with us. We may
                  retain
                  some information where it is legally necessary (e.g. for accounting reasons). If you wish for us to
                  delete your personal data sooner, please email us at info@webilizerr.com.</div>
              </div>
            </div>
          </div>
          <div class="accordion-item accordion-bootstrap-sample-7"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-7","isolate":".accordion-bootstrap-sample-group"}'>
              Improving your experience

            </a>
            <div class="accordion-body accordion-bootstrap-sample-7" data-multi-switch-target-slide>
              <div class="row row-15">
                <div class="col-md-6">Once logged in to one of our products, we may also track your visit using Hotjar
                  or FullStory.
                  <br><br>
                  You can opt-out to the use of these services across all apps (not just Webilizerr products).
                </div>

                <div class="col-md-6">These services record your activity while using our products so that we can
                  analyze the experience of our users and diagnose problems. Sensitive data, such as passwords and
                  payment details, are obscured from the recordings.</div>
              </div>
            </div>
          </div>

          <div class="accordion-item accordion-bootstrap-sample-8"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-8","isolate":".accordion-bootstrap-sample-group"}'>
              Emails
            </a>
            <div class="accordion-body accordion-bootstrap-sample-8" data-multi-switch-target-slide>
              <div class="row row-15">
                <div class="col-md-6">We may send you email notifications regarding your service (such as invoices)
                  or
                  which you have specifically requested (such as newsletters or notifications when a report is
                  completed). You have the ability to opt out of any of this communication at any time.</div>
                <div class="col-md-6">We will never provide your personal information or email address to any third
                  parties except where they are specifically employed to help deliver our own services, as detailed
                  above.

                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item accordion-bootstrap-sample-14"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-14","isolate":".accordion-bootstrap-sample-group"}'>
              Mobile Messages
            </a>
            <div class="accordion-body accordion-bootstrap-sample-14" data-multi-switch-target-slide>
              <div class="row row-15">
                <div class="col-md-6">We may send you sms messages notifications regarding your service (such as
                  invoices) or
                  which you have specifically requested (such as newsletters or notifications when a report is
                  completed). You have the ability to opt out of any of this communication at any time.</div>
                <div class="col-md-6">We will never provide your personal information or email address to any third
                  parties except where they are specifically employed to help deliver our own services, as detailed
                  above.

                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item accordion-bootstrap-sample-9"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-9","isolate":".accordion-bootstrap-sample-group"}'>
              Paying for our services


            </a>
            <div class="accordion-body accordion-bootstrap-sample-9" data-multi-switch-target-slide>
              <div class="row row-15">
                <div class="col-md-6">We use Stripe to bill for all our products online except Sitebeam, where we
                  use
                  a combination of SagePay, PayPal and Recurly. When paying by credit card, Webilizerr themselves do
                  not
                  ever have any access to your credit card details. We share information with our payment providers
                  only to the extent necessary for the purposes of processing payments you make via our website.

                </div>
                <div class="col-md-6">If you pay for our services via invoice, the information required to raise the
                  invoice will be stored in Xero.
                  <br><br>
                  However you pay, details of your financial transactions with us are stored in ChartMogul for the
                  purposes of internal reporting.</div>
              </div>
            </div>
          </div>

          <div class="accordion-item accordion-bootstrap-sample-10"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-10","isolate":".accordion-bootstrap-sample-group"}'>
              Internal communication

            </a>
            <div class="accordion-body accordion-bootstrap-sample-10" data-multi-switch-target-slide>
              <div class="row row-15">
                <div class="col-md-12">We use Slack, Dropbox, G Suite and ProsperWorks for internal communication
                  relating to sales and support of our products. In order to fulfil their duties, our staff may use
                  these services to share basic contact details with colleagues, such as your name and email
                  address.<br><br>
                  In all cases, our staff treat your data with care and abide by our data protection policies.
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item accordion-bootstrap-sample-11"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-11","isolate":".accordion-bootstrap-sample-group"}'>
              Security

            </a>
            <div class="accordion-body accordion-bootstrap-sample-11" data-multi-switch-target-slide>
              <div class="row row-15">
                <div class="col-md-6">
                  Webilizerr take many precautions to prevent the loss, misuse or alteration of your personal
                  information. These precautions include:
                  <br><br>
                  ★ Use of SSL encryption for sensitive data<br><br>
                  ★ Hardware stored in secured data centers behind firewalls<br><br>
                  ★ All access to information restricted by password and/or secure key<br><br>
                  ★ Restrictions to what information can be accessed via any location</div>
                <div class="col-md-6">Whilst we take great care to ensure any confidential information remains
                  protected we cannot guarantee the security of data sent over the Internet.
                  <br><br>
                  Of course you are responsible for keeping your password and user details confidential. Nobody at
                  Webilizerr will ever ask you for your password, so please don’t trust anybody asking you for it.
                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item accordion-bootstrap-sample-12"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-12","isolate":".accordion-bootstrap-sample-group"}'>
              Updates to this policy

            </a>
            <div class="accordion-body accordion-bootstrap-sample-12" data-multi-switch-target-slide>
              <div class="row row-15">
                <div class="col-md-12">We may update this privacy policy from time-to-time, particularly as
                  technology
                  changes. You can always check this page for the latest version. We may also notify you of changes
                  to
                  our privacy policy by email.</div>

              </div>
            </div>
          </div>
          <div class="accordion-item accordion-bootstrap-sample-13"><a
              class="accordion-header accordion-bootstrap-sample-group" href="#"
              data-multi-switch='{"targets":".accordion-bootstrap-sample-13","isolate":".accordion-bootstrap-sample-group"}'>
              Any questions?

            </a>
            <div class="accordion-body accordion-bootstrap-sample-13" data-multi-switch-target-slide>
              <div class="row row-15">
                <div class="col-md-12">If you have any questions about this privacy policy or your personal data,
                  please write to us by email to info@webilizerr.com </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
    <!-- Footer default-->
    {{> footer}}

  </div>
</body>

</html>