<!DOCTYPE html>
<html lang="en">

<head>
    <title>Privacy Policy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description"
        content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
    <meta property="og:url" content="http://digipunk.netii.net">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="components/base/base.css">
    <script src="components/base/core.js"></script>
    <script src="components/base/script.js"></script>
</head>

<body>
    <div class="page">
        <!--RD Navbar-->
        {{> header}}

        <!-- Breadcrumb default-->
        <section class="section section-sm bg-transparent novi-background"
            data-preset='{"title":"Breadcrumb","category":"breadcrumb","reload":false,"id":"breadcrumb-1"}'>
            <div class="container">
                <!-- Breadcrumb-->
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
                    <li class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Recently Scanned
                        </span></li>
                </ul>

            </div>
        </section>


        <section class="section section-lg bg-transparent novi-background"
            data-preset="{&quot;title&quot;:&quot;Quote Default&quot;,&quot;category&quot;:&quot;quote&quot;,&quot;reload&quot;:false,&quot;id&quot;:&quot;quote-default-2&quot;}">
            <div class="container">
                <h2 class="text-center">Recently Scanned</h2>
                <p>I will have a designer fix this later. Just get Rank, URL and Time and i will fix the design
                    afterwords.</p>
                <div class="row row-40 row-md-50">
                    <div class="col-sm-6 col-lg-4">

                        <div class="container">
                            <div class="row novi-disabled">
                                <div class="col">
                                    <!-- Alert-->
                                    <div class="alert alert-primary">
                                        <div class="alert-inner">
                                            <div class="progress-circle">

                                                <div class="progress-circle-inner">

                                                    <svg class="progress-circle-bar" x="0" y="0" width="50" height="50"
                                                        viewBox="0 0 170 170">
                                                        <defs>
                                                            <linearGradient id="kwe1bjvhlj8">
                                                                <stop offset="0%" stop-color="#7d2eff"></stop>
                                                                <stop offset="100%" stop-color="#c728ff"></stop>
                                                            </linearGradient>
                                                        </defs>
                                                        <circle class="bg" cx="85" cy="85" r="80"></circle>
                                                        <circle class="fg clipped" cx="85" cy="85" r="80"
                                                            style="stroke: url(#kwe1bjvhlj8)"
                                                            clip-path="url(#tuseujyh)">
                                                        </circle>
                                                        <clipPath id="tuseujyh">
                                                            <path
                                                                d="M 85 85 L 85 -37.39999999999999 A 122.39999999999999 122.39999999999999 0 0 1 85 207.39999999999998 A 122.39999999999999 122.39999999999999 0 0 1 -14.023680111493576 13.055085119401326">
                                                            </path>
                                                        </clipPath>
                                                    </svg>
                                                    <div style="font-size: 1.1rem;"
                                                        class="progress-circle-counter-value"><span
                                                            class="progress-circle-counter">55</span>%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="alert-inner-item">

                                                <h5 class="alert-title"><span></span>Classic
                                                    success alert!
                                                </h5>
                                            </div>
                                            <p>2 min ago</p>

                                        </div>

                                    </div>
                                    <!-- Alert-->
                                    <div class="alert alert-warning">
                                        <div class="alert-inner">
                                            <div class="progress-circle">

                                                <div class="progress-circle-inner">

                                                    <svg class="progress-circle-bar" x="0" y="0" width="50" height="50"
                                                        viewBox="0 0 170 170">
                                                        <defs>
                                                            <linearGradient id="kwe1bjvhlj8">
                                                                <stop offset="0%" stop-color="#7d2eff"></stop>
                                                                <stop offset="100%" stop-color="#c728ff"></stop>
                                                            </linearGradient>
                                                        </defs>
                                                        <circle class="bg" cx="85" cy="85" r="80"></circle>
                                                        <circle class="fg clipped" cx="85" cy="85" r="80"
                                                            style="stroke: url(#kwe1bjvhlj8)"
                                                            clip-path="url(#tuseujyh)">
                                                        </circle>
                                                        <clipPath id="tuseujyh">
                                                            <path
                                                                d="M 85 85 L 85 -37.39999999999999 A 122.39999999999999 122.39999999999999 0 0 1 85 207.39999999999998 A 122.39999999999999 122.39999999999999 0 0 1 -14.023680111493576 13.055085119401326">
                                                            </path>
                                                        </clipPath>
                                                    </svg>
                                                    <div style="font-size: 1.1rem;"
                                                        class="progress-circle-counter-value"><span
                                                            class="progress-circle-counter">55</span>%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="alert-inner-item">

                                                <h5 class="alert-title"><span></span>Classic
                                                    success alert!
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="container">
                            <div class="row novi-disabled">
                                <div class="col">
                                    <!-- Alert-->
                                    <div class="alert alert-warning">
                                        <div class="alert-inner">
                                            <div class="progress-circle">

                                                <div class="progress-circle-inner">

                                                    <svg class="progress-circle-bar" x="0" y="0" width="50" height="50"
                                                        viewBox="0 0 170 170">
                                                        <defs>
                                                            <linearGradient id="kwe1bjvhlj8">
                                                                <stop offset="0%" stop-color="#7d2eff"></stop>
                                                                <stop offset="100%" stop-color="#c728ff"></stop>
                                                            </linearGradient>
                                                        </defs>
                                                        <circle class="bg" cx="85" cy="85" r="80"></circle>
                                                        <circle class="fg clipped" cx="85" cy="85" r="80"
                                                            style="stroke: url(#kwe1bjvhlj8)"
                                                            clip-path="url(#tuseujyh)">
                                                        </circle>
                                                        <clipPath id="tuseujyh">
                                                            <path
                                                                d="M 85 85 L 85 -37.39999999999999 A 122.39999999999999 122.39999999999999 0 0 1 85 207.39999999999998 A 122.39999999999999 122.39999999999999 0 0 1 -14.023680111493576 13.055085119401326">
                                                            </path>
                                                        </clipPath>
                                                    </svg>
                                                    <div style="font-size: 1.1rem;"
                                                        class="progress-circle-counter-value"><span
                                                            class="progress-circle-counter">55</span>%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="alert-inner-item">

                                                <h5 class="alert-title"><span></span>Classic
                                                    success alert!
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Alert-->
                                    <div class="alert alert-danger">
                                        <div class="alert-inner">
                                            <div class="progress-circle">

                                                <div class="progress-circle-inner">

                                                    <svg class="progress-circle-bar" x="0" y="0" width="50" height="50"
                                                        viewBox="0 0 170 170">
                                                        <defs>
                                                            <linearGradient id="kwe1bjvhlj8">
                                                                <stop offset="0%" stop-color="#7d2eff"></stop>
                                                                <stop offset="100%" stop-color="#c728ff"></stop>
                                                            </linearGradient>
                                                        </defs>
                                                        <circle class="bg" cx="85" cy="85" r="80"></circle>
                                                        <circle class="fg clipped" cx="85" cy="85" r="80"
                                                            style="stroke: url(#kwe1bjvhlj8)"
                                                            clip-path="url(#tuseujyh)">
                                                        </circle>
                                                        <clipPath id="tuseujyh">
                                                            <path
                                                                d="M 85 85 L 85 -37.39999999999999 A 122.39999999999999 122.39999999999999 0 0 1 85 207.39999999999998 A 122.39999999999999 122.39999999999999 0 0 1 -14.023680111493576 13.055085119401326">
                                                            </path>
                                                        </clipPath>
                                                    </svg>
                                                    <div style="font-size: 1.1rem;"
                                                        class="progress-circle-counter-value"><span
                                                            class="progress-circle-counter">55</span>%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="alert-inner-item">

                                                <h5 class="alert-title"><span></span>Classic
                                                    success alert!
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="container">
                            <div class="row novi-disabled">
                                <div class="col">
                                    <div class="alert alert-danger">
                                        <div class="alert-inner">
                                            <div class="progress-circle">

                                                <div class="progress-circle-inner">

                                                    <svg class="progress-circle-bar" x="0" y="0" width="50" height="50"
                                                        viewBox="0 0 170 170">
                                                        <defs>
                                                            <linearGradient id="kwe1bjvhlj8">
                                                                <stop offset="0%" stop-color="#7d2eff"></stop>
                                                                <stop offset="100%" stop-color="#c728ff"></stop>
                                                            </linearGradient>
                                                        </defs>
                                                        <circle class="bg" cx="85" cy="85" r="80"></circle>
                                                        <circle class="fg clipped" cx="85" cy="85" r="80"
                                                            style="stroke: url(#kwe1bjvhlj8)"
                                                            clip-path="url(#tuseujyh)">
                                                        </circle>
                                                        <clipPath id="tuseujyh">
                                                            <path
                                                                d="M 85 85 L 85 -37.39999999999999 A 122.39999999999999 122.39999999999999 0 0 1 85 207.39999999999998 A 122.39999999999999 122.39999999999999 0 0 1 -14.023680111493576 13.055085119401326">
                                                            </path>
                                                        </clipPath>
                                                    </svg>
                                                    <div style="font-size: 1.1rem;"
                                                        class="progress-circle-counter-value"><span
                                                            class="progress-circle-counter">55</span>%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="alert-inner-item">

                                                <h5 class="alert-title"><span></span>Classic
                                                    success alert!
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Alert-->
                                    <div class="alert alert-primary">
                                        <div class="alert-inner">
                                            <div class="progress-circle">

                                                <div class="progress-circle-inner">

                                                    <svg class="progress-circle-bar" x="0" y="0" width="50" height="50"
                                                        viewBox="0 0 170 170">
                                                        <defs>
                                                            <linearGradient id="kwe1bjvhlj8">
                                                                <stop offset="0%" stop-color="#7d2eff"></stop>
                                                                <stop offset="100%" stop-color="#c728ff"></stop>
                                                            </linearGradient>
                                                        </defs>
                                                        <circle class="bg" cx="85" cy="85" r="80"></circle>
                                                        <circle class="fg clipped" cx="85" cy="85" r="80"
                                                            style="stroke: url(#kwe1bjvhlj8)"
                                                            clip-path="url(#tuseujyh)">
                                                        </circle>
                                                        <clipPath id="tuseujyh">
                                                            <path
                                                                d="M 85 85 L 85 -37.39999999999999 A 122.39999999999999 122.39999999999999 0 0 1 85 207.39999999999998 A 122.39999999999999 122.39999999999999 0 0 1 -14.023680111493576 13.055085119401326">
                                                            </path>
                                                        </clipPath>
                                                    </svg>
                                                    <div style="font-size: 1.1rem;"
                                                        class="progress-circle-counter-value"><span
                                                            class="progress-circle-counter">55</span>%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="alert-inner-item">

                                                <h5 class="alert-title"><span></span>Classic
                                                    success alert!
                                                </h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <ul class="pagination pagination-rounded justify-content-center">
                    <li class="page-item disabled"><a class="page-link page-link-prev int-arrow-left novi-icon"
                            href="#"></a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item"><a class="page-link inactive" href="#">..</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">24</a>
                    </li>
                    <li class="page-item"><a class="page-link page-link-next int-arrow-right novi-icon" href="#"></a>
                    </li>
                </ul>
            </div>
        </section>





        <!-- Footer default-->
        {{> footer}}

    </div>
</body>

</html>