<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Template Monster Admin Template">
  <meta property="og:description"
    content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
  <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
  <meta property="og:url" content="http://digipunk.netii.net">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="components/base/base.css">
  <link rel="stylesheet" href="components/base/alerts.css">
  <script src="components/base/core.js"></script>
  <script src="components/base/script.js"></script>

</head>

<body>
  {{> header}}
  <div class="page">
    <!-- Register-->
    <section class="section section-one-screen section-sm overlay-dark-07 novi-background"
      data-preset='{"title":"Register","category":"one screen page, form","reload":true,"id":"register"}'>
      <div class="container">
        <div class="row justify-content-center novi-disabled">
          <div class="col-md-8 col-lg-6 col-xxl-5">
            <article class="accent-box">
              <h4 class="accent-box-title text-center">Create your account</h4>
              {{> errors }}
              <p class="accent-box-text text-center mt-2">All fields are required</p>
              <div class="alerts-wrapper">
              </div>
              <form id="formCST" class="accent-box-form" action="/register" method="post">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text int-user novi-icon"></span></div>
                    <input id="name-input" class="form-control" @value="{{this.name}}" type="name" name="name"
                      placeholder="Your name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text int-user novi-icon"></span></div>
                    <input id="email-input" class="form-control" type="email" name="email" placeholder="E-mail">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text int-user novi-icon"></span></div>
                    <input id="password-input" class="form-control input-password password-register-1" type="text"
                      name="password" placeholder="Password">
                    <div class="input-group-append"><span
                        class="input-group-text input-group-text-nodivider input-password-icon"
                        data-multi-switch='{"targets":".password-register-1"}'></span></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text int-user novi-icon"></span></div>
                    <input id="cpassword-input" class="form-control input-password password-register-2" type="text"
                      name="password2" placeholder="Confirm password">
                    <div class="input-group-append"><span
                        class="input-group-text input-group-text-nodivider input-password-icon"
                        data-multi-switch='{"targets":".password-register-2"}'></span></div>
                  </div>
                </div>
                <div class="custom-control custom-checkbox accent-box-text">
                  <input class="custom-control-input" type="checkbox" id="check1">
                  <label id="terms-input" class="custom-control-label" for="check1">I agree with the
                    <u class="font-weight-medium"></u><a class="link-inherit small link" href="#">Terms
                      of use.</a>
                  </label>
                </div>
                <button id="sbmt-btn" class="btn btn-block btn-lg btn-secondary accent-box-btn">Sign
                  Up!</button>
              </form>
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="components/base/alerts.js"></script>
</body>

</html>