<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Template Monster Admin Template">
  <meta property="og:description"
    content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
  <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
  <meta property="og:url" content="http://digipunk.netii.net">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="components/base/base.css">
  <script src="components/base/core.js"></script>
  <script src="components/base/script.js"></script>
</head>

<body>
  {{> header}}
  <div class="page">
    <!-- Login form-->
    <section class="section section-one-screen section-sm overlay-dark-07 novi-background"
      data-preset='{"title":"Login","category":"one screen page, form","reload":true,"id":"login"}'>
      <div class="container">
        <div class="row justify-content-center novi-disabled">
          <div class="col-md-8 col-lg-6 col-xxl-5">
            <article class="accent-box">
              <h4 class="accent-box-title text-center">Reset your password</h4>
              {{> messages}}

              <p class="accent-box-text text-center">Enter new password below</p>
              <form class="accent-box-form" action="" method="post">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text int-user novi-icon"></span></div>
                    <input class="form-control input-password password-login" type="text" name="password"
                      placeholder="Password" data-constraints="@Required">
                    <div class="input-group-append"><span
                        class="input-group-text input-group-text-nodivider input-password-icon"
                        data-multi-switch='{"targets":".password-login"}'></span></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text int-user novi-icon"></span></div>
                    <input class="form-control input-password password-login" type="text" name="repeatedPassword"
                      placeholder="Password again" data-constraints="@Required">
                    <div class="input-group-append"><span
                        class="input-group-text input-group-text-nodivider input-password-icon"
                        data-multi-switch='{"targets":".password-login"}'></span></div>
                  </div>
                </div>
                <button class="btn btn-block btn-lg btn-primary accent-box-btn" type="submit">Reset Password</button>

              </form>
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>