<!DOCTYPE html>
<html lang="en">

<head>
    <title>Accordions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description"
        content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
    <meta property="og:url" content="http://digipunk.netii.net">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="components/base/base.css">
    <script src="components/base/core.js"></script>
    <script src="components/base/script.js"></script>
</head>

<body>
    <div class="page">
        <!--RD Navbar-->
        {{> header}}

        <!-- Breadcrumb default-->
        <section class="section section-sm bg-transparent novi-background"
            data-preset='{"title":"Breadcrumb","category":"breadcrumb","reload":false,"id":"breadcrumb-1"}'>
            <div class="container">
                <!-- Breadcrumb-->
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
                    <li class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Terms And
                            Conditions</span></li>
                </ul>
                <h4>Accordions</h4>
            </div>
        </section>


        <!-- Bootstrap accordion-->
        <section class="section section-lg bg-transparent novi-background"
            data-preset='{"title":"Accordion Sample","category":"accordion","reload":true,"id":"accordion-sample-1"}'>
            <div class="container">
                <h2 class="text-center">Bootstrap accordion</h2>
                <div class="accordion accrordion-bootstrap">
                    <div class="accordion-item accordion-bootstrap-sample-1"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-1","isolate":".accordion-bootstrap-sample-group"}'>Introduction
                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-1" data-multi-switch-target-slide>
                            <h4>Welcome to our Privacy Policy page! When you use our web site services, you trust us
                                with your information.</h4>
                            <div class="row row-15">
                                <div class="col-md-6">These terms of use govern your use of Webilizerr; by using
                                    Webilizerr,
                                    you accept these terms of use in full. If you disagree with these terms of use or
                                    any part of these terms of use, you must not use Webilizerr.
                                    <br><br>
                                    If you register with Webilizerr, we will ask you to expressly agree to these terms
                                    of
                                    use.</div>
                                <div class="col-md-6">You must be at least 18 years of age to use Webilizerr. By using
                                    Webilizerr and by agreeing to these terms of use, you warrant and represent that you
                                    are at least 18 years of age.
                                    <br><br>
                                    Webilizerr uses cookies. By using Webilizerr and agreeing to these terms of use, you
                                    consent to our use of cookies in accordance with the terms of our privacy policy.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-bootstrap-sample-2"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-2","isolate":".accordion-bootstrap-sample-group"}'>
                            Licence to use website
                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-2" data-multi-switch-target-slide>
                            <h4>Unless otherwise stated, we or our licensors own the intellectual property rights in
                                Webilizerr and material on the website. Subject to the licence below, all these
                                intellectual property rights are reserved.
                                <br><br>

                                You may view, download for caching purposes only, and print pages from Webilizerr for
                                your
                                own personal use, subject to the restrictions set out below and elsewhere in these terms
                                of use.

                            </h4>
                            <div class="row row-15">
                                <div class="col-md-6">You must not without our written permission:<br>
                                    <br><br>
                                    1. republish material from Webilizerr (including republication on another website);
                                    <br>
                                    2. ell, rent or sub-license material from Webilizerr;<br>
                                    3. show any material from Webilizerr in public;<br>
                                    4. reproduce, duplicate, copy or otherwise exploit material on Webilizerr for a
                                    commercial purpose;<br>
                                    5. edit or otherwise modify any material on Webilizerr; or<br>
                                    6. redistribute material from Webilizerr except for content specifically and
                                    expressly
                                    made available for redistribution (such as our newsletter).</div>
                                <div class="col-md-6">If you operate a search engine or robot, or you republish a
                                    significant fraction of all Webilizerr content (as we may determine in our
                                    reasonable
                                    discretion), you must additionally follow these rules:
                                    <br><br>
                                    1. You must use a descriptive user agent header.<br>
                                    2. You must follow robots.txt at all times.<br>
                                    3. You must make it clear how to contact you, either in your user agent string, or
                                    on
                                    your website if you have one.<br>
                                    4. Subject to these Terms, Webilizerr gives you a personal, worldwide, royalty-free,
                                    revocable, non-assignable and non-exclusive license to use the Service as it is
                                    provided to you by Webilizerr.</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item accordion-bootstrap-sample-3"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-3","isolate":".accordion-bootstrap-sample-group"}'>
                            Acceptable use

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-3" data-multi-switch-target-slide>
                            <h4>You must not use Webilizerr in any way that causes damage.</h4>
                            <div class="row row-15">
                                <div class="col-md-6">You must not use Webilizerr in any way that causes, or may cause,
                                    damage to the website or impairment of the availability or accessibility of the
                                    website; or in any way which is unlawful, illegal, fraudulent or harmful, or in
                                    connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
                                    <br><br>
                                    You must not use Webilizerr to copy, store, host, transmit, send, use, publish or
                                    distribute any material which consists of (or is linked to) any spyware, computer
                                    virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer
                                    software.</div>
                                <div class="col-md-6">You must not conduct any systematic or automated data collection
                                    activities (including without limitation scraping, data mining, data extraction and
                                    data harvesting) on or in relation to Webilizerr without our express written
                                    consent.
                                    <br><br>
                                    You must not use Webilizerr to transmit or send unsolicited commercial
                                    communications.
                                    <br><br>
                                    You must not use Webilizerr for any purposes related to marketing without our
                                    express
                                    written consent.</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item accordion-bootstrap-sample-4"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-4","isolate":".accordion-bootstrap-sample-group"}'>
                            Restricted access

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-4" data-multi-switch-target-slide>
                            <h4>Access to certain areas of Webilizerr is restricted</h4>
                            <div class="row row-15">
                                <div class="col-md-6">We reserve the right to restrict access to other areas of
                                    Webilizerr,
                                    or indeed our whole website, at our discretion.
                                    <br><br>
                                    If we provide you with a username and password to enable you to access restricted
                                    areas of Webilizerr or other content or services, you must ensure that your password
                                    is
                                    kept confidential.
                                    <br><br>
                                    You must notify us in writing immediately if you become aware of any unauthorised
                                    use of your account or password.</div>
                                <div class="col-md-6">You are responsible for any activity on Webilizerr arising out of
                                    any
                                    failure to keep your password confidential, and may be held liable for any losses
                                    arising out of such a failure.
                                    <br><br>
                                    You must not use any other person's username and password to access Webilizerr.
                                    <br><br>
                                    We may disable your user account at our sole discretion without notice or
                                    explanation.

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-bootstrap-sample-35"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-5","isolate":".accordion-bootstrap-sample-group"}'>
                            User generated content

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-5" data-multi-switch-target-slide>
                            <h4>In these terms of use, 'your user content' means material (including without limitation
                                text, images, audio material, video material and audio-visual material) that you submit
                                to Webilizerr, for whatever purpose.</h4>
                            <div class="row row-15">
                                <div class="col-md-6">You grant to us a worldwide, irrevocable, non-exclusive,
                                    royalty-free licence to use, reproduce, adapt, publish, translate and distribute
                                    your user content in any existing or future media. You also grant to us the right to
                                    sub-license these rights, and the right to bring an action for infringement of these
                                    rights.
                                    <br><br>
                                    You warrant and represent that your user content will comply with these terms of
                                    use.
                                    <br><br>
                                    Your user content must not be illegal or unlawful, must not infringe any third
                                    party's legal rights, and must not be capable of giving rise to legal action whether
                                    against you or us or a third party (in each case under any applicable law).
                                    <br><br>
                                    Your user content must be appropriate, civil, tasteful and accord with generally
                                    accepted standards of etiquette and behaviour on the internet.
                                    <br><br>
                                    You must not use Webilizerr to link to any website or web page consisting of or
                                    containing material that would, were it posted on Webilizerr, breach the provisions
                                    of
                                    these terms of use.
                                    <br><br>
                                    You must not submit any user content to Webilizerr that is or has ever been the
                                    subject
                                    of any threatened or actual legal proceedings or other similar complaint.
                                    <br><br>
                                    We reserve the right to edit or remove any material submitted to Webilizerr, or
                                    stored
                                    on our servers, or hosted or published on Webilizerr.
                                    <br><br>
                                    Notwithstanding our rights under these terms of use in relation to user content, we
                                    do not undertake to monitor the submission of such content to, or the publication of
                                    such content on, Webilizerr. </div>
                                <div class="col-md-6">Your user content (and its publication on Webilizerr) must not:
                                    <br><br>
                                    1. be libellous or maliciously false;<br>
                                    2. be obscene or indecent;<br>
                                    3. infringe any copyright, moral right, database right, trade mark right, design
                                    right, right in passing off, or other intellectual property right;<br>
                                    4. infringe any right of confidence, right of privacy, or right under data
                                    protection legislation;<br>
                                    5. constitute negligent advice or contain any negligent statement;<br>
                                    6. constitute an incitement to commit a crime;<br>
                                    7. be in contempt of any court, or in breach of any court order;<br>
                                    8. be in breach of racial or religious hatred or discrimination legislation;<br>
                                    9. be in breach of official secrets legislation;<br>
                                    10. be in breach of any contractual obligation owed to any persob
                                    11. depict violence in an explicit, graphic or gratuitous manner;<br>
                                    12. be pornographic or sexually explicit;<br>
                                    13. be untrue, false, inaccurate or misleading;<br>
                                    14. consist of or contain any instructions, advice or other information which may be
                                    acted upon and could, if acted upon, cause illness, injury or death, or any other
                                    loss or damage;<br>
                                    constitute spam;<br>
                                    15. be offensive, deceptive, threatening, abusive, harassing, or menacing, hateful,
                                    discriminatory or inflammatory; or<br>
                                    16. cause annoyance, inconvenience or needless anxiety to any person.</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item accordion-bootstrap-sample-6"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-6","isolate":".accordion-bootstrap-sample-group"}'>
                            Testing and claiming websites

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-6" data-multi-switch-target-slide>
                            <h4>By submitting a website address for testing by Webilizerr, you agree that you are the
                                legal
                                owner of the website being tested and/or you have recieved explicit permission from the
                                legal owner.</h4>
                            <div class="row row-15">
                                <div class="col-md-6">Website owners that do not wish to have their website tested by
                                    Webilizerr may permanently remove any existing reports, and prevent any future
                                    reports
                                    from being generated for that web address, by following the instructions on our
                                    technical page.
                                    <br><br>
                                    In order to claim a website, you must have made a significant contribution to the
                                    design, marketing and/or development of that website.</div>
                                <div class="col-md-6">By claiming a website in Webilizerr, you agree that you are the
                                    legal
                                    owner of the website being tested and/or you have recieved explicit permission from
                                    the legal owner.
                                    <br><br>
                                    To make Webilizerr fair for all, there are certain things which are prohibited:
                                    <br><br>
                                    1. Faking social activity in order to increase a website's score;<br>
                                    2. Testing and claiming multiple clones of websites; and<br>
                                    3. Any deceptive practice designed to manipulate the tests to give false results.
                                    Users found to be serially committing these offences may have their sites and user
                                    accounts suspended without warning.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-bootstrap-sample-7"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-7","isolate":".accordion-bootstrap-sample-group"}'>
                            User Registration

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-7" data-multi-switch-target-slide>
                            <div class="row row-15">
                                <div class="col-md-6">Registration for Webilizerr is open to individuals only and is
                                    restricted by the following terms.
                                    <br><br>
                                    Should you wish, you are free to use the editable spaces provided on your Webilizerr
                                    profile to:
                                    <br><br>
                                    1. promote yourself;<br>
                                    2. promote your own personal business interests; and/or<br>
                                    3. promote the business interests of your permanent employer.</div>
                                <div class="col-md-6">You must not:
                                    <br><br>
                                    1. register as a company, organisation, product or fictional character;<br>
                                    2. provide any false personal information, or create an account for anyone other
                                    than yourself;<br>
                                    3. create more than one user account;<br>
                                    4. choose a username for your account which can be confused with a company name or
                                    product which you do not have the rights to use;<br>
                                    5. use your profile to promote a client or third party (except claiming their
                                    website if you have had direct involvement); or<br>
                                    6. make commercial gain by selling the user editable spaces on your profile to a
                                    third party or client.<br>
                                    7. You are responsible for keeping the information on your profile accurate and
                                    up-to-date.</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item accordion-bootstrap-sample-8"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-8","isolate":".accordion-bootstrap-sample-group"}'>
                            Limited warranties

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-8" data-multi-switch-target-slide>
                            <h4>You acknowledge that some of the information published on Webilizerr is submitted by
                                users,
                                and that we do not usually review, approve or edit such information.</h4>
                            <div class="row row-15">
                                <div class="col-md-6">We do not warrant the completeness or accuracy of the information
                                    published on Webilizerr; nor do we commit to ensuring that Webilizerr remains
                                    available or
                                    that the material on Webilizerr is kept up-to-date.</div>
                                <div class="col-md-6">To the maximum extent permitted by applicable law we exclude all
                                    representations, warranties and conditions relating to Webilizerr and the use of
                                    this
                                    website (including, without limitation, any warranties implied by law of
                                    satisfactory quality, fitness for purpose and/or the use of reasonable care and
                                    skill).</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-bootstrap-sample-9"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-9","isolate":".accordion-bootstrap-sample-group"}'>
                            Limitations and exclusions of liability

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-9" data-multi-switch-target-slide>
                            <div class="row row-15">
                                <div class="col-md-6">Nothing in these terms of use will:
                                    <br><br>
                                    1. limit or exclude our or your liability for death or personal injury resulting
                                    from negligence;<br>
                                    2. limit or exclude our or your liability for fraud or fraudulent
                                    misrepresentation;<br>
                                    3. limit any of our or your liabilities in any way that is not permitted under
                                    applicable law; or<br>
                                    4. exclude any of our or your liabilities that may not be excluded under applicable
                                    law.<br><br>
                                    The limitations and exclusions of liability set out in this Section and elsewhere in
                                    these terms of use: (a) are subject to the preceding paragraph; and (b) govern all
                                    liabilities arising under the terms of use or in relation to the subject matter of
                                    the terms of use, including liabilities arising in contract, in tort (including
                                    negligence) and for breach of statutory duty.
                                    <br><br>
                                    To the extent that Webilizerr and the information and services on the website are
                                    provided free-of-charge, we will not be liable for any loss or damage of any nature.
                                    <br><br>
                                    We will not be liable to you in respect of any losses arising out of any event or
                                    events beyond our reasonable control.

                                </div>
                                <div class="col-md-6">We will not be liable to you in respect of any business losses,
                                    including (without limitation) loss of or damage to profits, income, revenue, use,
                                    production, anticipated savings, business, contracts, commercial opportunities or
                                    goodwill.<br><br>

                                    We will not be liable to you in respect of any loss or corruption of any data,
                                    database or software.<br><br>

                                    We will not be liable to you in respect of any special, indirect or consequential
                                    loss or damage.<br><br>

                                    You accept that we have an interest in limiting the personal liability of our
                                    officers and employees. Having regard to that interest, you accept that we are a
                                    limited liability entity and agree that you will not bring any claim personally
                                    against individual officers or employees in respect of any losses you suffer in
                                    connection with the website or these terms of use. This will not, of course, limit
                                    or exclude the liability of the company itself for the acts and omissions of our
                                    officers and employees.<br><br>

                                    You agree to the publication of comments, reviews and/or feedback relating to you,
                                    by others, on Webilizerr. You acknowledge that such comments, reviews and/or
                                    feedback
                                    may be critical or defamatory or otherwise unlawful; and you agree that you will not
                                    hold us liable in respect of any such comments, reviews and/or feedback,
                                    irrespective of whether we are aware or ought to have been aware of such comments,
                                    reviews and/or feedback.</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item accordion-bootstrap-sample-10"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-10","isolate":".accordion-bootstrap-sample-group"}'>
                            Indemnity
                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-10" data-multi-switch-target-slide>
                            <div class="row row-15">
                                <div class="col-md-12">You hereby indemnify us and undertake to keep us indemnified
                                    against any losses, damages, costs, liabilities and expenses (including without
                                    limitation legal expenses and any amounts paid by us to a third party in settlement
                                    of a claim or dispute on the advice of our legal advisers) incurred or suffered by
                                    us arising out of any breach by you of any provision of these terms of use, or
                                    arising out of any claim that you have breached any provision of these terms of use.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-bootstrap-sample-11"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-11","isolate":".accordion-bootstrap-sample-group"}'>
                            Breaches of these terms of use

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-11" data-multi-switch-target-slide>
                            <div class="row row-15">
                                <div class="col-md-6">
                                    Without prejudice to our other rights under these terms of use, if you breach these
                                    terms of use in any way, or if we reasonably suspect that you have breached these
                                    terms
                                    of use in any way, we may:<br><br>
                                    1. send you one or more formal warnings; <br>
                                    2. temporarily suspend your access to Webilizerr;<br>
                                    3. permanently prohibit you from accessing Webilizerr;<br>
                                    4. block computers using your IP address from accessing Webilizerr;<br>
                                    5. contact your internet services provider and request that they block your access
                                    to Webilizerr;<br>
                                    6. bring court proceedings against you for breach of contract or otherwise;<br>
                                    7. suspend and/or delete your account with Webilizerr; and/or<br>
                                    8. delete and/or edit any or all of your user generated content.</div>
                                <div class="col-md-6">Where we suspend or prohibit or block your access to Webilizerr or
                                    a
                                    part of Webilizerr, you must not take any action to circumvent such suspension or
                                    prohibition or blocking (including without limitation creating and/or using a
                                    different account).</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item accordion-bootstrap-sample-12"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-12","isolate":".accordion-bootstrap-sample-group"}'>
                            Third party websites and hyperlinks

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-12" data-multi-switch-target-slide>
                            <h4>Webilizerr includes hyperlinks to other websites owned and operated by third parties.
                            </h4>
                            <div class="row row-15">
                                <div class="col-md-6">These links are not recommendations. We have no control over the
                                    contents of third party websites, and we accept no responsibility for them or for
                                    any loss or damage that may arise from your use of them.</div>
                                <div class="col-md-6">You may add hyperlinks directed at Webilizerr to your own website
                                    without our specific permission.</div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item accordion-bootstrap-sample-13"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-13","isolate":".accordion-bootstrap-sample-group"}'>
                            Trade marks

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-13" data-multi-switch-target-slide>
                            <h4>Webilizerr and the Webilizerr logo are trade marks belonging to Webilizerr.</h4>
                            <div class="row row-15">
                                <div class="col-md-12">We give no permission for the use of these trade marks, and such
                                    use may constitute an infringement of our rights.<br><br>

                                    The other registered and unregistered trade marks or service marks on Webilizerr are
                                    the property of their respective owners. Unless stated otherwise, we do not endorse
                                    and are not affiliated with any of the holders of any such rights and as such we
                                    cannot grant any licence to exercise such rights.</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item accordion-bootstrap-sample-14"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-14","isolate":".accordion-bootstrap-sample-group"}'>
                            Competitions
                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-14" data-multi-switch-target-slide>
                            <h4>From time to time we may run competitions</h4>
                            <div class="row row-15">
                                <div class="col-md-12">Free prize draws and/or other promotions on Webilizerr. These
                                    will
                                    be subject to separate terms and conditions (that we will make available to you as
                                    appropriate).</div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item accordion-bootstrap-sample-15"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-15","isolate":".accordion-bootstrap-sample-group"}'>
                            Variation
                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-15" data-multi-switch-target-slide>
                            <h4>We may revise these terms of use from time-to-time. </h4>
                            <div class="row row-15">
                                <div class="col-md-12">Revised terms of use will apply to the use of Webilizerr from the
                                    date of the publication of the revised terms of use on this website. Please check
                                    this page regularly to ensure you are familiar with the current version.</div>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item accordion-bootstrap-sample-16"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-16","isolate":".accordion-bootstrap-sample-group"}'>
                            Assignment
                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-16" data-multi-switch-target-slide>
                            <div class="row row-15">
                                <div class="col-md-12">We may transfer, sub-contract or otherwise deal with our rights
                                    and/or obligations under these terms of use without notifying you or obtaining your
                                    consent.
                                    <br><br>
                                    You may not transfer, sub-contract or otherwise deal with your rights and/or
                                    obligations under these terms of use.</div>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item accordion-bootstrap-sample-17"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-17","isolate":".accordion-bootstrap-sample-group"}'>
                            Severability
                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-17" data-multi-switch-target-slide>
                            <div class="row row-15">
                                <div class="col-md-12">If a provision of these terms of use is determined by any court
                                    or other competent authority to be unlawful and/or unenforceable, the other
                                    provisions will continue in effect. If any unlawful and/or unenforceable provision
                                    would be lawful or enforceable if part of it were deleted, that part will be deemed
                                    to be deleted, and the rest of the provision will continue in effect.</div>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item accordion-bootstrap-sample-18"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-18","isolate":".accordion-bootstrap-sample-group"}'>
                            Exclusion of third party rights

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-18" data-multi-switch-target-slide>
                            <div class="row row-15">
                                <div class="col-md-12">These terms of use are for the benefit of you and us, and are not
                                    intended to benefit any third party or be enforceable by any third party. The
                                    exercise of our and your rights in relation to these terms of use is not subject to
                                    the consent of any third party.</div>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item accordion-bootstrap-sample-19"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-19","isolate":".accordion-bootstrap-sample-group"}'>
                            Entire agreement

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-19" data-multi-switch-target-slide>
                            <div class="row row-15">
                                <div class="col-md-12">These terms of use, together with our privacy policy, constitute
                                    the entire agreement between you and us in relation to your use of Webilizerr, and
                                    supersede all previous agreements in respect of your use of this website.

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item accordion-bootstrap-sample-20"><a
                            class="accordion-header accordion-bootstrap-sample-group" href="#"
                            data-multi-switch='{"targets":".accordion-bootstrap-sample-20","isolate":".accordion-bootstrap-sample-group"}'>
                            Law and jurisdiction

                        </a>
                        <div class="accordion-body accordion-bootstrap-sample-20" data-multi-switch-target-slide>
                            <div class="row row-15">
                                <div class="col-md-12">These terms of use will be governed by and construed in
                                    accordance with English law, and any disputes relating to these terms of use will be
                                    subject to the non-exclusive jurisdiction of the courts of England and Wales.

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!-- Footer default-->
        {{> footer}}

    </div>
</body>

</html>