<!DOCTYPE html>
<html lang="en">

<head>
  <title>Thank You</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Template Monster Admin Template">
  <meta property="og:description"
    content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
  <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
  <meta property="og:url" content="http://digipunk.netii.net">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="components/rd-navbar/rd-navbar.css">
  <link rel="stylesheet" href="components/base/base.css">
  <script src="components/base/core.js"></script>
  <script src="components/base/script.js"></script>
</head>

<body class="expansion-alids-init">
  <div class="page">
    <!--RD Navbar-->
    {{> header}}
    <!-- Subscribe-->
    <section class="section section-lg overlay-secondary-06 bg-image pt-5 novi-background"
      style="background-image: url(images/image-31-1920x954.jpg)"
      data-preset="{&quot;title&quot;:&quot;Subscribe&quot;,&quot;category&quot;:&quot;form&quot;,&quot;reload&quot;:true,&quot;id&quot;:&quot;subscribe&quot;}">
      <div class="container">
        <div class="context-dark">
          <!-- Breadcrumb-->
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="pricing-scans">Products</a></li>

            <li class="breadcrumb-item"><a class="breadcrumb-link">Checkout</a></li>
            <li class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Thank You</span></li>
          </ul>
          <h1 class="text-center">Thanks for you order!</h1>
        </div>
        <div class="row row-offset-lg row-30 justify-content-center novi-disabled">
          <div class="col-md-11 col-lg-8">
            <article class="accent-box">
              <h4 class="accent-box-title">
                <br class="d-none d-xs-block">
                We're so lucky to have customers like you!
              </h4>
              <p class="accent-box-text"> Thank you for your purchase from Webilizerr. Please let us know if we can do
                anything else to help! </p>

              <a href="/">
                <button class="btn btn-lg btn-outline btn-primary btn-aqil-horizontal btn-block"
                  style="padding: 20px; margin-top: 30px;">
                  Go Home!</button>
              </a>


              <div class="offset-md small">By clicking the button you agree to the
                <u class="font-weight-medium"><a class="link-inherit" href="privacy-policy">Privacy Policy</a></u>
                and
                <u class="font-weight-medium"><a class="link-inherit" href="terms">Terms and Conditions</a></u>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer default-->
    {{> footer}}
  </div>

  <div class="to-top int-arrow-up"></div>
</body>

</html>