<!DOCTYPE html>
<html lang="en">

<head>
  <title>Thank You</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:title" content="Template Monster Admin Template">
  <meta property="og:description"
    content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
  <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
  <meta property="og:url" content="http://digipunk.netii.net">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="components/base/base.css">
  <script src="components/base/core.js"></script>
  <script src="components/base/script.js"></script>
</head>

<body>
  <div class="page">
    <!--RD Navbar-->
    {{> header}}
    <!-- Breadcrumb default-->
    <section class="section section-sm bg-transparent novi-background"
      data-preset='{"title":"Breadcrumb","category":"breadcrumb","reload":false,"id":"breadcrumb-1"}'>
      <div class="container">
        <!-- Breadcrumb-->
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
          <li class="breadcrumb-item"><a class="breadcrumb-link" href="pricing-scans">Shop</a></li>
          <li class="breadcrumb-item"><span class="breadcrumb-text breadcrumb">Payment</span></li>
          <li class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Thank You</span></li>
        </ul>
        <h4>Order 1256</h4>
      </div>
    </section>
    <!-- Mailchimp-->
    <section class="section section-lg text-center context-dark bg-image novi-background"
      style="background-image: url(&quot;images/image-03-1920x583.jpg&quot;)"
      data-preset='{"title":"Mailchimp","category":"form","reload":true,"id":"mailchimp"}'>
      <div class="container">
        <div class="row justify-content-center novi-disabled">
          <div class="col-md-9 col-lg-7 col-xl-6">
            <h2>Thank You</h2>
            <p>Thank you for your order. We will send a receipt in email.</p> <br> <br> If you have any questions or
            concerns then let us know.
            <form class="mailchimp-mailform form-inline justify-content-center group-20 novi-disabled"
              data-form-output="mailchimp-output"
              action="https://templatemonster.us15.list-manage.com/subscribe/post?u=ba5bb362073a413f48e4a7b90&amp;id=8dc95d9dec"
              method="post">

              <a class="btn btn-lg btn-secondary" href="/">Lets Go Home</a>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div class="form-output snackbar snackbar-secondary" id="mailchimp-output"></div>

    <div class="form-output snackbar snackbar-secondary" id="campaign-monitor-output"></div>
    <!-- Footer default-->
    <footer class="section footer bg-800 text-400 context-dark novi-background"
      data-preset='{"title":"Footer Extended","category":"footer","reload":false,"id":"footer-extended"}'>
      <div class="container">

        <hr class="divider footer-divider">
        <div class="row row-30 justify-content-xxl-between novi-disabled">
          <div class="col-lg-5">
            <!-- Logo-->
            <div class="logo"><a class="logo-link" href="/"><img class="logo-image-default"
                  src="images/logos/webilizerr_white.png" alt="Intense" width="170" height="27" /><img
                  class="logo-image-inverse" src="images/logos/webilizerr_white.png" alt="Intense" width="170"
                  height="27" /></a></div>
            <p class="small">Get the most for your website with Webilizerr.</p>
          </div>
          <div class="col-md-11 col-lg-7 col-xxl-6">
            <p class="small">C. Segovia 2-4, Finestrat, Alicante 03509, Spain</p>
            <div class="row row-20 novi-disabled">
              <div class="col-auto col-sm-4">
                <div class="media media-xxs text-white">
                  <div class="media-left"><span class="icon icon-xs int-phone novi-icon"></span></div>
                  <div class="media-body">
                    <ul class="list list-contact">
                      <li class="list-contact-item"><a class="list-contact-link" href="tel:#">+34 601980086</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-auto col-sm-4">
                <ul class="list list-xs small">
                  <li class="list-item">Mon-Fri: 8am - 6pm</li>
                  <li class="list-item">Sat-Sun: 8am - 4pm</li>
                  <li class="list-item">Holidays: closed</li>
                </ul>
              </div>
              <div class="col-auto col-sm-4">
                <ul class="list list-lg small text-white">
                  <li class="list-item"><a class="link link-contrast link-secondary" href="mailto:#">info @
                      webilizerr.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider footer-divider">
        <div class="row row-15 align-items-center justify-content-between footer-panel novi-disabled">
          <div class="col-auto">
            <!-- Copyright-->
            <p class="rights"><span>&copy; 2020&nbsp;</span><span>Webilizerr</span><span>. All rights
                reserved.&nbsp;</span><a class="rights-link" href="/privacy-policy">Privacy Policy</a></p>
          </div>
          <div class="col-auto">
            <div class="group-30 d-flex align-items-center text-white"><a
                class="icon icon-xs icon-social int-facebook novi-icon"
                href="https://www.facebook.com/webilizerr"></a><a
                class="icon icon-xs icon-social int-instagram novi-icon"
                href="https://www.instagram.com/webilizerr/"></a><a
                class="icon icon-xs icon-social int-twitter novi-icon" href="https://twitter.com/Webilizerr"></a><a
                class="icon icon-xs icon-social int-linkedin novi-icon"
                href="https://www.linkedin.com/company/13004002"></a></div>
          </div>
        </div>
        <span id="siteseal">
          <script async type="text/javascript"
            src="https://seal.godaddy.com/getSeal?sealID=R1olB8HGqvj1MQajxuJaNwZZd3vaLlezScszr3Hda09ljTHeQOV680PsNTIv"></script>
        </span>
      </div>
    </footer>
  </div>
</body>

</html>