@import url('https://fonts.googleapis.com/css?family=Muli:400,900&display=swap');

html {
    font-family: 'Muli', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

body {
    line-height: 1.6;
}

.inner-body-wrapper {
    overflow-x: hidden;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

button {
    outline: none;
    font-family: 'Muli', sans-serif;
}

input {
    font-family: 'Muli', sans-serif;
    outline: none;
}

textarea {
    font-family: 'Muli', sans-serif;
    outline: none;
}

textarea::-webkit-input-placeholder {
    font-family: 'Muli', sans-serif;
}

textarea:-moz-placeholder {
    font-family: 'Muli', sans-serif;
}

textarea::-moz-placeholder {
    font-family: 'Muli', sans-serif;
}

textarea:-ms-input-placeholder {
    font-family: 'Muli', sans-serif;
}

textarea::-ms-input-placeholder {
    font-family: 'Muli', sans-serif;
}

textarea::placeholder {
    font-family: 'Muli', sans-serif;
}

a {
    color: inherit;
}
