<hr class="section-line">
<div class="item py-3" id="{{this.key}}">
    <div class="item-header">
        <div class="item-title">
            <h3>{{this.friendlyName}}</h3>
            <div>
                <div class="item-section">{{this.section}}</div>
                {{!-- <img data-title="Title Here" data-info="Info Here" class="question" src="img/info.png" alt="Info"> --}}
            </div>
        </div>
    </div>
    <div class="item-body myt-2">
        <div class="box-wrapper">
            <div class="answer">
                <div><img style="height: 50px;" src="img/info3.png" alt="Value"></div>
                <div style="margin-top: 20px;">
                    <p>
                        {{this.data}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>