<footer style="padding-top: 3.375rem;" class="section footer bg-800 text-400 context-dark novi-background"
    data-preset='{"title":"Footer Extended","category":"footer","reload":false,"id":"footer-extended"}'>
    <div class="container">

        <div class="row row-15 align-items-center justify-content-between footer-panel novi-disabled">
            <div class="col-lg-3 col-md-12 col-col--sm-12">
                <!-- Copyright-->
                <p class="rights"><span>&copy; 2020&nbsp;</span><span>Webilizerr</span><span>. All rights
                        reserved.&nbsp;</span></p>
            </div>


            <div class="col-auto col-xs-4 col-lg-auto col-xl-2">
                <ul class="list list-xl small font-weight-bold">
                    {{!-- {{#if showAppointmentLink}}
                    <li class="list-item"><a class="list-link" href="appointment">Appointment</a></li>
                    {{/if}} --}}

                    <li class="list-item"><a class="list-link" href="privacy-policy">Privacy</a></li>
                    <li class="list-item"><a class="list-link" href="terms">Terms</a></li>

                </ul>
            </div>
            <div class="col-auto col-xs-4 col-lg-auto col-xl-2">
                <ul class="list list-xl small font-weight-bold">
                    <li class="list-item"><a class="list-link" href="recently-scanned">Recently Scanned</a></li>
                    <li class="list-item"><a class="list-link" href="features">Features</a></li>
                    <li class="list-item"><a class="list-link" href="pricing-scans">Pricing</a></li>
                </ul>
            </div>
            <div class="col-auto col-xs-4 col-lg-auto col-xl-2">
                <ul class="list list-xl small font-weight-bold custom-responsive">
                    <li class="list-item"><a class="list-link" href="get-in-touch">Get In Touch</a></li>
                    <li class="list-item"><a class="list-link" href="about-us">About</a></li>


                </ul>
            </div>
            <div class="col-auto col-xs-4 col-lg-auto col-xl-2">
                <div class="group-30 d-flex align-items-center text-white"><a
                        class="icon icon-xs icon-social int-facebook novi-icon"
                        href="https://www.facebook.com/webilizerr"></a><a
                        class="icon icon-xs icon-social int-instagram novi-icon"
                        href="https://www.instagram.com/webilizerr/"></a><a
                        class="icon icon-xs icon-social int-twitter novi-icon"
                        href="https://twitter.com/Webilizerr"></a><a
                        class="icon icon-xs icon-social int-linkedin novi-icon"
                        href="https://www.linkedin.com/company/13004002"></a>
                </div>
            </div>
        </div>
    </div>
</footer>