<!--RD Navbar-->
<header class="section rd-navbar-wrap"
    data-preset='{"title":"Navbar Default","category":"header","reload":true,"id":"navbar-default"}'>
    <nav class="rd-navbar">
        <div class="navbar-container">
            <div class="navbar-cell">
                <div class="navbar-panel">
                    <button class="navbar-switch int-hamburger novi-icon"
                        data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
                    <div class="navbar-logo"><a class="navbar-logo-link" href="/"><img class="navbar-logo-default"
                                src="images/logos/webilizerr3.png" alt="Intense" width="170" height="27" /><img
                                class="navbar-logo-inverse" src="images/logos/webilizerr3.png" alt="Intense" width="170"
                                height="27" style="padding-top: 10px;" /></a></div>
                </div>
            </div>
            <div class="navbar-cell navbar-spacer"></div>
            <div class="navbar-cell navbar-sidebar">
                <ul class="navbar-navigation rd-navbar-nav">
                    <li class="navbar-navigation-root-item active"><a class="navbar-navigation-root-link"
                            href="/">Home</a>

                    </li>
                    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link"
                            href="/features">Features</a>
                    </li>
                    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link"
                            href="/about-us">About Us</a>
                    </li>
                    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link"
                            href="/get-in-touch">Contact Us</a>
                    </li>
                    {{#if loggedIn}}
                        <li class="navbar-navigation-root-item active"><a href="/logout"><button
                                    style="padding-top: 6px;padding-bottom: 6px;"
                                    class="btn btn-outline btn-secondary btn-anis">Logout</button></a>
                        </li>
                    {{else}}
                        <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link"
                                style="color: #6b39bd;" href="/login">Login</a>
                        </li>
                        <li class="navbar-navigation-root-item active"><a href="/register"><button
                                    style="padding-top: 6px;padding-bottom: 6px;"
                                    class="btn btn-outline btn-secondary btn-anis">Register</button></a>
                        </li>
                    {{/if}}
                </ul>
            </div>

        </div>
    </nav>
</header>