<li class="mx-2 question" data-title="Mobile Viewport
" data-info="

Keep in mind that since the width (in CSS pixels) of the viewport may vary, your page content should not solely rely on a particular viewport width to render well. Consider these additional tips:
1. Avoid setting large absolute CSS widths for page elements.
2. If necessary, CSS media queries can be used to apply different styling depending on screen size.
3. Ideally, serve responsively-sized images.

">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>