<li class="mx-2 question" data-title="Inline CSS" data-info="
For SEO, the page loading speed of the website is one of the important factors to determine the SEO ranking.

With inline CSS, when page is being loaded, for every line the CSS will be applied, instead if you put a separate CSS file and use classes to style elements, the page load time too will reduce.

">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>