<li class="mx-2 question" data-title="URL Resolve" data-info="
    Search engines see www.domain.com and domain.com as different websites. This means they could see a large amount of duplicate content, which they don't like.

Be sure that your pages all redirect to the same site.
    "> <a class="hov-c-b d-i-b">
        What is this?</a></li>