<li class="mx-2 question" data-title="iFrames" data-info="
iFrames Cause SEO Problems. They are sometimes used to display content on web pages. Content displayed via iFrames may not be 
indexed and available to appear in Google's search results. We recommend that you avoid the use of 
iFrames to display content. If you do include iFrames, make sure to provide additional text-based links 
to the content they display, so that Googlebot can crawl and index this content.
If you create an iframe, your site becomes vulnerable to cross-site attacks.

We recommend not using the iframe tag. Create pages that Google can crawl and associate with your site easily.



">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>