<li class="mx-2 question" data-title="Schema.org" data-info="Broken links send users to non-existent web pages. They hurt a site's usability and reputation, which impacts SEO.
{{#ifeq this.passed true}}
                   Fortunately your page doesn't contain any broken links.
{{else}}
Sad to say your page does have some broken links.
                    {{/ifeq}}

Be proactive in checking your pages to make sure they don't have any broken links.

See the HTTP status for potentially thousands of links using Site Crawl.">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>