<li class="mx-2 question" data-title="Friendly URLs" data-info="In particular, good URLs are easier to email, memorise, advertise and guess.

Shorter, clean URLs also tend to score higher in search engines than dirty URLs.">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>