<li class="mx-2 question" data-title="GZIP Compression"
    data-info="GZIP compression is a way of compressing files so that they transfer faster. GZIP compression means your web pages load faster for website users.

The server sends the compressed file to the user's browser, which then downloads and unpacks it. Compression reduces the size of a file by up to 90% so that pages load faster and require less data usage. This, in turn, equates to a better user experience and higher search engine rankings.">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>