<li class="mx-2 question" data-title="Favicon" data-info="
Favicons are the small icons that represent a website, company and/or brand. They can be displayed (among other instances) 
in browser tabs or bookmarks. Google also displays favicons in a page's search snippet in mobile search results.
Make sure your favicon is consistent with your brand to help improve visibility.">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>