<li class="mx-2 question" data-title="Flash" data-info="Flash is terrible for mobile devices because it drains 
battery and eats memory, and of course because of the many bugs. Flash consumes a lot of power, slows down browsers 
and causes your computer to do a lot of unnecessary work. Mobile is huge now so the technology has to be light and efficient.
There are much better solutions now for animation. The new standard is the HTML5 Canvas element. If your Webpage does have flash 
you should consider an other solution.
">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>