<li class="mx-2 question" data-title="No Index Header"
    data-info="It is considered best practice to only specify robots directives once on any given URL. This is because doing it 
    multiple times makes the configuration more open to human error.

In this scenario, you have a noindex specified in the X-Robots-Tag in the HTTP header, and also a meta noindex in the HTML 'head'.">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>