<li class="mx-2 question" data-title="Font Size Legibility"
    data-info="For SEO, you need a minimum of a 16px font to make sure your site is considered mobile friendly, which is crucial in the mobile-first index.">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>