<li class="mx-2 question" data-title="SSL" data-info="
Modern websites tend to be SSL secured (HTTPS) as it provides an extra security layer while logging in to your Web Service. 
In 2014, Google announced that an HTTPS (vs HTTP) website would receive an extra boost in their ranking.
While switching to HTTPS, make sure your site remains optimized and see to it that your website will still run quickly. 
Follow these best practices for a smooth transition:
1. se a serious issuer to purchase your SSL certificate
2. Redirect all of your HTTP pages to the HTTPS version of your website
3. Use HTTP Strict Transport Security (HSTS) in your headers
4. Renew your SSL certificate every year, before it expires
5. Make sure that all of your content (CSS, etc.) is linked to HTTPS
6. Update your XML sitemap to ensure the URLs include HTTPS and update the robots.txt file to reference this version
7. Register the HTTPS website in Google & Bing Search Console/Webmaster Tools">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>