<li class="mx-2 question" data-title="Deprecated HTML Tags"
    data-info="Check if your webpage is using old, deprecated HTML tags. These tags will eventually lose browser support and your web pages may render incorrectly as browsers drop support for these tags.">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>