<li class="mx-2 question" data-title="Image Optimization" data-info="

Image optimization is about reducing the file size of your images as much as possible without sacrificing 
quality so that your page load times remain low. It’s also about image SEO. That is, getting your product 
images and decorative images to rank on Google and other image search engines.">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>