<li class="mx-2 question" data-title="Email Privacy" data-info="
We don’t recommend adding plain text/linked email addresses to your webpages, as malicious bots scrape the web in search of email addresses to spam. Instead, consider using a contact form.
">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>