<li class="mx-2 question" data-title="Broken Links" data-info="
Broken links send users to non-existent web pages. They hurt a site's usability and reputation, which impacts SEO.


Be proactive in checking your pages to make sure they don't have any broken links.

See the HTTP status for potentially thousands of links using Site Crawl.">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>