<li class="mx-2 question" data-title="Minified JavaScript and CSS"
    data-info="
Fast websites make happy visitors. Enabling minification on assets like HTML, JavaScript and CSS files will reduce their transfer size. Every time a page is requested from your website less bytes and lighter assets are sent over the network resulting in faster delivery which loads your website faster for your customers.">
    <a class="hov-c-b d-i-b">
        What is this?</a></li>