{{#if message}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{{message}}}aaaa
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
{{/if}}

{{#if info}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{{info}}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
{{/if}}