@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/jumbotron";

$jumbotron-padding: 1.2rem;
$jumbotron-bg: $white;


.jumbotron {
	padding: $jumbotron-padding;
	background: $jumbotron-bg;
	margin: 0;
}
