// Page styles
html:not(.components-ready) * {
	transition: 0s;
}

.page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	opacity: 0;

	&.page-revealed {
		opacity: 1;
	}

	.rd-navbar-fixed-linked & {
		padding-top: 50px;
	}

	&.page-image-bg {
		background: url( '../../images/image-27-6000x4000.jpg' ) ;
		background-size: cover;
		
		> & {
			position: relative;
			z-index: 1;
		}

		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $white;
			opacity: .12;
		}

		.panel {
			background: rgba( $white, .8);
		}
	}
}

html .page {
	transition: opacity .25s;
}

html.components-ready .page {
	transition: opacity .25s, padding .2s ease-in-out;
}

// Media
@include media-breakpoint-up(xl) {
	.page {
		.rd-navbar-fixed-linked & {
			padding-left: 50px;
		}

		.rd-navbar-sidebar-active & {
			padding-left: 250px;
		}
	}
}

@include media-breakpoint-up(xxl) {
	.page {
		.rd-navbar-fixed-linked & {
			padding-top: 110px;
			padding-left: 88px;
		}

		.rd-navbar-sidebar-active & {
			padding-left: 268px;
		}
	}
}
