// Variables

$gray-100: #f2f4fA;
$gray-200: #e7e7e7;
$gray-300: #eef0f2;
$gray-400: #dde3e8;
$gray-500: #bebebe;
$gray-600: #aeaeae;
$gray-700: #818181;
$gray-800: #3a4049;
$gray-900: #1a2643;

$primary: #58a193;
$secondary: #5b5eab;
$success: #48c8af;
$info: #34b1cc;
$warning: #f7ad6a;
$danger: #ff5f68;
$light: $gray-600;
$dark: $gray-800;

// The yiq lightness value
$yiq-contrasted-threshold:  190;

$body-color: $gray-700;
$body-bg: $gray-100;


// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-size-base: px-to-rem( 15px );
$font-size-lg: $font-size-base * 1.13; // ~ 17px

$line-height-base: 1.47;
$line-height-lg: 1.2;
$line-height-sm: 1.7;

$lead-font-size: $font-size-lg;

$h1-font-size: px-to-rem( 50px );
$h2-font-size: px-to-rem( 32px );
$h3-font-size: px-to-rem( 24px );
$h4-font-size: px-to-rem( 20px );
$h5-font-size: px-to-rem( 17px );
$h6-font-size: px-to-rem( 16px );

$h1-line-height: 1.1;
$h2-line-height: $line-height-lg;
$h3-line-height: $line-height-base;
$h4-line-height: 1.4;
$h5-line-height: $line-height-base;
$h6-line-height: $line-height-base;

$headings-font-weight: 400;
$headings-color: $gray-800;

// Components
$border-radius: px-to-rem( 6px );
$border-radius-sm: px-to-rem( 4px );
$border-color: $gray-400;
$box-shadow: 0 10px 20px rgba($gray-800, 0.23);

// Buttons + Forms
$input-btn-font-size: $font-size-base;
$input-btn-padding-y:  px-to-rem( 13px );
$input-btn-padding-x:  px-to-rem( 21px );

$input-btn-padding-y-sm: px-to-rem( 5px );
$input-btn-padding-x-sm: px-to-rem( 15px );
$input-btn-font-size-sm: $font-size-base;

$input-btn-padding-y-lg:  px-to-rem( 19px );
$input-btn-padding-x-lg:  px-to-rem( 21px );
$input-btn-font-size-lg:  px-to-rem( 17px );


// Buttons
$btn-font-size: $input-btn-font-size * .87;
$btn-padding-y: px-to-rem( 14px );
$btn-padding-x: px-to-rem( 21px );

$btn-font-size-sm: $btn-font-size;
$btn-padding-x-sm: px-to-rem( 12px );

$btn-font-size-lg: $btn-font-size;
$btn-padding-y-lg: px-to-rem( 19px );

$btn-border-radius: $border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;

// Resize buttons multiplier
$btn-multiplier-md: .7;
$btn-multiplier-xl: .85;

// Custom control
$custom-control-indicator-size : px-to-rem( 25px );
$custom-control-indicator-border-width: px-to-rem( 1px );

// Grid breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1600px
);

// Grid containers
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1200px
);

// Z-index master list
$zindex-dropdown:       10;
$zindex-sticky:         11;
$zindex-popover:        12;
$zindex-tooltip:        13;
$zindex-fixed:          14;
$zindex-modal-backdrop: 15;
$zindex-modal:          16;
