@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";

$table-hover-bg: $table-bg;
$table-hover-box-shadow: $box-shadow;

@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/tables";

// Base
.table {
	margin-bottom: 0;
}

// Hover effect
.table-hover {
	tbody tr {
		border-radius: $border-radius;
		transition: $transition-base;

		@include hover {
			box-shadow: $table-hover-box-shadow;
		}
	}
}

// Modifies
.table-vertical-align {
	td, th {
		vertical-align: middle;
	}
}

.table-align-1 {
	th:nth-child( 1 ),
	td:nth-child( 1 ){
		text-align: center;
	}
}

// Data table context
.data-table {
	width: 100% !important;
}
