extends ../components/base/_skeleton
include ../components/input/_input
include  ../components/dropdown/_dropdown
include ../components/progress/_progress
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Basic Tables';

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-lg
		.container-fluid
			.row.row-30
				.col-12
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Header Colors
								code.code-bg tr.table-primary
						.panel-body
							.row.row-30
								.col-lg-6
									.table-responsive.scroller.scroller-horizontal
										table.table
											thead
												tr.table-primary
													th.text-primary( scope='col' ) #
													th.text-primary( scope='col' ) First Name
													th( scope='col' ): code.code-bg .table-primary
											tbody
												tr
													th( scope='row' ) 1
													td Mark
													td Otto
												tr
													th( scope='row' ) 2
													td Jacob
													td Thornton
												tr
													th( scope='row' ) 3
													td Larry
													td Bird

								.col-lg-6
									.table-responsive.scroller.scroller-horizontal
										table.table
											thead
												tr.table-secondary
													th.text-secondary( scope='col' ) #
													th.text-secondary( scope='col' ) First Name
													th( scope='col' ): code.code-bg .table-secondary
											tbody
												tr
													th( scope='row' ) 1
													td Mark
													td Otto
												tr
													th( scope='row' ) 2
													td Jacob
													td Thornton
												tr
													th( scope='row' ) 3
													td Larry
													td Bird

								.col-lg-6
									.table-responsive.scroller.scroller-horizontal
										table.table
											thead
												tr.table-success
													th.text-success( scope='col' ) #
													th.text-success( scope='col' ) First Name
													th( scope='col' ): code.code-bg .table-success
											tbody
												tr
													th( scope='row' ) 1
													td Mark
													td Otto
												tr
													th( scope='row' ) 2
													td Jacob
													td Thornton
												tr
													th( scope='row' ) 3
													td Larry
													td Bird

								.col-lg-6
									.table-responsive.scroller.scroller-horizontal
										table.table
											thead
												tr.table-danger
													th.text-danger( scope='col' ) #
													th.text-danger( scope='col' ) First Name
													th( scope='col' ): code.code-bg .table-danger
											tbody
												tr
													th( scope='row' ) 1
													td Mark
													td Otto
												tr
													th( scope='row' ) 2
													td Jacob
													td Thornton
												tr
													th( scope='row' ) 3
													td Larry
													td Bird

								.col-lg-6
									.table-responsive.scroller.scroller-horizontal
										table.table
											thead
												tr.table-warning
													th.text-warning( scope='col' ) #
													th.text-warning( scope='col' ) First Name
													th( scope='col' ): code.code-bg .table-danger
											tbody
												tr
													th( scope='row' ) 1
													td Mark
													td Otto
												tr
													th( scope='row' ) 2
													td Jacob
													td Thornton
												tr
													th( scope='row' ) 3
													td Larry
													td Bird

								.col-lg-6
									.table-responsive.scroller.scroller-horizontal
										table.table
											thead
												tr.table-info
													th.text-info( scope='col' ) #
													th.text-info( scope='col' ) First Name
													th( scope='col' ): code.code-bg .table-info
											tbody
												tr
													th( scope='row' ) 1
													td Mark
													td Otto
												tr
													th( scope='row' ) 2
													td Jacob
													td Thornton
												tr
													th( scope='row' ) 3
													td Larry
													td Bird

								.col-lg-6
									.table-responsive.scroller.scroller-horizontal
										table.table
											thead
												tr.table-light
													th.text-light( scope='col' ) #
													th.text-light( scope='col' ) First Name
													th( scope='col' ): code.code-bg .table-light
											tbody
												tr
													th( scope='row' ) 1
													td Mark
													td Otto
												tr
													th( scope='row' ) 2
													td Jacob
													td Thornton
												tr
													th( scope='row' ) 3
													td Larry
													td Bird

								.col-lg-6
									.table-responsive.scroller.scroller-horizontal
										table.table
											thead
												tr.table-dark
													th.text-dark( scope='col' ) #
													th.text-dark( scope='col' ) First Name
													th( scope='col' ): code.code-bg .table-dark
											tbody
												tr
													th( scope='row' ) 1
													td Mark
													td Otto
												tr
													th( scope='row' ) 2
													td Jacob
													td Thornton
												tr
													th( scope='row' ) 3
													td Larry
													td Bird

				.col-lg-6
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Base Table
								code.code-bg .table
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table
									thead
										tr
											th( scope='col' ) #
											th( scope='col' ) First Name
											th( scope='col' ) Last Name
											th( scope='col' ) Handle
									tbody
										tr
											th( scope='row' ) 1
											td Mark
											td Otto
											td @mdo
										tr
											th( scope='row' ) 2
											td Jacob
											td Thornton
											td @fat
										tr
											th( scope='row' ) 3
											td Larry
											td Bird
											td @twitter

				.col-lg-6
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Base Table Dark
								code.code-bg .table.table-dark
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table.table-dark
									thead
										tr
											th( scope='col' ) #
											th( scope='col' ) First Name
											th( scope='col' ) Last Name
											th( scope='col' ) Handle
									tbody
										tr
											th( scope='row' ) 1
											td Mark
											td Otto
											td @mdo
										tr
											th( scope='row' ) 2
											td Jacob
											td Thornton
											td @fat
										tr
											th( scope='row' ) 3
											td Larry
											td Bird
											td @twitter

				.col-lg-6
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Striped rows
								code.code-bg .table.table-striped
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table.table-striped
									thead
										tr
											th( scope='col' ) #
											th( scope='col' ) First Name
											th( scope='col' ) Last Name
											th( scope='col' ) Handle
									tbody
										tr
											th( scope='row' ) 1
											td Mark
											td Otto
											td @mdo
										tr
											th( scope='row' ) 2
											td Jacob
											td Thornton
											td @fat
										tr
											th( scope='row' ) 3
											td Larry
											td Bird
											td @twitter

				.col-lg-6
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Striped rows dark
								code.code-bg .table.table-striped.table-dark
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table.table-striped.table-dark
									thead
										tr
											th( scope='col' ) #
											th( scope='col' ) First Name
											th( scope='col' ) Last Name
											th( scope='col' ) Handle
									tbody
										tr
											th( scope='row' ) 1
											td Mark
											td Otto
											td @mdo
										tr
											th( scope='row' ) 2
											td Jacob
											td Thornton
											td @fat
										tr
											th( scope='row' ) 3
											td Larry
											td Bird
											td @twitter

				.col-lg-6
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Bordered table
								code.code-bg .table.table-bordered
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table.table-bordered
									thead
										tr
											th( scope='col' ) #
											th( scope='col' ) First Name
											th( scope='col' ) Last Name
											th( scope='col' ) Handle
									tbody
										tr
											th( scope='row' ) 1
											td Mark
											td Otto
											td @mdo
										tr
											th( scope='row' ) 2
											td Jacob
											td Thornton
											td @fat
										tr
											th( scope='row' ) 3
											td( colspan='2' ) Larry Bird
											td @twitter

				.col-lg-6
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Bordered table dark
								code.code-bg .table.table-bordered.table-dark
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table.table-bordered.table-dark
									thead
										tr
											th( scope='col' ) #
											th( scope='col' ) First Name
											th( scope='col' ) Last Name
											th( scope='col' ) Handle
									tbody
										tr
											th( scope='row' ) 1
											td Mark
											td Otto
											td @mdo
										tr
											th( scope='row' ) 2
											td Jacob
											td Thornton
											td @fat
										tr
											th( scope='row' ) 3
											td( colspan='2' ) Larry Bird
											td @twitter

				.col-lg-6
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Borderless table
								code.code-bg .table.table-borderless
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table.table-borderless
									thead
										tr
											th( scope='col' ) #
											th( scope='col' ) First Name
											th( scope='col' ) Last Name
											th( scope='col' ) Handle
									tbody
										tr
											th( scope='row' ) 1
											td Mark
											td Otto
											td @mdo
										tr
											th( scope='row' ) 2
											td Jacob
											td Thornton
											td @fat
										tr
											th( scope='row' ) 3
											td( colspan='2' ) Larry Bird
											td @twitter

				.col-lg-6
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Borderless table dark
								code.code-bg .table.table-borderless.table-dark
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table.table-borderless.table-dark
									thead
										tr
											th( scope='col' ) #
											th( scope='col' ) First Name
											th( scope='col' ) Last Name
											th( scope='col' ) Handle
									tbody
										tr
											th( scope='row' ) 1
											td Mark
											td Otto
											td @mdo
										tr
											th( scope='row' ) 2
											td Jacob
											td Thornton
											td @fat
										tr
											th( scope='row' ) 3
											td( colspan='2' ) Larry Bird
											td @twitter

				.col-lg-6
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Hoverable rows
								code.code-bg .table.table-hover
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table.table-hover
									thead
										tr
											th( scope='col' ) #
											th( scope='col' ) First Name
											th( scope='col' ) Last Name
											th( scope='col' ) Handle
									tbody
										tr
											th( scope='row' ) 1
											td Mark
											td Otto
											td @mdo
										tr
											th( scope='row' ) 2
											td Jacob
											td Thornton
											td @fat
										tr
											th( scope='row' ) 3
											td( colspan='2' ) Larry Bird
											td @twitter

				.col-lg-6
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Hoverable rows dark
								code.code-bg .table.table-hover.table-dark
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table.table-hover.table-dark
									thead
										tr
											th( scope='col' ) #
											th( scope='col' ) First Name
											th( scope='col' ) Last Name
											th( scope='col' ) Handle
									tbody
										tr
											th( scope='row' ) 1
											td Mark
											td Otto
											td @mdo
										tr
											th( scope='row' ) 2
											td Jacob
											td Thornton
											td @fat
										tr
											th( scope='row' ) 3
											td( colspan='2' ) Larry Bird
											td @twitter

				.col-12
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title
									span.panel-icon.fa-table
									= ' '
									span Contextual classes
								code.code-bg tr.table-primary
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table
									thead
										tr
											th( scope='col' ) Class
											th( scope='col' ) Heading
											th( scope='col' ) Heading
									tbody
										tr.table-active
											th Active
											td Cell
											td Cell
										tr
											th Default
											td Cell
											td Cell
										tr.table-primary
											th Primary
											td Cell
											td Cell
										tr.table-secondary
											th Secondary
											td Cell
											td Cell
										tr.table-success
											th Success
											td Cell
											td Cell
										tr.table-danger
											th Danger
											td Cell
											td Cell
										tr.table-warning
											th Warning
											td Cell
											td Cell
										tr.table-info
											th Info
											td Cell
											td Cell
										tr.table-light
											th Light
											td Cell
											td Cell
										tr.table-dark
											th Dark
											td Cell
											td Cell

				.col-12
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-star
								= ' '
								span Preformatted Row Content
						.panel-body.p-0
							.table-responsive.scroller.scroller-horizontal
								table.table.table-vertical-align( style=' min-width: 600px ' )
									tbody
										tr
											th( scope='row' ) 1
											td( style='min-width: 200px' ) Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												+radio( {
													id: 'primaryRadio',
													name: 'customRadio'
												} ).custom-radio-primary
										tr
											th( scope='row' ) 2
											td Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												+checkbox( {
													id: 'primaryCheck'
												} ).custom-checkbox-primary
										tr
											th( scope='row' ) 3
											td Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												+switch( {
													id: 'customSwitch1'
												} ).custom-switch-primary
										tr
											th( scope='row' ) 4
											td Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												ul.list-inline
													li.list-inline-item: span.fa.fa-home.text-primary
													li.list-inline-item: span.fa.fa-user.text-success
													li.list-inline-item: span.fa.fa-cab.text-warning
													li.list-inline-item: span.fa.fa-plane.text-danger
													li.list-inline-item: span.fa.fa-ship.text-info
										tr
											th( scope='row' ) 6
											td Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												.d-inline-block( data-sparkline!= {
												series: [
													{data: [71, 78, 39, 66]}
												]
											} )
										tr
											th( scope='row' ) 7
											td Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												.d-inline-block( data-sparkline!= {
												chart: {type: 'column'},
												series: [
													{data: [45, 35, 64, 83]}
												]
											} )
										tr
											th( scope='row' ) 9
											td Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												ul.list-inline
													li.list-inline-item: img( src='images/users/user-02-50x50.jpg', width='50', height='50', alt='' )
													li.list-inline-item: img.rounded( src='images/users/user-02-50x50.jpg', width='50', height='50', alt='' )
													li.list-inline-item: img.rounded-circle( src='images/users/user-02-50x50.jpg', width='50', height='50', alt='' )
										tr
											th( scope='row' ) 10
											td Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												+button-dropdown({
													buttonText: 'Dropdown',
													list: [
														{text: 'Option 1'},
														{text: 'Option 2'},
														{text: 'Option 3'}
													]
												}).btn-primary.btn-sm
										tr
											th( scope='row' ) 11
											td Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												+progress( {
													progressTitle: 'Progress Striped',
													className: 'progress-primary progress-bar-striped',
													label: true,
													value: '50'
												} )
										tr
											th( scope='row' ) 12
											td Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												.badge.badge-pill.badge-warning 8
												.badge.badge-primary Primary
										tr
											th( scope='row' ) 13
											td Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												button.btn.btn-warning( data-toggle='tooltip', data-placement='left', title='Tooltip on left' ) Tooltip on left
										tr
											th( scope='row' ) 14
											td Lorem ipsum dolor sit amet, adipiscing eli
											td.text-right
												button.btn.btn-warning( data-toggle='popover', data-placement='left', data-container='body', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.' ) Popover on left
