extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Blank Starter';

block page
	header.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-sm
		.container-fluid
			.jumbotron
				h2 Blank Page Layout
				hr.my-3
				p A black page template with a minimal dependency assets to use as a base for any custom page you create
