extends ../components/base/_skeleton
include  ../components/dropdown/_dropdown
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Buttons';

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-lg.section-transparent
		.container-fluid
			h3.text-center Button States
			.row.row-30
				.col-6.col-sm-4.col-md-3.col-xxl
					div
						code.code-bg .btn-primary
					.mt-3
						button.btn.btn-block.btn-primary.disabled( type='button' ) Disabled
						button.btn.btn-block.btn-primary( type='button' ) Hover
						button.btn.btn-block.btn-primary.active( type='button' ) Active
				.col-6.col-sm-4.col-md-3.col-xxl
					div
						code.code-bg .btn-secondary
					.mt-3
						button.btn.btn-block.btn-secondary.disabled( type='button' ) Disabled
						button.btn.btn-block.btn-secondary( type='button' ) Hover
						button.btn.btn-block.btn-secondary.active( type='button' ) Active
				.col-6.col-sm-4.col-md-3.col-xxl
					div
						code.code-bg .btn-success
					.mt-3
						button.btn.btn-block.btn-success.disabled( type='button' ) Disabled
						button.btn.btn-block.btn-success( type='button' ) Hover
						button.btn.btn-block.btn-success.active( type='button' ) Active
				.col-6.col-sm-4.col-md-3.col-xxl
					div
						code.code-bg .btn-info
					.mt-3
						button.btn.btn-block.btn-info.disabled( type='button' ) Disabled
						button.btn.btn-block.btn-info( type='button' ) Hover
						button.btn.btn-block.btn-info.active( type='button' ) Active
				.col-6.col-sm-4.col-md-3.col-xxl
					div
						code.code-bg .btn-warning
					.mt-3
						button.btn.btn-block.btn-warning.disabled( type='button' ) Disabled
						button.btn.btn-block.btn-warning( type='button' ) Hover
						button.btn.btn-block.btn-warning.active( type='button' ) Active
				.col-6.col-sm-4.col-md-3.col-xxl
					div
						code.code-bg .btn-danger
					.mt-3
						button.btn.btn-block.btn-danger.disabled( type='button' ) Disabled
						button.btn.btn-block.btn-danger( type='button' ) Hover
						button.btn.btn-block.btn-danger.active( type='button' ) Active
				.col-6.col-sm-4.col-md-3.col-xxl
					div
						code.code-bg .btn-light
					.mt-3
						button.btn.btn-block.btn-light.disabled( type='button' ) Disabled
						button.btn.btn-block.btn-light( type='button' ) Hover
						button.btn.btn-block.btn-light.active( type='button' ) Active
				.col-6.col-sm-4.col-md-3.col-xxl
					div
						code.code-bg .btn-dark
					.mt-3
						button.btn.btn-block.btn-dark.disabled( type='button' ) Disabled
						button.btn.btn-block.btn-dark( type='button' ) Hover
						button.btn.btn-block.btn-dark.active( type='button' ) Active

	section.section-lg.section-transparent
		.container-fluid
			h3.text-center Button Sizes
			.text-center.mt-3
				code.code-bg .btn-sm .btn-lg
			.row.row-30
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-sm.btn-primary( type='button' ) Primary
					button.btn.btn-block.btn-primary( type='button' ) Primary
					button.btn.btn-block.btn-lg.btn-primary( type='button' ) Primary
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-sm.btn-secondary( type='button' ) Secondary
					button.btn.btn-block.btn-secondary( type='button' ) Secondary
					button.btn.btn-block.btn-lg.btn-secondary( type='button' ) Secondary
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-sm.btn-success( type='button' ) Succes
					button.btn.btn-block.btn-success( type='button' ) Succes
					button.btn.btn-block.btn-lg.btn-success( type='button' ) Succes
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-sm.btn-info( type='button' ) Info
					button.btn.btn-block.btn-info( type='button' ) Info
					button.btn.btn-block.btn-lg.btn-info( type='button' ) Info
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-sm.btn-warning( type='button' ) Warning
					button.btn.btn-block.btn-warning( type='button' ) Warning
					button.btn.btn-block.btn-lg.btn-warning( type='button' ) Warning
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-sm.btn-danger( type='button' ) Danger
					button.btn.btn-block.btn-danger( type='button' ) Danger
					button.btn.btn-block.btn-lg.btn-danger( type='button' ) Danger
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-sm.btn-light( type='button' ) Light
					button.btn.btn-block.btn-light( type='button' ) Light
					button.btn.btn-block.btn-lg.btn-light( type='button' ) Light
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-sm.btn-dark( type='button' ) Dark
					button.btn.btn-block.btn-dark( type='button' ) Dark
					button.btn.btn-block.btn-lg.btn-dark( type='button' ) Dark

	section.section-lg.section-transparent
		.container-fluid
			h3.text-center Button Options
			.text-center.mt-3
				code.code-bg .btn-rounded .btn-gradient
			.row.row-30
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-rounded.btn-primary( type='button' ) Primary
					button.btn.btn-block.btn-gradient.btn-primary( type='button' ) Primary
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-rounded.btn-secondary( type='button' ) Secondary
					button.btn.btn-block.btn-gradient.btn-secondary( type='button' ) Secondary
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-rounded.btn-success( type='button' ) success
					button.btn.btn-block.btn-gradient.btn-success( type='button' ) success
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-rounded.btn-info( type='button' ) Info
					button.btn.btn-block.btn-gradient.btn-info( type='button' ) Info
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-rounded.btn-warning( type='button' ) Warning
					button.btn.btn-block.btn-gradient.btn-warning( type='button' ) Warning
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-rounded.btn-danger( type='button' ) danger
					button.btn.btn-block.btn-gradient.btn-danger( type='button' ) danger
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-rounded.btn-light( type='button' ) Light
					button.btn.btn-block.btn-gradient.btn-light( type='button' ) Light
				.col-6.col-sm-4.col-md-3.col-xxl
					button.btn.btn-block.btn-rounded.btn-dark( type='button' ) Dark
					button.btn.btn-block.btn-gradient.btn-dark( type='button' ) Dark

	section.section-lg.section-transparent
		.container-fluid
			h3.text-center Button Icon/Button groups
			.text-center.mt-3
				code.code-bg Multiple .btns wrapped in .btn-group
			.row.row-30
				.col-6.col-sm-4.col-md-3.col-xxl
					.btn-group
						button.btn.btn-primary( type='button' ): span.fa-home
						button.btn.btn-primary( type='button' ): span.fa-coffee
						button.btn.btn-primary( type='button' ): span.fa-envelope
				.col-6.col-sm-4.col-md-3.col-xxl
					.btn-group
						button.btn.btn-secondary( type='button' ): span.fa-home
						button.btn.btn-secondary( type='button' ): span.fa-coffee
						button.btn.btn-secondary( type='button' ): span.fa-envelope
				.col-6.col-sm-4.col-md-3.col-xxl
					.btn-group
						button.btn.btn-success( type='button' ): span.fa-home
						button.btn.btn-success( type='button' ): span.fa-coffee
						button.btn.btn-success( type='button' ): span.fa-envelope
				.col-6.col-sm-4.col-md-3.col-xxl
					.btn-group
						button.btn.btn-info( type='button' ): span.fa-home
						button.btn.btn-info( type='button' ): span.fa-coffee
						button.btn.btn-info( type='button' ): span.fa-envelope
				.col-6.col-sm-4.col-md-3.col-xxl
					.btn-group
						button.btn.btn-warning( type='button' ): span.fa-home
						button.btn.btn-warning( type='button' ): span.fa-coffee
						button.btn.btn-warning( type='button' ): span.fa-envelope
				.col-6.col-sm-4.col-md-3.col-xxl
					.btn-group
						button.btn.btn-danger( type='button' ): span.fa-home
						button.btn.btn-danger( type='button' ): span.fa-coffee
						button.btn.btn-danger( type='button' ): span.fa-envelope
				.col-6.col-sm-4.col-md-3.col-xxl
					.btn-group
						button.btn.btn-light( type='button' ): span.fa-home
						button.btn.btn-light( type='button' ): span.fa-coffee
						button.btn.btn-light( type='button' ): span.fa-envelope
				.col-6.col-sm-4.col-md-3.col-xxl
					.btn-group
						button.btn.btn-dark( type='button' ): span.fa-home
						button.btn.btn-dark( type='button' ): span.fa-coffee
						button.btn.btn-dark( type='button' ): span.fa-envelope

	section.section-lg.section-transparent
		.container-fluid
			h3.text-center Button dropdowns
			.text-center.mt-3
				code.code-bg .dropdown-toggle
			.row.row-30
				.col-6.col-sm-4.col-md-3.col-xxl
					.group-5
						+button-dropdown-split({
							buttonText: 'Dropdown',
							list:       [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-primary

						+button-dropdown({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' }
							]
						}).btn-primary

				.col-6.col-sm-4.col-md-3.col-xxl
					.group-5
						+button-dropdown-split({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-secondary

						+button-dropdown({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-secondary

				.col-6.col-sm-4.col-md-3.col-xxl
					.group-5
						+button-dropdown-split({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-success

						+button-dropdown({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-success

				.col-6.col-sm-4.col-md-3.col-xxl
					.group-5
						+button-dropdown-split({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-info

						+button-dropdown({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-info

				.col-6.col-sm-4.col-md-3.col-xxl
					.group-5
						+button-dropdown-split({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-warning

						+button-dropdown({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-warning

				.col-6.col-sm-4.col-md-3.col-xxl
					.group-5
						+button-dropdown-split({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-danger

						+button-dropdown({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-danger

				.col-6.col-sm-4.col-md-3.col-xxl
					.group-5
						+button-dropdown-split({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-light

						+button-dropdown({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-light

				.col-6.col-sm-4.col-md-3.col-xxl
					.group-5
						+button-dropdown-split({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-dark

						+button-dropdown({
							buttonText: 'Dropdown',
							list: [
								{ text: 'Option 1' },
								{ text: 'Option 2' },
								{ text: 'Option 3' },
								{ divider: true },
								{ text: 'Option 4' }
							]
						}).btn-dark
