extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Calendar';

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-md
		.container-fluid
			.row.row-30
				.col-lg-4.col-xl-3.order-lg-2
					.panel
						.panel-header
							h4
								span.panel-icon.fa-calendar-check-o
								span Calendar Events
						.panel-body
							.row.row-10
								.col-12.col-sm-6.col-lg-12
									h5  Simple Events:
									.external-events.events-list
										.fc-event.fc-event-primary( data-event='primary' )
											.fc-event-icon
												span.fa.fa-exclamation
											.fc-event-desc Sony Meeting
										.fc-event.fc-event-danger( data-event='danger' )
											.fc-event-icon
												span.fa.fa-info
											.fc-event-desc Conference
										.fc-event.fc-event-success( data-event='success' )
											.fc-event-icon
												span.fa.fa-check
											.fc-event-desc System Testing
										.fc-event.fc-event-light( data-event='light' )
											.fc-event-icon
												span.fa.fa-question
											.fc-event-desc Business meeting
								.col-12.col-sm-6.col-lg-12
									h5  Reoccuring Events:
									.external-events.events-list
										.fc-event.fc-event-alert.event-recurring
											.fc-event-icon
												span.fa.fa-clock-o
											.fc-event-desc Meeting With Mike
										.fc-event.fc-event-system.event-recurring
											.fc-event-icon
												span.fa.fa-bell-o
											.fc-event-desc Meeting With Jack
				.col-lg-8.col-xl-9.order-lg-1
					.panel
						.panel-header
							h4
								span.panel-icon.fa-calendar-check-o
								span Calendar
						.panel-body

							.fullcalendar( data-fullcalendar-event!=[
								{
									title:     'Sony Meeting',
									start:     '2019-08-06',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2019-08-14',
									end:       '2019-08-16',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2019-08-26',
									end:       '2019-08-28',
									className: 'fc-event-primary'
								},
								{
									title:     'Sony Meeting',
									start:     '2019-09-05',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2019-09-11',
									end:       '2019-09-12',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2019-09-26',
									end:       '2019-09-28',
									className: 'fc-event-primary'
								},
								{
									title:     'Sony Meeting',
									start:     '2019-10-06',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2019-10-14',
									end:       '2019-10-16',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2019-10-26',
									end:       '2019-10-28',
									className: 'fc-event-primary'
								},
								{
									title:     'Sony Meeting',
									start:     '2019-11-09',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2019-11-17',
									end:       '2019-11-18',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2019-11-26',
									end:       '2019-11-28',
									className: 'fc-event-primary'
								},
								{
									title:     'Sony Meeting',
									start:     '2019-12-06',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2019-12-14',
									end:       '2019-12-16',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2019-12-26',
									end:       '2019-12-27',
									className: 'fc-event-primary'
								},
								{
									title:     'Sony Meeting',
									start:     '2020-01-09',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2020-01-17',
									end:       '2020-01-18',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2020-01-26',
									end:       '2020-01-28',
									className: 'fc-event-primary'
								}
							] )
