extends ../components/base/_skeleton
include ../components/countdown/_countdown

block variables
	-
		htmlClass[ htmlClass.indexOf( 'rd-navbar-sidebar-active' ) ] = '';
		pageClass = 'page-image-bg';
		pageName = 'Coming Soon';

block page
	section.section-one-screen.section-lg
		.container
			.row.row-30.justify-content-center
				.col-lg-9.col-xl-8
					+countdown({ to: '2019-12-31' })
				.col-lg-9.col-xl-8
					h2.text-center We're Getting Ready To Launch!
					form.panel( method='post' )
						.panel-body
							.form-row.row-5
								.col-sm-8.col-lg-9
									.input-group
										.input-group-prepend
											span.input-group-text.fa.fa-envelope-o
										input.form-control( type='text', name='mail', placeholder='Your Email Address' )
								.col-sm-4.col-lg-3
									button.btn.btn-primary.btn-block( type='submit' ) Notify

block sidebar
