extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs
include ../components/dropdown/_dropdown

block variables
	- pageName = 'Ecommerce dashboard'

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-sm
		.container-fluid
			.row.row-30
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-warning
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-secondary
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-12
					-
						var linearEcommerceChart = {
							credits: false,
							colors: [ '#58a193', '#f7ad6a', '#5b5eab', '#34B1CC' ],
							chart: {
								backgroundColor: 'transparent',
								className: 'br-r',
								type: 'spline',
								zoomType: 'x',
								panning: true,
								panKey: 'shift',
								marginTop: 45,
								marginRight: 1
							},
							title: {
								text: null
							},
							xAxis: {
								gridLineColor: '#dde3e8',
								tickColor: '#dde3e8',
								lineColor: '#dde3e8',
								labels: {
									style: {
										color: '#bebebe'
									}
								},
								categories: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
							},
							yAxis: {
								min: 0,
								tickInterval: 5,
								gridLineColor: '#dde3e8',
								tickColor: '#dde3e8',
								lineColor: '#dde3e8',
								labels: {
									style: {
										color: '#bebebe'
									}
								},
								title: {
									text: null
								}
							},
							plotOptions: {
								spline: {
									lineWidth: 2
								},
								area: {
									fillOpacity: 0.2
								}
							},
							legend: {
								enabled: true,
								floating: false,
								align: 'right',
								verticalAlign: 'top'
							},
							series: [
								{
									name: 'Phones',
									data: [5.0, 9, 17, 22, 19, 11.5, 5.2, 9.5, 11.3, 15.3, 19.9, 24.6]
								},
								{
									name: 'Notebooks',
									data: [2.9, 3.2, 4.7, 5.5, 8.9, 12.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
								},
								{
									name: 'Desktops',
									data: [15, 19, 22.7, 29.3, 22.0, 17.0, 23.8, 19.1, 22.1, 14.1, 11.6, 7.5]
								},
								{
									name: 'Music Players',
									data: [11, 6, 5, 15, 17.0, 22.0, 30.8, 24.1, 14.1, 11.1, 9.6, 6.5]
								}
							]
						}
					.panel
						.panel-header
							h4.panel-title Revenue
						.panel-body.p-0
							.highcharts-container( data-highcharts-options= linearEcommerceChart )

				.col-sm-12
					.panel.panel-nav
						.panel-header.d-flex.flex-wrap.align-items-center.justify-content-between
							h4.panel-title Recent Activity
							ul.nav.nav-tabs.scroller.scroller-horizontal( role='tablist' )
								li.nav-item: a.nav-link.active( data-toggle='tab', href='#ecommerceTab1', role='tab', aria-controls='ecommerceTab1', aria-selected='true' ) Top sellers
								li.nav-item: a.nav-link( data-toggle='tab', href='#ecommerceTab2', role='tab', aria-controls='ecommerceTab2', aria-selected='false' ) Most Viewed
								li.nav-item: a.nav-link( data-toggle='tab', href='#ecommerceTab3', role='tab', aria-controls='ecommerceTab3', aria-selected='false' ) New customers
						.panel-body
							.tab-content
								#ecommerceTab1.tab-pane.fade.show.active( role='tabpanel' )
									.table-responsive.scroller.scroller-horizontal
										table.table.table-vertical-align.table-borderless
											thead.border-bottom
												tr
													th( scope='col' ) Image
													th( scope='col', style='min-width: 110px;' ) Product title
													th( scope='col' ) SKU
													th( scope='col' ) Price
													th( scope='col' ) Stock
													th.text-right( scope='col' ) Status
											tbody
												tr
													th( scope='row' ): img( src='images/products/product-02-50x50.jpg', width='50', height='50', alt='' )
													td Apple Smart Watch - 1G
													td #15262
													td $455
													td 2,100
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm
												tr
													th( scope='row' ): img( src='images/products/product-03-50x50.jpg', width='50', height='50', alt='' )
													td Apple Macbook 4th Gen - Silver
													td #66362
													td $1699
													td 6,100
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm
												tr
													th( scope='row' ): img( src='images/products/product-01-50x50.jpg', width='50', height='50', alt='' )
													td Apple iPod 4G - Silver
													td #21362
													td $215
													td 1,400
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm
												tr
													th( scope='row' ): img( src='images/products/product-04-50x50.jpg', width='50', height='50', alt='' )
													td Apple Iphone 16GB - Silver
													td #51362
													td $1299
													td 5,200
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm

								#ecommerceTab2.tab-pane.fade( role='tabpanel' )
									.table-responsive.scroller.scroller-horizontal
										table.table.table-vertical-align.table-borderless
											thead.border-bottom
												tr
													th( scope='col' ) Image
													th( scope='col', style='min-width: 110px;' ) Product title
													th( scope='col' ) SKU
													th( scope='col' ) Price
													th( scope='col' ) Stock
													th.text-right( scope='col' ) Status
											tbody
												tr
													th( scope='row' ): img( src='images/products/product-02-50x50.jpg', width='50', height='50', alt='' )
													td Apple iPod 4G - Silver
													td #21362
													td $215
													td 1,400
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm
												tr
													th( scope='row' ): img( src='images/products/product-03-50x50.jpg', width='50', height='50', alt='' )
													td Apple Smart Watch - 1G
													td #15262
													td $455
													td 2,100
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm
												tr
													th( scope='row' ): img( src='images/products/product-01-50x50.jpg', width='50', height='50', alt='' )
													td Apple Macbook 4th Gen - Silver
													td #66362
													td $1699
													td 6,100
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm
												tr
													th( scope='row' ): img( src='images/products/product-04-50x50.jpg', width='50', height='50', alt='' )
													td Apple Iphone 16GB - Silver
													td #51362
													td $1299
													td 5,200
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm
								#ecommerceTab3.tab-pane.fade( role='tabpanel' )
									.table-responsive.scroller.scroller-horizontal
										table.table.table-vertical-align.table-borderless
											thead.border-bottom
												tr
													th( scope='col' ) Image
													th( scope='col', style='min-width: 110px;' ) Product title
													th( scope='col' ) SKU
													th( scope='col' ) Price
													th( scope='col' ) Stock
													th.text-right( scope='col' ) Status
											tbody
												tr
													th( scope='row' ): img( src='images/products/product-02-50x50.jpg', width='50', height='50', alt='' )
													td Apple Iphone 16GB - Silver
													td #51362
													td $1299
													td 5,200
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm
												tr
													th( scope='row' ): img( src='images/products/product-03-50x50.jpg', width='50', height='50', alt='' )
													td Apple iPod 4G - Silver
													td #21362
													td $215
													td 1,400
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm
												tr
													th( scope='row' ): img( src='images/products/product-01-50x50.jpg', width='50', height='50', alt='' )
													td Apple Smart Watch - 1G
													td #15262
													td $455
													td 2,100
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm
												tr
													th( scope='row' ): img( src='images/products/product-04-50x50.jpg', width='50', height='50', alt='' )
													td Apple Macbook 4th Gen - Silver
													td #66362
													td $1699
													td 6,100
													td.text-right
														+button-dropdown( {
															buttonText: 'Active',
															list:       [
																{ text: 'Edit' },
																{ text: 'Contact' },
																{ divider: true },
																{ text: 'Active' },
																{ text: 'Suspent' },
																{ text: 'Remove' }
															]
														} ).btn-success.btn-sm
				.col-md-6
					.panel
						.panel-header
							h4.panel-title Top Geographic Sources
						.panel-body
							ul.list-unstyled.list-lg
								li.d-flex.justify-content-between
									.text-truncate.pr-2
										img.mr-2( src='images/image-11-14x11.jpg', width='14', height='11', alt='' )
										= ' '
										a.align-middle( href='#' ) United States
									strong 28%

								li.d-flex.justify-content-between
									.text-truncate.pr-2
										img.mr-2( src='images/image-08-14x11.jpg', width='14', height='11', alt='' )
										= ' '
										a.align-middle( href='#' ) Germany
									strong 25%

								li.d-flex.justify-content-between
									.text-truncate.pr-2
										img.mr-2( src='images/image-07-14x11.jpg', width='14', height='11', alt='' )
										= ' '
										a.align-middle( href='#' ) France
									strong 21%

								li.d-flex.justify-content-between
									.text-truncate.pr-2
										img.mr-2( src='images/image-09-14x11.jpg', width='14', height='11', alt='' )
										= ' '
										a.align-middle( href='#' ) Spain
									strong 18%

								li.d-flex.justify-content-between
									.text-truncate.pr-2
										img.mr-2( src='images/image-10-14x11.jpg', width='14', height='11', alt='' )
										= ' '
										a.align-middle( href='#' ) Turkey
									strong 10%

				.col-md-6
					.panel
						.panel-header
							h4.panel-title Top Referals
						.panel-body
							ul.list-unstyled.list-lg
								li.d-flex.justify-content-between
									.text-truncate.pr-2
										img.mr-1( src='images/image-13-16x16.png', width='16', height='16', alt='' )
										= ' '
										a.align-middle( href='#' ) http://madeupurl.com/pictures/doors
									strong 28%

								li.d-flex.justify-content-between
									.text-truncate.pr-2
										img.mr-1( src='images/image-14-16x16.png', width='16', height='16', alt='' )
										= ' '
										a.align-middle( href='#' ) http://secondulr.com/article/14
									strong 25%

								li.d-flex.justify-content-between
									.text-truncate.pr-2
										img.mr-1( src='images/image-15-16x16.png', width='16', height='16', alt='' )
										= ' '
										a.align-middle( href='#' ) http://urlthird.com/infogram/ten
									strong 21%

								li.d-flex.justify-content-between
									.text-truncate.pr-2
										img.mr-1( src='images/image-16-16x16.png', width='16', height='16', alt='' )
										= ' '
										a.align-middle( href='#' ) http://fourthlink.com/boats/glass
									strong 18%

								li.d-flex.justify-content-between
									.text-truncate.pr-2
										img.mr-1( src='images/image-17-16x16.png', width='16', height='16', alt='' )
										= ' '
										a.align-middle( href='#' ) http://lastlink.com/thebest/ever
									strong 10%

block sidebar
	include ../components/sidebar/_sidebar-timeline
