extends ../components/base/_skeleton
include ../components/input/_input
include ../components/blockquote/_blockquote
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Editors';

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-sm.bg-white
		.container-fluid
			.row.justify-content-center
				.col-lg-10.col-xxl-8
					.row.row-15
						.col-md-4
							h3 Summernote
							ul.list-unstyled.list-md.mt-2
								li
									span.fa-exclamation-circle.pr-2
									b Author:
									span  Alan Hong
								li
									span.fa-exclamation-circle.pr-2
									b License:
									span  MIT
								li
									span.fa-exclamation-circle.pr-2
									b Website:
									a( href='https://summernote.org' )  www.summernote.org

						.col-md-8
							p Summernote is a lightweight WYSIWYG HTML Editor written in Javascript that enables rich text editing capabilities for your applications. Summernote has a few special features: pasting images from clipboard, saving images directly in the content of the field using base64 encoding, so you don't need to implement image handling at all, simple UI, handy integration with server.

	section.section-lg.section-transparent
		.container-fluid
			.row.row-50.justify-content-center
				.col-lg-10.col-xxl-8
					h3.text-center Summernote - Panel & Live Editor
					.panel
						.panel-body.p-0
							.summernote-container.summernote-no-border
								.summernote( data-summernote-opts!={ height: 200 } )
						.panel-body
							.summernote-container
								.summernote( data-summernote-opts!={ airMode: true } )
									h3 Hello summernote
									p Lorem ipsum dolor sit amet dolor. Duis blandit vestibulum faucibus a, tortor.
									+blockquote({
										quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
										cite: 'Someone famous'
									}).blockquote-primary
									p Lorem ipsum dolor sit amet dolor. Duis blandit vestibulum faucibus a, tortor.

	section.section-sm.bg-white
		.container-fluid
			.row.justify-content-center
				.col-lg-10.col-xxl-8
					.row.row-15
						.col-md-5
							h3 Markdown
							ul.list-unstyled.list-md.mt-2
								li
									span.fa-exclamation-circle.pr-2
									b Author:
									span  Taufan Aditya
								li
									span.fa-exclamation-circle.pr-2
									b License:
									span  Apache License, Version 2.0
								li
									span.fa-exclamation-circle.pr-2
									b Website:
									a( href='http://github.com/toopay/bootstrap-markdown' )  www.github.com/toopay/bootstrap-markdown
						.col-md-7
							p Simple Markdown editing tool that works! Bootstrap-Markdown was designed to be easily integrated with your Bootstrap project. It exposes useful API that allows you to fully hook into into the plugin.

	section.section-lg.section-transparent
		.container-fluid
			.row.row-50.justify-content-center
				.col-lg-10.col-xxl-8
					h3.text-center Markdown - Panel Pane
					.panel
						.panel-body.p-0
							.markdown( data-markdown-params!={ footer: 'Footer placeholder' } ) This is the Markdown Editor! Check out my sweet preview below!

	section.section-sm.bg-white
		.container-fluid
			.row.justify-content-center
				.col-lg-10.col-xxl-8
					.row.row-15
						.col-md-4
							h3 CKEditor
							ul.list-unstyled.list-md.mt-2
								li
									span.fa-exclamation-circle.pr-2
									b Author:
									span  Frederico Knabben
								li
									span.fa-exclamation-circle.pr-2
									b License:
									span  GPL v2+
								li
									span.fa-exclamation-circle.pr-2
									b Website:
									a( href='https://ckeditor.com/' )  www.ckeditor.com/
						.col-md-8
							p Proven, enterprise-grade WYSIWYG HTML editor with wide browser compatibility, including legacy browsers. Modern JavaScript rich text editor with a modular architecture. Its clean UI and features provide the perfect WYSIWYG UX for creating semantic content.

	section.section-lg.section-transparent
		.container-fluid
			.row.row-50.justify-content-center
				.col-lg-10.col-xxl-8
					h3.text-center CKEditor
					.row.row-30.mt-4.justify-content-center
						.col-lg-12
							h3.text-center Classic Editor
							.ck-editor-wrap
								textarea( data-ckeditor, name='ckeditor1', rows='12' ) This is the CKEditor Plugin...

						.col-lg-12
							h3.text-center Classic Editor
							.ck-editor-wrap.ck-custom
								textarea( data-ckeditor, name='ckeditor1', rows='12' ) This is the CKEditor Plugin...

						.col-lg-12
							h3.text-center Document editor
							.ck-editor-wrap
								.document-editor( data-ckeditor='document' )
									.document-editor-toolbar
									.document-editor-container
										.document-editor-content
											h3  Edit in Real Time - Inline Editor!
											p: strong  Lorem ipsum dolor sit amet dolor. Duis blandit vestibulum faucibus a, tortor.
											p
												| Proin nunc justo felis mollis tincidunt, risus risus pede, posuere cubilia Curae, Nullam euismod, enim. Etiam nibh ultricies dolor ac dignissim erat volutpat. Vivamus fermentum
												a( href='http://ckeditor.com/' ) nisl nulla sem in
												| metus. Maecenas wisi. Donec nec erat volutpat.

						.col-lg-12
							h3.text-center Document editor
							.ck-editor-wrap.ck-custom
								.document-editor( data-ckeditor='document' )
									.document-editor-toolbar
									.document-editor-container
										.document-editor-content
											h3  Edit in Real Time - Inline Editor!
											p: strong  Lorem ipsum dolor sit amet dolor. Duis blandit vestibulum faucibus a, tortor.
											p
												| Proin nunc justo felis mollis tincidunt, risus risus pede, posuere cubilia Curae, Nullam euismod, enim. Etiam nibh ultricies dolor ac dignissim erat volutpat. Vivamus fermentum
												a( href='http://ckeditor.com/' ) nisl nulla sem in
												| metus. Maecenas wisi. Donec nec erat volutpat.

						.col-lg-12
							h3.text-center Inline Editor
							.ck-editor-wrap
								.card
									.card-body( data-ckeditor='inline' )
										h3  Edit in Real Time - Inline Editor!
										p: strong Lorem ipsum dolor sit amet dolor. Duis blandit vestibulum faucibus a, tortor.
										p
											| Proin nunc justo felis mollis tincidunt, risus risus pede, posuere cubilia Curae, Nullam euismod, enim. Etiam nibh ultricies dolor ac dignissim erat volutpat. Vivamus fermentum
											a( href='http://ckeditor.com/' ) nisl nulla sem in
											| metus. Maecenas wisi. Donec nec erat volutpat.

						.col-lg-12
							h3.text-center Balloon Editor
							.ck-editor-wrap.ck-custom
								.card
									.card-body( data-ckeditor='balloon' )
										h3 Edit in Real Time - Inline Editor!
										p: strong  Lorem ipsum dolor sit amet dolor. Duis blandit vestibulum faucibus a, tortor.
										p
											| Proin nunc justo felis mollis tincidunt, risus risus pede, posuere cubilia Curae, Nullam euismod, enim. Etiam nibh ultricies dolor ac dignissim erat volutpat. Vivamus fermentum
											a( href='http://ckeditor.com/' ) nisl nulla sem in
											| metus. Maecenas wisi. Donec nec erat volutpat.
