extends ../components/base/_skeleton
include ../components/google-map/_google-map
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Google Maps';

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-md
		.container-fluid
			.row.row-30
				.col-lg-6
					.panel
						.panel-header
							h4.panel-title Standard Map
						.panel-body.p-0
							+google-map({
								center:  { lat: 40.715847, lng: -73.999925 },
								zoom:    18,
								markers: {
									'park': {
										position: 'Columbus Park, Baxter Street, New York, United State',
										html:     'Columbus park'
									}
								}
							})#map1

				.col-lg-6
					.panel
						.panel-header
							h4.panel-title Attached Panorama
						.panel-body.p-0
							.google-panorama( data-map-panorama='#map1' )

				.col-lg-6
					.panel
						.panel-header
							h4.panel-title Searchable Map
						.panel-body
							form.input-group.input-group-sm.form-group( data-map-search='#map2' )
								input.form-control( type='text', placeholder='Enter a location' )
								.input-group-append
									button.btn.btn-primary( type='submit' ) Search
						.panel-body.p-0
							+google-map({
								center:  'Columbus Park, Baxter Street, New York, United State',
								zoom:    18,
								markers: {
									'park': {
										position: 'Columbus Park, Baxter Street, New York, United State',
										html: 'Columbus park'
									}
								}
							})#map2

				.col-lg-6
					.panel
						.panel-header
							h4.panel-title Info Buttons
						.panel-body
							.group-5
								button.btn.btn-sm.btn-warning( data-marker-info!= { mapId: '#map3', markerId: 'park' } ) Columbus park
								button.btn.btn-sm.btn-warning( data-marker-info!= { mapId: '#map3', markerId: 'DCTV' } ) DCTV
						.panel-body.p-0
							+google-map({
								center: { lat: 40.715847, lng: -73.999925 },
								zoom: 18,
								markers: {
									'park': {
										position: 'Columbus Park, Baxter Street, New York, United State',
										html: 'Columbus park'
									},
									'DCTV': {
										position: 'DCTV, Lafayette Street, New York, United State',
										html:     'DCTV'
									}
								}
							})#map3

				.col-lg-6
					.panel
						.panel-header
							h4.panel-title Filters
						.panel-body
							.group-5
								button.btn.btn-sm.btn-info.btn-sm( data-map-filter!= { mapId: '#map4', tags: [ '*' ] } ) *
								button.btn.btn-sm.btn-info.btn-sm( data-map-filter!= { mapId: '#map4', tags: [ 'UK' ] } ) UK
								button.btn.btn-sm.btn-info.btn-sm( data-map-filter!= { mapId: '#map4', tags: [ 'GE' ] } ) GE
								button.btn.btn-sm.btn-info.btn-sm( data-map-filter!= { mapId: '#map4', tags: [ 'FR' ] } ) FR
								button.btn.btn-sm.btn-info.btn-sm( data-map-filter!= { mapId: '#map4', tags: [ 'city1' ] } ) City 1
								button.btn.btn-sm.btn-info.btn-sm( data-map-filter!= { mapId: '#map4', tags: [ 'city2' ] } ) City 2
								button.btn.btn-sm.btn-info.btn-sm( data-map-filter!= { mapId: '#map4', tags: [ 'city3' ] } ) City 3
								button.btn.btn-sm.btn-info.btn-sm( data-map-filter!= { mapId: '#map4', tags: [ 'city4' ] } ) City 4
						.panel-body.p-0
							+google-map({
								disableDefaultUI: true,
								zoom: 4,
								center: { lat: 50.461483, lng: 10.190269 },
								markers: {
									'UK1': {
										position: 'London, United Kingdom',
										label: 'uk',
										tags: [ 'UK', 'city1' ]
									},
									'UK2': {
										position: 'Cambridge, United Kingdom',
										label: 'uk',
										tags: [ 'UK', 'city2' ]
									},
									'UK3': {
										position: 'Oxford, United Kingdom',
										label: 'uk',
										tags: [ 'UK', 'city3' ]
									},
									'UK4': {
										position: 'Liverpool, United Kingdom',
										label: 'uk',
										tags: [ 'UK', 'city4' ]
									},
									'GE1': {
										position: 'Nuremberg, Germany',
										label: 'ge',
										tags: [ 'GE', 'city1' ]
									},
									'GE2': {
										position: 'Berlin, Germany',
										label: 'ge',
										tags: [ 'GE', 'city2' ]
									},
									'GE3': {
										position: 'Hamburg, Germany',
										label: 'ge',
										tags: [ 'GE', 'city3' ]
									},
									'GE4': {
										position: 'Cologne, Germany',
										label: 'ge',
										tags: [ 'GE', 'city4' ]
									},
									'FR1': {
										position: 'Paris, France',
										label: 'fr',
										tags: [ 'FR', 'city1' ]
									},
									'FR2': {
										position: 'Lyon, France',
										label: 'fr',
										tags: [ 'FR', 'city2' ]
									},
									'FR3': {
										position: 'Marseilles, France',
										label: 'fr',
										tags: [ 'FR', 'city3' ]
									},
									'FR4': {
										position: 'Bordeaux, France',
										label: 'fr',
										tags: [ 'FR', 'city4' ]
									}
								}
							})#map4

				.col-lg-6
					.panel
						.panel-header
							h4.panel-title Navigation
						.panel-body
							.input-group.input-group-sm.input-group-ellipsis( data-map-navigation='#map5' )
								.input-group-prepend
									button.btn.btn-primary( data-map-prev= true ) prev
								.form-control.input-group-text.flex-grow-1.text-center( data-map-title= true ) Title
								.input-group-append
									button.btn.btn-primary( data-map-next= true ) next
						.panel-body.p-0
							+google-map({
								disableDefaultUI: true,
								zoom: 5,
								center: { lat: 50.461483, lng: 10.190269 },
								markers: {
									'GE1': {
										position: { lat: 49.440443, lng: 11.077421 },
										html: 'Nuremberg, Germany'
									},
									'GE2': {
										position: 'Berlin, Germany',
										html: 'Berlin, Germany'
									},
									'GE3': {
										position: 'Hamburg, Germany',
										html: 'Hamburg, Germany'
									},
									'GE4': {
										position: 'Cologne, Germany',
										html: 'Cologne, Germany'
									}
								}
							})#map5
