extends ../components/base/_skeleton
include ../components/alert/_alert
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Grid';

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.bg-white.section-sm
		.container
			.row.row-30
				.col-md-4
					h3 Boostrap Grid System
					ul.list-unstyled.mt-2
						li
							span.fa-info-circle.pr-2
							b Rows:
							span  Groups Columns
						li
							span.fa-info-circle.pr-2
							b Columns:
							span  Seperate content
						li
							span.fa-info-circle.pr-2
							b Containers:
							span  Used to create grid
						li
							span.fa-info-circle.pr-2
							b Learn More:
							a( href='https://getbootstrap.com/docs/4.3/layout/grid/', target='_blank' )  getbootstrap.com/grid

				.col-md-8
					h3 Simple Grid System!
					p.mt-2 An example grid:
					pre.highlight.scroller.scroller-horizontal.mt-2
						= '<div class="container">\n'
						= '  <div class="row">\n'
						= '    <div class="col-md-4 col-lg-6">Your Column1 Content</div>\n'
						= '    <div class="col-md-4 col-lg-6">Your Column1 Content</div>\n'
						= '  </div>\n'
						= '</div>'

	section.section-md
		.container.text-center
			.row.no-gutters
				.col-12.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-12
				.col-6.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-6
				.col-6.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-6
				.col-4.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-4
				.col-4.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-4
				.col-4.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-4
				.col-3.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-3
				.col-3.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-3
				.col-3.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-3
				.col-3.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-3
				.col-2.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-2
				.col-2.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-2
				.col-2.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-2
				.col-2.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-2
				.col-2.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-2
				.col-2.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-2
				.col-12
					hr
				.col-8.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-8
				.col-4.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-4
				.col-3.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-3
				.col-3.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-3
				.col-6.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-6
				.col-4.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-4
				.col-2.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-2
				.col-2.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-2
				.col-4.bg-white.border
					p.p-1.p-md-2: code.code-bg .col-4
