extends ../components/base/_skeleton
include ../components/dropdown/_dropdown
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Jumbotron';

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-sm
		.container-fluid
			.jumbotron
				h2 Hello, world!
				p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
				hr.my-3
				p It uses utility classes for typography and spacing to space content out within the larger container.
				a.btn.btn-primary.mt-3( href='#' ) Learn more
