extends ../components/base/_skeleton
include ../components/dropdown/_dropdown
include ../components/input/_input
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Messages';

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-sm
		.container-fluid
			.row.row-30
				.col-lg-3.col-xxl-2
					.panel
						.panel-body
							.row.row-30
								.col-12
									button.btn.btn-sm.btn-warning New message
								.col-sm-4.col-lg-12
									.list-block-container.list-block-lg
										h5.list-block-title Your privacy settings
										.list-block
											.list-block-item.d-flex.justify-content-between
												a.text-light( href='#' )
													span.pr-1.fa-gear
													span Email settings

											.list-block-item.d-flex.justify-content-between.align-items-center
												a.text-light( href='#' )
													span.pr-1.fa-envelope
													span Messages
												span.badge.badge-info 2

											.list-block-item.d-flex.justify-content-between.align-items-center
												a.text-light( href='#' )
													span.pr-1.fa-user
													span Friends
												span.badge.badge-info 6

								.col-sm-4.col-lg-12
									.list-block-container.list-block-lg
										h5.list-block-title Tags
										.list-block
											.list-block-item.d-flex.justify-content-between
												a.text-light( href='#' )
													span Clients
												span.fa-tag.text-warning

											.list-block-item.d-flex.justify-content-between
												a.text-light( href='#' )
													span Contractors
												span.fa-tag.text-success

											.list-block-item.d-flex.justify-content-between
												a.text-light( href='#' )
													span Employees
												span.fa-tag.text-primary

											.list-block-item.d-flex.justify-content-between
												a.text-light( href='#' )
													span Suppliers
												span.fa-tag.text-info

								.col-sm-4.col-lg-12
									.list-block-container.list-block-lg
										h5.list-block-title Labels
										.list-block
											.list-block-item.d-flex.justify-content-between.align-items-center
												a.text-light( href='#' )
													span Clients
												small.text-primary 6

											.list-block-item.d-flex.justify-content-between.align-items-center
												a.text-light( href='#' )
													span Contractors
												small.text-success 8

											.list-block-item.d-flex.justify-content-between.align-items-center
												a.text-light( href='#' )
													span Employees
												small.text-info 11

											.list-block-item.d-flex.justify-content-between.align-items-center
												a.text-light( href='#' )
													span Suppliers
												small.text-warning 13

				.col-lg-9.col-xxl-10
					.panel
						.panel-body.p-0
							.group-15.p-3.d-flex.flex-wrap.align-items-center.justify-content-lg-between
								.flex-grow-1
									.btn-group
										button.btn.btn-sm.btn-light: span.fa-refresh
										button.btn.btn-sm.btn-light: span.fa-pencil
								div
									| Showing
									= ' '
									strong 15
									= ' '
									| of
									= ' '
									strong 253
								.btn-group
									button.btn.btn-sm.btn-light: span.fa-star
									button.btn.btn-sm.btn-light: span.fa-calendar
									button.btn.btn-sm.btn-light: span.fa-trash
								.btn-group
									+button-dropdown({
										addClass: 'btn-group',
										btnIcon: 'fa-tags',
										list: [
											{text: 'Work'},
											{text: 'Important'},
											{text: 'Favorites'},
											{divider: true},
											{text: '<span class="fa-plus pr-1"></span>Create new'}
										]
									}).btn-sm.btn-light

									+button-dropdown({
										addClass: 'btn-group',
										btnIcon: 'fa-folder',
										list: [
											{text: 'Work'},
											{text: 'Important'},
											{text: 'Favorites'},
											{divider: true},
											{text: '<span class="fa-plus pr-1"></span>Create new'}
										]
									}).btn-sm.btn-light
								.btn-group
									button.btn.btn-sm.btn-light: span.fa-chevron-left
									button.btn.btn-sm.btn-light: span.fa-chevron-right

							.table-responsive
								table.table.table-hover.table-align-1
									thead
										tr
											th( scope='col' ) Select
											th( scope='col' ) Star
											th( scope='col' ) Sender
											th( scope='col' ) Label
											th( scope='col', style='min-width: 200px;' ) Subject
											th( scope='col', style='min-width: 100px;' ) Date
									tbody
										tr.row-action
											th( scope='row' )
												+checkbox( {
													id: 'check1'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-primary Meeting
											td Lorem ibsum dolor sit amet
											td March 11
										tr.row-action
											th( scope='row' )
												+checkbox( {
													id: 'check2'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Disney
											td: .badge.badge-success Work
											td Lorem ibsum dolor sit amet
											td March 11
										tr.row-action
											th( scope='row' )
												+checkbox( {
													id: 'check3'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Marvel
											td: .badge.badge-success Work
											td Lorem ibsum dolor sit amet
											td March 11
										tr.row-action
											th( scope='row' )
												+checkbox( {
													id: 'check4'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Microsoft
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr.row-action
											th( scope='row' )
												+checkbox( {
													id: 'check5'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check6'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check7'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check8'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check9'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check10'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check11'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check12'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check13'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check14'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check15'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check16'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check17'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
										tr
											th( scope='row' )
												+checkbox( {
													id: 'check18'
												} ).custom-checkbox-light
											td: span.fa-star.lead
											td Sony Inc
											td: .badge.badge-info Social
											td Lorem ibsum dolor sit amet
											td March 11
