extends ../components/base/_skeleton
include ../components/alert/_alert
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Notifications'

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-lg
		.container-fluid.text-center
			.row.row-30.justify-content-center
				.col-12
					h2 Creating #[span.text-primary Notifications] has never been easier
					h4 Use data attributes or javascript to create the notification that's just right.
				.col-xl-11
					.panel
						.panel-header
							h4.panel-title Notification Contextuals
						.panel-body
							.row.row-30
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										h4 Primary
										div
											.btn-group
												button.btn.btn-sm.btn-primary.mdi-arrow-top-left( data-pnotify!={ stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-up( data-pnotify!={ stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-top-right( data-pnotify )
										div
											.btn-group
												button.btn.btn-sm.btn-primary.mdi-arrow-bottom-left( data-pnotify!={ stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-down( data-pnotify!={ stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-bottom-right( data-pnotify!={ stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										h4 Secondary
										div
											.btn-group
												button.btn.btn-sm.btn-secondary.mdi-arrow-top-left( data-pnotify!={ type: 'secondary', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-up( data-pnotify!={ type: 'secondary', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-top-right( data-pnotify!={ type: 'secondary' } )
										div
											.btn-group
												button.btn.btn-sm.btn-secondary.mdi-arrow-bottom-left( data-pnotify!={ type: 'secondary', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-down( data-pnotify!={ type: 'secondary', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-bottom-right( data-pnotify!={ type: 'secondary', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										h4 Success
										div
											.btn-group
												button.btn.btn-sm.btn-success.mdi-arrow-top-left( data-pnotify!={ type: 'success', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-success.mdi-arrow-up( data-pnotify!={ type: 'success', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-success.mdi-arrow-top-right( data-pnotify!={ type: 'success' } )
										div
											.btn-group
												button.btn.btn-sm.btn-success.mdi-arrow-bottom-left( data-pnotify!={ type: 'success', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-success.mdi-arrow-down( data-pnotify!={ type: 'success', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-success.mdi-arrow-bottom-right( data-pnotify!={ type: 'success', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										h4 Info
										div
											.btn-group
												button.btn.btn-sm.btn-info.mdi-arrow-top-left( data-pnotify!={ type: 'info', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-info.mdi-arrow-up( data-pnotify!={ type: 'info', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-info.mdi-arrow-top-right( data-pnotify!={ type: 'info' } )
										div
											.btn-group
												button.btn.btn-sm.btn-info.mdi-arrow-bottom-left( data-pnotify!={ type: 'info', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-info.mdi-arrow-down( data-pnotify!={ type: 'info', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-info.mdi-arrow-bottom-right( data-pnotify!={ type: 'info', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										h4 Warning
										div
											.btn-group
												button.btn.btn-sm.btn-warning.mdi-arrow-top-left( data-pnotify!={ type: 'warning', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-up( data-pnotify!={ type: 'warning', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-top-right( data-pnotify!={ type: 'warning' } )
										div
											.btn-group
												button.btn.btn-sm.btn-warning.mdi-arrow-bottom-left( data-pnotify!={ type: 'warning', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-down( data-pnotify!={ type: 'warning', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-bottom-right( data-pnotify!={ type: 'warning', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										h4 Danger
										div
											.btn-group
												button.btn.btn-sm.btn-danger.mdi-arrow-top-left( data-pnotify!={ type: 'danger', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-up( data-pnotify!={ type: 'danger', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-top-right( data-pnotify!={ type: 'danger' } )
										div
											.btn-group
												button.btn.btn-sm.btn-danger.mdi-arrow-bottom-left( data-pnotify!={ type: 'danger', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-down( data-pnotify!={ type: 'danger', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-bottom-right( data-pnotify!={ type: 'danger', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										h4 Light
										div
											.btn-group
												button.btn.btn-sm.btn-light.mdi-arrow-top-left( data-pnotify!={ type: 'light', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-light.mdi-arrow-up( data-pnotify!={ type: 'light', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-light.mdi-arrow-top-right( data-pnotify!={ type: 'light' } )
										div
											.btn-group
												button.btn.btn-sm.btn-light.mdi-arrow-bottom-left( data-pnotify!={ type: 'light', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-light.mdi-arrow-down( data-pnotify!={ type: 'light', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-light.mdi-arrow-bottom-right( data-pnotify!={ type: 'light', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										h4 Dark
										div
											.btn-group
												button.btn.btn-sm.btn-dark.mdi-arrow-top-left( data-pnotify!={ type: 'dark', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-up( data-pnotify!={ type: 'dark', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-top-right( data-pnotify!={ type: 'dark' } )
										div
											.btn-group
												button.btn.btn-sm.btn-dark.mdi-arrow-bottom-left( data-pnotify!={ type: 'dark', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-down( data-pnotify!={ type: 'dark', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-bottom-right( data-pnotify!={ type: 'dark', stack: 'stackBottomRight' } )

					.panel
						.panel-header
							h4.panel-title Without Box-Shadow
						.panel-body
							.row.row-30
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-primary.mdi-arrow-top-left( data-pnotify!={ shadow: false, stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-up( data-pnotify!={ shadow: false, stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-top-right( data-pnotify!={ shadow: false } )
										div
											.btn-group
												button.btn.btn-sm.btn-primary.mdi-arrow-bottom-left( data-pnotify!={ shadow: false, stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-down( data-pnotify!={ shadow: false, stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-bottom-right( data-pnotify!={ shadow: false, stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-secondary.mdi-arrow-top-left( data-pnotify!={ type: 'secondary', shadow: false, stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-up( data-pnotify!={ type: 'secondary', shadow: false, stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-top-right( data-pnotify!={ type: 'secondary', shadow: false } )
										div
											.btn-group
												button.btn.btn-sm.btn-secondary.mdi-arrow-bottom-left( data-pnotify!={ type: 'secondary', shadow: false, stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-down( data-pnotify!={ type: 'secondary', shadow: false, stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-bottom-right( data-pnotify!={ type: 'secondary', shadow: false, stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-success.mdi-arrow-top-left( data-pnotify!={ type: 'success', shadow: false, stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-success.mdi-arrow-up( data-pnotify!={ type: 'success', shadow: false, stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-success.mdi-arrow-top-right( data-pnotify!={ type: 'success', shadow: false } )
										div
											.btn-group
												button.btn.btn-sm.btn-success.mdi-arrow-bottom-left( data-pnotify!={ type: 'success', shadow: false, stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-success.mdi-arrow-down( data-pnotify!={ type: 'success', shadow: false, stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-success.mdi-arrow-bottom-right( data-pnotify!={ type: 'success', shadow: false, stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-info.mdi-arrow-top-left( data-pnotify!={ type: 'info', shadow: false, stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-info.mdi-arrow-up( data-pnotify!={ type: 'info', shadow: false, stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-info.mdi-arrow-top-right( data-pnotify!={ type: 'info', shadow: false } )
										div
											.btn-group
												button.btn.btn-sm.btn-info.mdi-arrow-bottom-left( data-pnotify!={ type: 'info', shadow: false, stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-info.mdi-arrow-down( data-pnotify!={ type: 'info', shadow: false, stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-info.mdi-arrow-bottom-right( data-pnotify!={ type: 'info', shadow: false, stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-warning.mdi-arrow-top-left( data-pnotify!={ type: 'warning', shadow: false, stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-up( data-pnotify!={ type: 'warning', shadow: false, stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-top-right( data-pnotify!={ type: 'warning', shadow: false } )
										div
											.btn-group
												button.btn.btn-sm.btn-warning.mdi-arrow-bottom-left( data-pnotify!={ type: 'warning', shadow: false, stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-down( data-pnotify!={ type: 'warning', shadow: false, stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-bottom-right( data-pnotify!={ type: 'warning', shadow: false, stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-danger.mdi-arrow-top-left( data-pnotify!={ type: 'danger', shadow: false, stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-up( data-pnotify!={ type: 'danger', shadow: false, stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-top-right( data-pnotify!={ type: 'danger', shadow: false } )
										div
											.btn-group
												button.btn.btn-sm.btn-danger.mdi-arrow-bottom-left( data-pnotify!={ type: 'danger', shadow: false, stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-down( data-pnotify!={ type: 'danger', shadow: false, stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-bottom-right( data-pnotify!={ type: 'danger', shadow: false, stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-light.mdi-arrow-top-left( data-pnotify!={ type: 'light', shadow: false, stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-light.mdi-arrow-up( data-pnotify!={ type: 'light', shadow: false, stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-light.mdi-arrow-top-right( data-pnotify!={ type: 'light', shadow: false } )
										div
											.btn-group
												button.btn.btn-sm.btn-light.mdi-arrow-bottom-left( data-pnotify!={ type: 'light', shadow: false, stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-light.mdi-arrow-down( data-pnotify!={ type: 'light', shadow: false, stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-light.mdi-arrow-bottom-right( data-pnotify!={ type: 'light', shadow: false, stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-dark.mdi-arrow-top-left( data-pnotify!={ type: 'dark', shadow: false, stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-up( data-pnotify!={ type: 'dark', shadow: false, stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-top-right( data-pnotify!={ type: 'dark', shadow: false } )
										div
											.btn-group
												button.btn.btn-sm.btn-dark.mdi-arrow-bottom-left( data-pnotify!={ type: 'dark', shadow: false, stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-down( data-pnotify!={ type: 'dark', shadow: false, stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-bottom-right( data-pnotify!={ type: 'dark', shadow: false, stack: 'stackBottomRight' } )

					.panel
						.panel-header
							h4.panel-title With Transparent BG
						.panel-body
							.row.row-30
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-primary.mdi-arrow-top-left( data-pnotify!={ addClass: 'translucent', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-up( data-pnotify!={ addClass: 'translucent', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-top-right( data-pnotify!={ addClass: 'translucent' } )
										div
											.btn-group
												button.btn.btn-sm.btn-primary.mdi-arrow-bottom-left( data-pnotify!={ addClass: 'translucent', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-down( data-pnotify!={ addClass: 'translucent', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-primary.mdi-arrow-bottom-right( data-pnotify!={ addClass: 'translucent', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-secondary.mdi-arrow-top-left( data-pnotify!={ type: 'secondary', addClass: 'translucent', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-up( data-pnotify!={ type: 'secondary', addClass: 'translucent', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-top-right( data-pnotify!={ type: 'secondary', addClass: 'translucent' } )
										div
											.btn-group
												button.btn.btn-sm.btn-secondary.mdi-arrow-bottom-left( data-pnotify!={ type: 'secondary', addClass: 'translucent', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-down( data-pnotify!={ type: 'secondary', addClass: 'translucent', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-secondary.mdi-arrow-bottom-right( data-pnotify!={ type: 'secondary', addClass: 'translucent', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-success.mdi-arrow-top-left( data-pnotify!={ type: 'success', addClass: 'translucent', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-success.mdi-arrow-up( data-pnotify!={ type: 'success', addClass: 'translucent', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-success.mdi-arrow-top-right( data-pnotify!={ type: 'success', addClass: 'translucent' } )
										div
											.btn-group
												button.btn.btn-sm.btn-success.mdi-arrow-bottom-left( data-pnotify!={ type: 'success', addClass: 'translucent', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-success.mdi-arrow-down( data-pnotify!={ type: 'success', addClass: 'translucent', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-success.mdi-arrow-bottom-right( data-pnotify!={ type: 'success', addClass: 'translucent', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-info.mdi-arrow-top-left( data-pnotify!={ type: 'info', addClass: 'translucent', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-info.mdi-arrow-up( data-pnotify!={ type: 'info', addClass: 'translucent', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-info.mdi-arrow-top-right( data-pnotify!={ type: 'info', addClass: 'translucent' } )
										div
											.btn-group
												button.btn.btn-sm.btn-info.mdi-arrow-bottom-left( data-pnotify!={ type: 'info', addClass: 'translucent', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-info.mdi-arrow-down( data-pnotify!={ type: 'info', addClass: 'translucent', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-info.mdi-arrow-bottom-right( data-pnotify!={ type: 'info', addClass: 'translucent', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-warning.mdi-arrow-top-left( data-pnotify!={ type: 'warning', addClass: 'translucent', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-up( data-pnotify!={ type: 'warning', addClass: 'translucent', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-top-right( data-pnotify!={ type: 'warning', addClass: 'translucent' } )
										div
											.btn-group
												button.btn.btn-sm.btn-warning.mdi-arrow-bottom-left( data-pnotify!={ type: 'warning', addClass: 'translucent', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-down( data-pnotify!={ type: 'warning', addClass: 'translucent', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-warning.mdi-arrow-bottom-right( data-pnotify!={ type: 'warning', addClass: 'translucent', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-danger.mdi-arrow-top-left( data-pnotify!={ type: 'danger', addClass: 'translucent', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-up( data-pnotify!={ type: 'danger', addClass: 'translucent', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-top-right( data-pnotify!={ type: 'danger', addClass: 'translucent' } )
										div
											.btn-group
												button.btn.btn-sm.btn-danger.mdi-arrow-bottom-left( data-pnotify!={ type: 'danger', addClass: 'translucent', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-down( data-pnotify!={ type: 'danger', addClass: 'translucent', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-danger.mdi-arrow-bottom-right( data-pnotify!={ type: 'danger', addClass: 'translucent', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-light.mdi-arrow-top-left( data-pnotify!={ type: 'light', addClass: 'translucent', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-light.mdi-arrow-up( data-pnotify!={ type: 'light', addClass: 'translucent', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-light.mdi-arrow-top-right( data-pnotify!={ type: 'light', addClass: 'translucent' } )
										div
											.btn-group
												button.btn.btn-sm.btn-light.mdi-arrow-bottom-left( data-pnotify!={ type: 'light', addClass: 'translucent', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-light.mdi-arrow-down( data-pnotify!={ type: 'light', addClass: 'translucent', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-light.mdi-arrow-bottom-right( data-pnotify!={ type: 'light', addClass: 'translucent', stack: 'stackBottomRight' } )
								.col-6.col-sm-3.col-md-3.col-xxl
									.group-5
										div
											.btn-group
												button.btn.btn-sm.btn-dark.mdi-arrow-top-left( data-pnotify!={ type: 'dark', addClass: 'translucent', stack: 'stackTopLeft' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-up( data-pnotify!={ type: 'dark', addClass: 'translucent', stack: 'stackCenterTop' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-top-right( data-pnotify!={ type: 'dark', addClass: 'translucent' } )
										div
											.btn-group
												button.btn.btn-sm.btn-dark.mdi-arrow-bottom-left( data-pnotify!={ type: 'dark', addClass: 'translucent', stack: 'stackBottomLeft' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-down( data-pnotify!={ type: 'dark', addClass: 'translucent', stack: 'stackCenterBottom' } )
												button.btn.btn-sm.btn-dark.mdi-arrow-bottom-right( data-pnotify!={ type: 'dark', addClass: 'translucent', stack: 'stackBottomRight' } )
