extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Page Progress Loader'

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-lg
		.container
			.row.row-30.justify-content-center
				.col-12
					h2.text-center Create Awesome #[span.text-primary Page Preloaders] with ease.
					h4.text-center.mt-2 Featuring realistic trickle animations to convince your users that something is happening!
				.col-lg-12
					ul.list-group
						li.list-group-item
							h4 NProgress Page Loader
							a( href='http://ricostacruz.com/nprogress/' ) http://ricostacruz.com/nprogress/
						li.list-group-item
							button.btn.btn-light.btn-sm.mr-2( data-nprogress!={start: null} )
								span.fa.fa-play
							|  NProgress #[b .start()] - Starts/Shows the progress bar.
						li.list-group-item
							button.btn.btn-light.btn-sm.mr-2( data-nprogress!={set: 0.5} )
								span.fa.fa-play
							|  NProgress #[b .set(0.5)] - Sets the progress bar to a specific interval.
						li.list-group-item
							button.btn.btn-light.btn-sm.mr-2( data-nprogress!={inc: null} )
								span.fa.fa-play
							|  NProgress #[b .inc()] - Moves the progress bar forward a small increment.
						li.list-group-item.text-warning
							button.btn.btn-light.btn-sm.mr-2( data-nprogress!={done: true} )
								span.fa.fa-play
							|  NProgress #[b .done()] - Completes the progress bars page animation.

				.col-md-6
					ul.list-group
						li.list-group-item
							h4.text-center Page Loader Color Theme Top
						li.list-group-item.text-primary
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-primary" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Primary
						li.list-group-item.text-secondary
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-secondary" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Secondary
						li.list-group-item.text-success
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-success" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Success
						li.list-group-item.text-info
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-info" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Info
						li.list-group-item.text-warning
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-warning" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Warning
						li.list-group-item.text-danger
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-danger" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Danger
						li.list-group-item.text-light
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-light" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Light
						li.list-group-item.text-dark
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-dark" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Dark

				.col-md-6
					ul.list-group
						li.list-group-item
							h4.text-center Page Loader Color Theme Bottom
						li.list-group-item.text-primary
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-primary bar-bottom" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Primary
						li.list-group-item.text-secondary
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-secondary bar-bottom" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Secondary
						li.list-group-item.text-success
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-success bar-bottom" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Success
						li.list-group-item.text-info
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-info bar-bottom" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Info
						li.list-group-item.text-warning
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-warning bar-bottom" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Warning
						li.list-group-item.text-danger
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-danger bar-bottom" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Danger
						li.list-group-item.text-light
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-light bar-bottom" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Light
						li.list-group-item.text-dark
							button.btn.btn-dark.btn-sm.btn-circle.mr-2( data-nprogress!={
								done: true,
								remove: null,
								configure: {template: '<div class="bar bar-dark bar-bottom" role="bar"><div class="peg"></div></div>'},
								start: null
							} )
								span.fa.fa-play
							|  NProgress Dark
