extends ../components/base/_skeleton
include ../components/input/_input
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Panel widgets'

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-sm
		.container-fluid
			.row.row-30
				//- Calendar widget
				.col-md-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-trophy
								= ' '
								span Calendar widget
						.panel-body
							.fullcalendar.calendar-widget( data-fullcalendar-header!={
								left: 'title',
								center: '',
								right: 'today prev,next'
							},
							data-fullcalendar-event!=[
								{
									title:     'Sony Meeting',
									start:     '2019-08-06',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2019-08-14',
									end:       '2019-08-16',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2019-08-26',
									end:       '2019-08-28',
									className: 'fc-event-primary'
								},
								{
									title:     'Sony Meeting',
									start:     '2019-09-05',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2019-09-11',
									end:       '2019-09-12',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2019-09-26',
									end:       '2019-09-28',
									className: 'fc-event-primary'
								},
								{
									title:     'Sony Meeting',
									start:     '2019-10-06',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2019-10-14',
									end:       '2019-10-16',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2019-10-26',
									end:       '2019-10-28',
									className: 'fc-event-primary'
								},
								{
									title:     'Sony Meeting',
									start:     '2019-11-09',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2019-11-17',
									end:       '2019-11-18',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2019-11-26',
									end:       '2019-11-28',
									className: 'fc-event-primary'
								},
								{
									title:     'Sony Meeting',
									start:     '2019-12-06',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2019-12-14',
									end:       '2019-12-16',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2019-12-26',
									end:       '2019-12-27',
									className: 'fc-event-primary'
								},
								{
									title:     'Sony Meeting',
									start:     '2020-01-09',
									className: 'fc-event-success'
								},
								{
									title:     'Conference',
									start:     '2020-01-17',
									end:       '2020-01-18',
									className: 'fc-event-warning'
								},
								{
									title:     'System Testing',
									start:     '2020-01-26',
									end:       '2020-01-28',
									className: 'fc-event-primary'
								}
							])

				//- Timeline widget
				.col-md-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-pencil
								= ' '
								span Activity/Timeline Widget
						.panel-body.p-0
							.timeline.timeline-simple
								.item
									.timeline-item
										.timeline-item-icon.timeline-item-icon-secondary.fa-tags
										.d-flex.justify-content-between
											div
												span.text-info Michael
												= ' Added to his store: '
												a( href='#' ) iPod
											span.ml-2 1:25am

									.timeline-item
										.timeline-item-icon.timeline-item-icon-secondary.fa-tags
										.d-flex.justify-content-between
											div
												span.text-info Sarah
												= ' Added to her store: '
												a( href='#' ) Notebook
											span.ml-2 3:05am

									.timeline-item
										.timeline-item-icon.timeline-item-icon-success.fa-usd
										.d-flex.justify-content-between
											div
												span.text-info Admin
												= ' created invoice for: '
												a( href='#' ) Software
											span.ml-2 4:15am

									.timeline-item
										.timeline-item-icon.timeline-item-icon-success.fa-usd
										.d-flex.justify-content-between
											div
												span.text-info Admin
												= ' created invoice for: '
												a( href='#' ) Apple
											span.ml-2 4:45am

									.timeline-item
										.timeline-item-icon.timeline-item-icon-success.fa-usd
										.d-flex.justify-content-between
											div
												span.text-info Admin
												= ' created invoice for: '
												a( href='#' ) Software
											span.ml-2 5:15am

									.timeline-item
										.timeline-item-icon.timeline-item-icon-success.fa-usd
										.d-flex.justify-content-between
											div
												span.text-info Admin
												= ' created invoice for: '
												a( href='#' ) Apple
											span.ml-2 5:45am

									.timeline-item
										.timeline-item-icon.timeline-item-icon-secondary.fa-tags
										.d-flex.justify-content-between
											div
												span.text-info Michael
												= ' Added to his store: '
												a( href='#' ) iPod
											span.ml-2 6:25am

									.timeline-item
										.timeline-item-icon.timeline-item-icon-info.fa-fire
										.d-flex.justify-content-between
											div
												span.text-info Admin
												= ' created invoice for: '
												a( href='#' ) Software
											span.ml-2 7:15am

									.timeline-item
										.timeline-item-icon.timeline-item-icon-secondary.fa-tags
										.d-flex.justify-content-between
											div
												span.text-info Sarah
												= ' Added to her store: '
												a( href='#' ) Notebook
											span.ml-2 8:05am

				//- Chat widget
				.col-md-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-pencil
								= ' '
								span Chat widget
						.panel-body.scroller.scroller-vertical( style='max-height: 400px;' )
							.media.media-cloud.group-10
								.media-item
									img( src='images/users/user-04-50x50.jpg', width='50', height='50', alt='' )
								.media-body
									h5.media-heading.offline
										| Sara Marshall
										= ' '
										small - 12:30am
									.media-text Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

							.media.media-cloud.flex-row-reverse.group-10
								.media-item
									img( src='images/users/user-01-50x50.jpg', width='50', height='50', alt='' )
								.media-body.media-body-right-caret
									h5.media-heading.online
										| Tom Jorgensen
										= ' '
										small - 12:30am
									.media-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

							.media.media-cloud.group-10
								.media-item
									img( src='images/users/user-04-50x50.jpg', width='50', height='50', alt='' )
								.media-body
									h5.media-heading.offline
										| Sara Marshall
										= ' '
										small - 12:30am
									.media-text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.

							.media.media-cloud.flex-row-reverse.group-10
								.media-item
									img( src='images/users/user-01-50x50.jpg', width='50', height='50', alt='' )
								.media-body.media-body-right-caret
									h5.media-heading.online
										| Tom Jorgensen
										= ' '
										small - 12:30am
									.media-text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
						.panel-footer
							.input-group.form-group
								input.form-control( type='text', placeholder='Enter your message here' )
								.input-group-append
									button.btn.btn-primary Send

				//- Task List Widget
				.col-md-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-trophy
								= ' '
								span Task List Widget
						.panel-body
							h5.list-sortable-title Current Tasks
							ul.list-sortable.sortable.sortable-current( data-connect-group='.sortable-completed' )
								li.list-sortable-item-primary
									+checkbox( {
										id: 'taskCheck1'
									} ).custom-check.custom-checkbox-primary Add new servers to design board
									.sortable-drag
								li.list-sortable-item-secondary
									+checkbox( {
										id: 'taskCheck2'
									} ).custom-check.custom-checkbox-primary Finish building prototype for Sony
									.sortable-drag
								li.list-sortable-item-success
									+checkbox( {
										id: 'taskCheck3'
									} ).custom-check.custom-checkbox-primary Order new building supplies for Microsoft
									.sortable-drag

							h5.list-sortable-title Completed Tasks
							ul.list-sortable.sortable.sortable-completed( data-connect-group='.sortable-current' )
								li.list-sortable-item-warning
									+checkbox( {
										id: 'taskCheck4',
										checked: ''
									} ).custom-check.custom-checkbox-primary Finish building prototype for Sony
									.sortable-drag
								li.list-sortable-item-info
									+checkbox( {
										id: 'taskCheck5',
										checked: ''
									} ).custom-check.custom-checkbox-primary Create documentation for launch
									.sortable-drag
								li.list-sortable-item-danger
									+checkbox( {
										id: 'taskCheck6',
										checked: ''
									} ).custom-check.custom-checkbox-primary Order new building supplies for Microsoft
									.sortable-drag

				//- Tag cloud
				.col-md-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-pencil
								= ' '
								span Tag cloud
						.panel-body
							.group-5
								.badge.badge-primary Photoshop
								.badge.badge-primary Fireworks
								.badge.badge-primary Dreamweaver
								.badge.badge-primary Sublime
								.badge.badge-primary Firefox
								.badge.badge-primary Chrome
								.badge.badge-primary Microsoft
								.badge.badge-primary Apple
								.badge.badge-primary Google
								.badge.badge-primary Facebook
								.badge.badge-primary Twitter
								.badge.badge-primary LinkedIn
								.badge.badge-primary Design

				//- Newsletter widget
				.col-md-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-pencil
								= ' '
								span Newsletter widget
						.panel-body
							p Sign up for Zemez #[strong Newsletter].
							.input-group.form-group
								input.form-control( type='text', placeholder='Enter your e-mail here... ' )
								.input-group-append
									button.btn.btn-primary Sign Up!

				//- Quick post
				.col-md-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-pencil
								= ' '
								span Quick post
						.panel-body.p-0
							.summernote-container.summernote-no-border
								.summernote( data-summernote-opts!={
									height: 200,
									toolbar: [
										['font', ['bold', 'underline', 'clear']],
										['para', ['ul', 'ol', 'paragraph']],
										['height', ['height']]
									]
								} )
						.panel-footer
							.group-10.text-right
								button.btn.btn-sm.btn-secondary Draft
								button.btn.btn-sm.btn-primary Send

				//- Tag group
				.col-md-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-pencil
								= ' '
								span Tag group
						.panel-body
							ul.list-group
								li.list-group-item.d-flex.justify-content-between.align-items-center
									span Entertainment
									.badge.badge-primary.badge-pill 14
								li.list-group-item.d-flex.justify-content-between.align-items-center
									span Movies
									.badge.badge-success.badge-pill 9
								li.list-group-item.d-flex.justify-content-between.align-items-center
									span TV Shows
									.badge.badge-info.badge-pill 11
								li.list-group-item.d-flex.justify-content-between.align-items-center
									span Celebs & Gossip
									.badge.badge-warning.badge-pill 18
								li.list-group-item.d-flex.justify-content-between.align-items-center
									span Video Games
									.badge.badge-danger.badge-pill 22
								li.list-group-item.d-flex.justify-content-between.align-items-center
									span Sports & Events
									.badge.badge-light.badge-pill 9

				//- Recent User Activity
				.col-md-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-pencil
								= ' '
								span Recent User Activity
						.panel-menu
							.input-group.form-group
								.input-group-prepend
									span.input-group-text
										span.fa.fa-search
								input.form-control( type='text', placeholder='Search user...' )
						.panel-body.scroller.scroller-vertical( style='height: 400px;' )
							.row.row-30
								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-01-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Tom Jorgensen
										small.user-description Designer

								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-02-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Emily Roundwheel
										small.user-description Manager

								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-03-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Larry Kingster
										small.user-description Developer

								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-04-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Sara Marshall
										small.user-description Designer

								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-05-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Nick Cannoneer
										small.user-description Developer

								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-06-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Morgan Lunar
										small.user-description Manager

								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-01-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Tom Jorgensen
										small.user-description Designer

								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-02-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Emily Roundwheel
										small.user-description Manager

								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-03-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Larry Kingster
										small.user-description Developer

								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-04-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Sara Marshall
										small.user-description Designer

								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-05-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Nick Cannoneer
										small.user-description Developer

								.col-6.col-sm-4.col-lg-3
									.user.user-item
										img.user-img( src='images/users/user-06-100x100.jpg', width='100', height='100', alt='' )
										h6.user-title Morgan Lunar
										small.user-description Manager
