extends ../components/base/_skeleton
include ../components/alert/_alert

block variables
	-
		htmlClass[ htmlClass.indexOf( 'rd-navbar-sidebar-active' ) ] = '';
		pageClass = 'page-image-bg';
		pageName = 'Password Reset';

block page
	section.section-lg.section-one-screen
		.container
			.row.justify-content-center
				.col-lg-8.col-xl-6
					.row.align-items-end
						.col-6
							a( href='index.html' ): img( src=logo.default, alt='' )
						.col-6.text-right
							a( href='#' ) Password Reset
					form.panel( method='post' )
						.panel-header
							+alert.alert-primary.alert-border-left
								span.alert-icon.fa-info
								span Enter your Email and instructions will be sent to you!
						.panel-body
							.input-group
								.input-group-prepend
									span#icon-addon1.input-group-text
										span.fa.fa-envelope-o
								input.form-control( type='text', placeholder='Your Email Address', aria-label='Your Email Address', aria-describedby='icon-addon1' )
								.input-group-append
									button.btn.btn-outline-dark( type='submit' ) Reset

block sidebar
