extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Plugin inputs'

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-md
		.container-fluid
			.row.row-30
				.col-lg-6
					.panel
						.panel-header
							h4.panel-title Select2 Multiselect
						.panel-body
							.row.justify-content-center
								.col-md-10
									h4 Select single
									.form-group
										select.select2( name='country', data-placeholder='Country' )
											option( label='placeholder' )
											option USA
											option UK
											option Ukraine
											option Australia
											option Korea
											option Japan
											option Germany
											option Belarus
											option Poland
									h4 Select multiple
									.form-group
										select.select2( name='country', multiple, data-placeholder='Country' )
											option( label='placeholder' )
											option USA
											option UK
											option Ukraine
											option Australia
											option Korea
											option Japan
											option Germany
											option Belarus
											option Poland
							hr
							.row.row-15
								.col-md-6
									select.select2.select2-primary( name='country', data-placeholder='Country', data-dropdown-class='select2-primary' )
										option( label='placeholder' )
										option USA
										option UK
										option Ukraine
										option Australia
										option Korea
										option Japan
										option Germany
										option Belarus
										option Poland
								.col-md-6
									select.select2.select2-success( name='country', data-placeholder='Country', data-dropdown-class='select2-secondary' )
										option( label='placeholder' )
										option USA
										option UK
										option Ukraine
										option Australia
										option Korea
										option Japan
										option Germany
										option Belarus
										option Poland
								.col-md-6
									select.select2.select2-info( name='country', data-placeholder='Country', data-dropdown-class='select2-info' )
										option( label='placeholder' )
										option USA
										option UK
										option Ukraine
										option Australia
										option Korea
										option Japan
										option Germany
										option Belarus
										option Poland
								.col-md-6
									select.select2.select2-warning( name='country', data-placeholder='Country', data-dropdown-class='select2-warning' )
										option( label='placeholder' )
										option USA
										option UK
										option Ukraine
										option Australia
										option Korea
										option Japan
										option Germany
										option Belarus
										option Poland

					.panel
						.panel-header
							h4.panel-title Dual Listbox
						.panel-body
							select.dual-listbox( multiple='' )
								option( value='1' ) One
								option( value='2' ) Two
								option( value='3' ) Three
								option( value='4' ) Four
								option( value='5' ) Five
								option( value='6' ) Six
								option( value='7' ) Seven
								option( value='8' ) Eight
								option( value='9' ) Nine
								option( value='10' ) Ten

					.panel
						.panel-header
							h4.panel-title Input Field Maxlength
						.panel-body
							.row.form-group
								.col-sm-3.text-sm-right
									label.col-form-label( for='staticInput1' ) Standard
								.col-sm-9
									input#staticInput1.form-control( type='text', maxlength='25', placeholder='Type Here...' )
							.row.form-group
								.col-sm-3.text-sm-right
									label.col-form-label( for='textarea1' ) Textarea
								.col-sm-9
									textarea#textarea1.form-control( maxlength='225', rows='3' )

					.panel
						.panel-header
							h4.panel-title Typeahead Inputs
						.panel-body
							.row.form-group
								.col-sm-3.text-sm-right
									label.col-form-label( for='typeahead' ) Standard
								.col-sm-9
									input#typeahead.form-control( type='text', placeholder='States', data-typehead!=['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California'] )
					.panel
						.panel-header
							h4.panel-title Spinner Fields
						.panel-body
							.form-group
								.row
									.col-sm-3.text-sm-right
										label.col-form-label( for='spinner1' ) Default
									.col-sm-9
										.input-group
											.input-group-prepend
												span.input-group-text
													span.fa.fa-level-up
											input#spinner1.form-control.ui-spinner-input( data-spinner, type='number', name='spinner', value='5' )

							.form-group
								.row
									.col-sm-3.text-sm-right
										label.col-form-label( for='spinner2' ) Currency
									.col-sm-9
										.input-group
											.input-group-prepend
												span.input-group-text
													span.fa.fa-usd
											input#spinner2.form-control.ui-spinner-input( data-spinner!={step: 15}, type='number', name='spinner', value='15' )

							.form-group
								.row
									.col-sm-3.text-sm-right
										label.col-form-label( for='spinner3' ) Decimal
									.col-sm-9
										.input-group
											.input-group-prepend
												span.input-group-text
													span.fa.fa-signal
											input#spinner3.form-control.ui-spinner-input( data-spinner!={step: 0.01}, type='number', name='spinner', value='5.01' )
							.form-group
								.row
									.col-sm-3.text-sm-right
										label.col-form-label( for='spinner4' ) Time
									.col-sm-9
										.input-group
											.input-group-prepend
												span.input-group-text
													span.fa.fa-clock-o
											input#spinner4.form-control.ui-spinner-input( data-time-spinner, type='text', name='spinner', value='08:30 PM' )

					.panel
						.panel-header
							h4.panel-title Masked Input Fields
						.panel-body
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Date
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked1' )
												span.fa.fa-calendar
										input#masked1.form-control( type='text', data-masked='99/99/9999', placeholder='11/11/1111' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Time
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked2' )
												span.fa.fa-clock-o
										input#masked2.form-control( type='text', data-masked='99:99:99', placeholder='00:00:00' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Date and Time
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked3' )
												span.fa.fa-clock-o
										input#masked3.form-control( type='text', data-masked='99/99/9999 99:99:99', placeholder='44/44/4444 44:44:44' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Zip Code
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked4' )
												span.fa.fa-flash
										input#masked4.form-control( type='text', data-masked='99999-999', placeholder='99999-999' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Phone
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked5' )
												span.fa.fa-phone
										input#masked5.form-control( type='text', data-masked='(999) 999-9999', placeholder='(999) 999-9999' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Phone + Ext
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked6' )
												span.fa.fa-phone
										input#masked6.form-control( type='text', data-masked='(999) 999-9999 x99999', placeholder='(999) 999-9999 x99999' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Money
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked7' )
												span.fa.fa-money
										input#masked7.form-control( type='text', data-masked='999,999,999.99', placeholder='000,000,000.00' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Product Key
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked8' )
												span.fa.fa-key
										input#masked8.form-control( type='text', data-masked='999.999.999.999', placeholder='999.999.999.999' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Tax ID
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked9' )
												span.fa.fa-gavel
										input#masked9.form-control( type='text', data-masked='99-9999999', placeholder='99-9999999' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label SSN
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked10' )
												span.fa.fa-exclamation
										input#masked10.form-control( type='text', data-masked='999-99-9999', placeholder='999-99-9999' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Eye Script
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked11' )
												span.fa.fa-eye
										input#masked11.form-control( type='text', data-masked='~9.99 ~9.99 999', placeholder='~9.99 ~9.99 999' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Custom
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='masked12' )
												span.fa.fa-cog
										input#masked12.form-control( type='text', data-masked='9.99.999.9999', placeholder='1.22.333.4444' )

				.col-lg-6
					.panel
						.panel-header
							h4.panel-title Tag Manager
						.panel-body
							form
								.tag-manager
									input.form-control.tag-manager-input( type='text', placeholder='Create a new tag...' )
									.tag-manager-container

					.panel
						.panel-header
							h4.panel-title Color Picker
						.panel-body
							.group-10
								.input-group.form-group
									input#cp-default.form-control( type='text', readonly, placeholder='Readonly input here...', value='#FF0000', data-colorpick )
								.input-group( data-colorpick )
									input.form-control.input-lg( type='text', value='#DD0F20' )
									span.input-group-append
										span.input-group-text.colorpicker-input-addon: i
								.input-group( data-colorpick )
									input.form-control.input-lg( type='text', data-color='rgba(244, 167, 120, 0.5)' )
									span.input-group-append
										span.input-group-text.colorpicker-input-addon: i
								.text-center
									.d-inline-block( data-colorpick!={inline: true, color: '#FF0000'} )
									.d-inline-block( data-colorpick!={inline: true, color: 'rgba(244, 167, 120, 0.5)'} )
									.d-inline-block( data-colorpick!={inline: true, useAlpha: false, color: '#00FF00'} )
								.text-center
									.d-inline-block( data-colorpick!={inline: true, horizontal: true, color: '#FF0000'} )
									.d-inline-block( data-colorpick!={inline: true, horizontal: true, color: 'rgba(244, 167, 120, 0.5)'} )
									.d-inline-block( data-colorpick!={inline: true, horizontal: true, useAlpha: false, color: '#00FF00'} )

					.panel
						.panel-header
							h4.panel-title Date Range Picker
						.panel-body
							.row.form-group
								.col-sm-3.text-sm-right
									label.col-form-label( for='daterange1' ) Standard
								.col-sm-9
									input#daterange1.form-control( type='text', name='daterange' )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Component Field
								.col-sm-9
									.input-group
										input#daterange2.form-control( type='text', name='daterange', data-predefined='true' )
										.input-group-append
											label.input-group-text( for='daterange2' )
												span.fa.fa-calendar

					.panel
						.panel-header
							h4.panel-title Date/Time Picker
						.panel-body
							.row.form-group
								.col-sm-3.text-sm-right
									label.col-form-label( for='datetime1' ) Standard
								.col-sm-9
									input#datetime1.form-control( type='text', name='datetime', data-datetimepicker )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Component Field
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='datetime2' )
												span.fa.fa-calendar
										input#datetime2.form-control( type='text', name='datetime', data-datetimepicker )
							hr
							.row.form-group
								.col-sm-3.text-sm-right
									label.col-form-label( for='datetime3' ) Inline Picker
								.col-sm-9
									input#datetime3.form-control( type='text', name='datetime' )
									.datetimepicker-inline( data-datetimepicker!={ inline: true, target: '#datetime3' } )

					.panel
						.panel-header
							h4.panel-title Time Picker
						.panel-body
							.row.form-group
								.col-sm-3.text-sm-right
									label.col-form-label( for='time1' ) Standard
								.col-sm-9
									input#time1.form-control( type='text', name='datetime', data-datetimepicker!={ format: 'LT' } )
							.row.form-group
								.col-sm-3.text-sm-right
									p.col-form-label Component Field
								.col-sm-9
									.input-group
										.input-group-prepend
											label.input-group-text( for='time2' )
												span.fa.fa-calendar
										input#time2.form-control( type='text', name='datetime', data-datetimepicker!={ format: 'LT' } )
							hr
							.row.form-group
								.col-sm-3.text-sm-right
									label.col-form-label( for='time3' ) Inline Time
								.col-sm-9
									input#time3.form-control( type='text', name='datetime' )
									.datetimepicker-inline( data-datetimepicker!={ format: 'LT', inline: true, target: '#time3' } )
