extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Printable invoice'

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-lg
		.container-fluid
			.panel.page-invoice
				.panel-header
					.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
						h4.panel-title
							span.panel-icon.fa-print
							span Printable Invoice
						.group-5.d-flex.flex-wrap.align-items-center
							button.btn.btn-sm.btn-light( type='button' )
								span.fa-plus-square
								|  New Invoice
							a.btn.btn.btn-sm.btn-light( href='javascript:window.print()' )
								span.fa-print
							.dropdown
								button.btn.btn-sm.btn-light.dropdown-toggle( type='button', data-toggle='dropdown' )
									span.btn-icon.fa-gear
								.dropdown-menu
									a.dropdown-item( href='#' ) View Profile
									a.dropdown-item( href='#' ) Message
				.panel-body
					.row.row-30.text-center
						.col-lg-4.text-lg-left
							h1 INVOICE
							ul.list-unstyled
								li Created: Nov 23 2013
								li Status:
									b.text-success Paid - On Time

						.col-lg-4
							img( src=logo.default, alt='' )

						.col-lg-4.text-lg-right
							h5
								| Sales Rep:
								= ' '
								a( href='#' ) Michael Ronny

					.row.row-30
						.col-md-6.col-lg-4
							.panel
								.panel-header
									.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
										h4.panel-title
											span.panel-icon.fa-user
											span Bill To:
										h3: a(href='#') Edit
								.panel-body
									h5 Cannon Camera
									address
										ul.list-unstyled
											li: a( href='#' ) 151 Sandy Ave, Suite 200
												br
												| San Jose, CA 91503
											li
												| P:
												= ' '
												a( href='tel:#' ) (123) 456-7890

						.col-md-6.col-lg-4
							.panel
								.panel-header
									.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
										h4.panel-title
											span.panel-icon.fa-location-arrow
											span Ship To:
										h3: a(href='#') Edit
								.panel-body
									h5 Amazon, Inc.
									address
										ul.list-unstyled
											li: a( href='#' ) 795 Folsom Ave, Suite 600
												br
												| San Francisco, CA 94107
											li
												| P:
												= ' '
												a( href='tel:#' ) (123) 456-7890

						.col-lg-4
							.panel
								.panel-header
									.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
										h4.panel-title
											span.panel-icon.fa-info
											span Invoice Details:
								.panel-body
									ul.list-unstyled
										li
											span.h5
												| Invoice #:
												= ' '
											| 58126332
										li
											span.h5
												| Invoice Date:
												= ' '
											| 10 Oct 2019
										li
											span.h5
												| Due Date:
												= ' '
											| 21 Dec 2019
										li
											span.h5
												| Terms:
												= ' '
											| Ten Forty

					.row.justify-content-end
						.col-12
							.table-responsive
								table.table.table-striped
									thead
										tr
											th #
											th Item
											th( style='min-width: 200px;' ) Description
											th( style='width: 135px;' ) #
											th Rate
											th.text-right.pr10 Price
									tbody
										tr
											td
												b 3
											td Net Code Revamp
											td Worked on Design and Structure (per hour)
											td 16
											td $35.00
											td.text-right.pr10 $560.00
										tr
											td
												b 1
											td Developer Newsletter
											td Year Subscription X2
											td 2
											td $12.99
											td.text-right.pr10 $25.98
										tr
											td
												b 3
											td Admin Dashboard
											td Design and implemention(per hour)
											td 16
											td $35.00
											td.text-right.pr10 $560.00
										tr
											td
												b 3
											td Web Development
											td Worked on Design and Structure (per hour)
											td 23
											td $30.00
											td.text-right.pr10 $690.00
										tr
											td
												b 1
											td Developer Newsletter
											td Year Subscription X2
											td 2
											td $12.99
											td.text-right.pr10 $25.98

						.col
							p.text-primary.mt-3 Thank you for your business.

						.col-md-5.col-lg-4
							table.table
								thead
									tr
										th.border-top-0
											b Sub Total:
										th.border-top-0 $1375.98
								tbody
									tr
										td
											b Payments
										td (-)0.00
									tr
										td
											b Total
										td $230.00
									tr
										td
											b Balance Due:
										td $1375.98
				.panel-footer
					.group-15
						a.btn.btn-secondary( href='javascript:window.print()' )
							span.fa-print
							|  Print Invoice
						button.btn.btn-success( type='button' )
							span.fa-floppy-o
							|  Save Invoice
