extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Profile'

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-sm.bg-white( style='background-image: url(images/img-03-657x900.jpg)' )
		.container-fluid
			.media.flex-column.flex-sm-row.align-items-center.group-30.text-center.text-sm-left
				.media-item
					img.rounded-circle( src='images/users/user-01-165x165.jpg', width='165', height='165', alt='' )
				.media-body
					h2 Michael Halls - Profile
					p Lorem ipsum dolor sit amet ctetur adicing elit, sed do eiusmod tempor incididunt
					ul.list-inline
						li.list-inline-item: a.fa-facebook-square.h2.text-primary( href='#' )
						li.list-inline-item: a.fa-twitter-square.h2.text-info( href='#' )
						li.list-inline-item: a.fa-google-plus-square.h2.text-danger( href='#' )
						li.list-inline-item: a.fa-phone-square.h2.text-success( href='tel:#' )
						li.list-inline-item: a.fa-envelope-square.h2.text-warning( href='mailto:#' )

	section.section-sm
		.container-fluid
			.row.row-30
				.col-lg-5.col-xl-4
					.row.row-30
						.col-12
							.panel
								.panel-header
									h4.panel-title
										span User Popularity
								.panel-body.p-0
									.table-responsive
										table.table
											tbody
												tr
													td.text-center: span.fa-television.text-warning
													td Television
													td.text-right #[span.fa-caret-up.text-success] $855,913
												tr
													td.text-center: span.fa-microphone.text-primary
													td Radio
													td.text-right #[span.fa-caret-down.text-danger] $349,712
												tr
													td.text-center: span.fa-newspaper-o.text-info
													td Newspaper
													td.text-right #[span.fa-caret-up.text-success] $1,259,742

						.col-12
							.panel
								.panel-header
									h4.panel-title
										span My Skills
								.panel-body
									.group-5
										.badge.badge-primary Primary
										.badge.badge-secondary Secondary
										.badge.badge-success Success
										.badge.badge-danger Danger
										.badge.badge-warning Warning
										.badge.badge-info Info
										.badge.badge-light Light
										.badge.badge-dark Dark

						.col-12
							.panel
								.panel-header
									h4.panel-title
										span About Me
								.panel-body
									h6.text-light Experience
									h4.mt-1 Facebook Internship
									p University of Missouri, Columbia #[br]Student Health Center, June 2010 - 2012
									hr
									h6.text-light Education
									h4.mt-1 Bachelor of Science, PhD
									p University of Missouri, Columbia #[br]Student Health Center, June 2010 through Aug 2011
									hr
									h6.text-light Accomplishments
									h4.mt-1 Business Management Practice
									p University of Missouri, Columbia #[br]Student Health Center, June 2010 through Aug 2011

				.col-lg-7.col-xl-8
					.panel.panel-nav
						.panel-header
							ul.nav.nav-tabs.scroller.scroller-horizontal( role='tablist' )
								li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab1', role='tab', aria-controls='panelTab1', aria-selected='true'  ) Activity
								li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab2', role='tab', aria-controls='panelTab2', aria-selected='false' ) Social
								li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab3', role='tab', aria-controls='panelTab3', aria-selected='false' ) Media

						.panel-body
							.tab-content
								#panelTab1.tab-pane.fade.show.active( role='tabpanel' )
									.media.group-15.flex-column.flex-sm-row
										.media-item
											img( src='images/users/user-02-40x40.jpg', width='40', height='40', alt='' )
										.media-body
											h5 Simon Rivers Posted - #[small.text-muted 3 hours ago]
											.group-10
												img( src='images/image-01-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-02-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-03-140x90.jpg', width='140', height='90', alt='' )
											ul.list-inline.small.mt-2
												li.list-inline-item
													.group-5
														span.fa-thumbs-o-up.text-primary
														span Like
												li.list-inline-item
													.group-5
														span.fa-share.text-primary
														span Share
												li.list-inline-item
													.group-5
														span.fa-download.text-primary
														span Save
												li.list-inline-item
													.group-5
														span.fa-comments-o.text-primary
														span Comment
									.media.group-15
										.media-item
											img( src='images/users/user-03-40x40.jpg', width='40', height='40', alt='' )
										.media-body
											h5 Simon Rivers Posted - #[small.text-muted 3 hours ago]
											p.text-muted Omg so freaking sweet dude. This song is amazing. I love when you write with your hands...
											.media.group-10
												.media-item
													img( src='images/users/user-02-40x40.jpg', width='40', height='40', alt='' )
												.media-body
													h5 Jessica Wong - #[small.text-muted 3 hours ago]
													p.text-muted What a pleasure to bring you back to my life at this place. It had this wonderful vibe from the first moment I sat down in the chair and walked by the window.
											.media.group-10
												.media-item
													img( src='images/users/user-03-40x40.jpg', width='40', height='40', alt='' )
												.media-body
													h5 Jessica Wong - #[small.text-muted 3 hours ago]
													p.text-muted I'm so so super proud of this place and so glad I came here. The atmosphere is so amazing, the service is great, we had a great time...and we will continue it for years. Thank you for giving me the opportunity to
									.media.group-15.flex-column.flex-sm-row
										.media-item
											img( src='images/users/user-03-40x40.jpg', width='40', height='40', alt='' )
										.media-body
											h5 Simon Rivers Posted - #[small.text-muted 3 hours ago]
											.group-10
												img( src='images/image-04-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-02-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-05-140x90.jpg', width='140', height='90', alt='' )
											ul.list-inline.small.mt-2
												li.list-inline-item
													.group-5
														span.fa-thumbs-o-up.text-primary
														span Like
												li.list-inline-item
													.group-5
														span.fa-share.text-primary
														span Share
												li.list-inline-item
													.group-5
														span.fa-download.text-primary
														span Save
												li.list-inline-item
													.group-5
														span.fa-comments-o.text-primary
														span Comment

								#panelTab2.tab-pane.fade( role='tabpanel' )
									.media.group-15.flex-column.flex-sm-row
										.media-item
											img( src='images/users/user-03-40x40.jpg', width='40', height='40', alt='' )
										.media-body
											h5 Simon Rivers Posted - #[small.text-muted 3 hours ago]
											.group-10
												img( src='images/image-04-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-02-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-05-140x90.jpg', width='140', height='90', alt='' )
											ul.list-inline.small.mt-2
												li.list-inline-item
													.group-5
														span.fa-thumbs-o-up.text-primary
														span Like
												li.list-inline-item
													.group-5
														span.fa-share.text-primary
														span Share
												li.list-inline-item
													.group-5
														span.fa-download.text-primary
														span Save
												li.list-inline-item
													.group-5
														span.fa-comments-o.text-primary
														span Comment
									.media.group-15.flex-column.flex-sm-row
										.media-item
											img( src='images/users/user-02-40x40.jpg', width='40', height='40', alt='' )
										.media-body
											h5 Simon Rivers Posted - #[small.text-muted 3 hours ago]
											.group-10
												img( src='images/image-01-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-02-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-03-140x90.jpg', width='140', height='90', alt='' )
											ul.list-inline.small.mt-2
												li.list-inline-item
													.group-5
														span.fa-thumbs-o-up.text-primary
														span Like
												li.list-inline-item
													.group-5
														span.fa-share.text-primary
														span Share
												li.list-inline-item
													.group-5
														span.fa-download.text-primary
														span Save
												li.list-inline-item
													.group-5
														span.fa-comments-o.text-primary
														span Comment
									.media.group-15
										.media-item
											img( src='images/users/user-03-40x40.jpg', width='40', height='40', alt='' )
										.media-body
											h5 Simon Rivers Posted - #[small.text-muted 3 hours ago]
											p.text-muted Omg so freaking sweet dude. This song is amazing. I love when you write with your hands...
											.media.group-10
												.media-item
													img( src='images/users/user-02-40x40.jpg', width='40', height='40', alt='' )
												.media-body
													h5 Jessica Wong - #[small.text-muted 3 hours ago]
													p.text-muted What a pleasure to bring you back to my life at this place. It had this wonderful vibe from the first moment I sat down in the chair and walked by the window.
											.media.group-10
												.media-item
													img( src='images/users/user-02-40x40.jpg', width='40', height='40', alt='' )
												.media-body
													h5 Jessica Wong - #[small.text-muted 3 hours ago]
													p.text-muted I'm so so super proud of this place and so glad I came here. The atmosphere is so amazing, the service is great, we had a great time...and we will continue it for years. Thank you for giving me the opportunity to

								#panelTab3.tab-pane.fade( role='tabpanel' )
									.media.group-15
										.media-item
											img( src='images/users/user-03-40x40.jpg', width='40', height='40', alt='' )
										.media-body
											h5 Simon Rivers Posted - #[small.text-muted 3 hours ago]
											p.text-muted Omg so freaking sweet dude. This song is amazing. I love when you write with your hands...
											.media.group-10
												.media-item
													img( src='images/users/user-02-40x40.jpg', width='40', height='40', alt='' )
												.media-body
													h5 Jessica Wong - #[small.text-muted 3 hours ago]
													p.text-muted What a pleasure to bring you back to my life at this place. It had this wonderful vibe from the first moment I sat down in the chair and walked by the window.
											.media.group-10
												.media-item
													img( src='images/users/user-03-40x40.jpg', width='40', height='40', alt='' )
												.media-body
													h5 Jessica Wong - #[small.text-muted 3 hours ago]
													p.text-muted I'm so so super proud of this place and so glad I came here. The atmosphere is so amazing, the service is great, we had a great time...and we will continue it for years. Thank you for giving me the opportunity to
									.media.group-15.flex-column.flex-sm-row
										.media-item
											img( src='images/users/user-03-40x40.jpg', width='40', height='40', alt='' )
										.media-body
											h5 Simon Rivers Posted - #[small.text-muted 3 hours ago]
											.group-10
												img( src='images/image-04-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-02-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-05-140x90.jpg', width='140', height='90', alt='' )
											ul.list-inline.small.mt-2
												li.list-inline-item
													.group-5
														span.fa-thumbs-o-up.text-primary
														span Like
												li.list-inline-item
													.group-5
														span.fa-share.text-primary
														span Share
												li.list-inline-item
													.group-5
														span.fa-download.text-primary
														span Save
												li.list-inline-item
													.group-5
														span.fa-comments-o.text-primary
														span Comment
									.media.group-15.flex-column.flex-sm-row
										.media-item
											img( src='images/users/user-02-40x40.jpg', width='40', height='40', alt='' )
										.media-body
											h5 Simon Rivers Posted - #[small.text-muted 3 hours ago]
											.group-10
												img( src='images/image-01-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-02-140x90.jpg', width='140', height='90', alt='' )
												img( src='images/image-03-140x90.jpg', width='140', height='90', alt='' )
											ul.list-inline.small.mt-2
												li.list-inline-item
													.group-5
														span.fa-thumbs-o-up.text-primary
														span Like
												li.list-inline-item
													.group-5
														span.fa-share.text-primary
														span Share
												li.list-inline-item
													.group-5
														span.fa-download.text-primary
														span Save
												li.list-inline-item
													.group-5
														span.fa-comments-o.text-primary
														span Comment
