extends ../components/base/_skeleton
include ../components/progress/_progress
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Progress Bars'

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs ) 

	section.section-sm.section-transparent
		.container-fluid
			.row.row-30
				.col-12: h3.text-center Directional Options
				.col-md-6.col-lg-4.col-xl-3
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title Progress Color
								code.code-bg .progress-bar.bg-color
						.panel-body
							+progress( {
								progressTitle: 'Progress Primary',
								className: 'progress-primary',
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Secondary',
								className: 'progress-secondary',
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Success',
								className: 'progress-success',
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Primary',
								className: 'progress-info',
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Warning',
								className: 'progress-warning',
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Danger',
								className: 'progress-danger',
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Light',
								className: 'progress-light',
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Dark',
								className: 'progress-dark',
								value: '50'
							} )

				.col-md-6.col-lg-4.col-xl-3
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title With label
								code.code-bg Add label: 50%
						.panel-body
							+progress( {
								progressTitle: 'Progress Primary',
								className: 'progress-primary',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Secondary',
								className: 'progress-secondary',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Success',
								className: 'progress-success',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Primary',
								className: 'progress-info',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Warning',
								className: 'progress-warning',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Danger',
								className: 'progress-danger',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Light',
								className: 'progress-light',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Dark',
								className: 'progress-dark',
								label: true,
								value: '50'
							} )

				.col-md-6.col-lg-4.col-xl-3
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title Striped
								code.code-bg .progress-bar-striped
						.panel-body
							+progress( {
								progressTitle: 'Progress Striped',
								className: 'progress-primary progress-bar-striped',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Striped',
								className: 'progress-secondary progress-bar-striped',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Striped',
								className: 'progress-success progress-bar-striped',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Striped',
								className: 'progress-info progress-bar-striped',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Striped',
								className: 'progress-warning progress-bar-striped',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Striped',
								className: 'progress-danger progress-bar-striped',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Striped',
								className: 'progress-light progress-bar-striped',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Striped',
								className: 'progress-dark progress-bar-striped',
								label: true,
								value: '50'
							} )

				.col-md-6.col-lg-4.col-xl-3
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title Striped Animated
								code.code-bg .progress-bar-animated
						.panel-body
							+progress( {
								progressTitle: 'Progress Striped Animated',
								className: 'progress-primary progress-bar-striped progress-bar-animated',
								label: true,
								value: '25'
							} )
							+progress( {
								progressTitle: 'Progress Striped Animated',
								className: 'progress-secondary progress-bar-striped progress-bar-animated',
								label: true,
								value: '25'
							} )
							+progress( {
								progressTitle: 'Progress Striped Animated',
								className: 'progress-success progress-bar-striped progress-bar-animated',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Striped Animated',
								className: 'progress-info progress-bar-striped progress-bar-animated',
								label: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Striped Animated',
								className: 'progress-warning progress-bar-striped progress-bar-animated',
								label: true,
								value: '75'
							} )
							+progress( {
								progressTitle: 'Progress Striped Animated',
								className: 'progress-danger progress-bar-striped progress-bar-animated',
								label: true,
								value: '75'
							} )
							+progress( {
								progressTitle: 'Progress Striped Animated',
								className: 'progress-light progress-bar-striped progress-bar-animated',
								label: true,
								value: '100'
							} )
							+progress( {
								progressTitle: 'Progress Striped Animated',
								className: 'progress-dark progress-bar-striped progress-bar-animated',
								label: true,
								value: '100'
							} )

				.col-md-6.col-lg-4.col-xl-6.col-xxl-3
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title Vertical
								code.code-bg .progress-vertical
						.panel-body
							.group-xl-10.text-center
								+progress( {
									vertical: true,
									className: 'progress-primary',
									value: '25'
								} )
								+progress( {
									vertical: true,
									className: 'progress-secondary',
									value: '25'
								} )
								+progress( {
									vertical: true,
									className: 'progress-success',
									value: '50'
								} )
								+progress( {
									vertical: true,
									className: 'progress-info',
									value: '50'
								} )
								+progress( {
									vertical: true,
									className: 'progress-warning',
									value: '75'
								} )
								+progress( {
									vertical: true,
									className: 'progress-danger',
									value: '75'
								} )
								+progress( {
									vertical: true,
									className: 'progress-light',
									value: '100'
								} )
								+progress( {
									vertical: true,
									className: 'progress-dark',
									value: '100'
								} )

				.col-md-6.col-lg-4.col-xl-6.col-xxl-3
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title With label
								code.code-bg .progress-vertical + label
						.panel-body
							.group-xl-10.text-center
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-primary',
									value: '25'
								} )
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-secondary',
									value: '25'
								} )
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-success',
									value: '50'
								} )
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-info',
									value: '20'
								} )
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-warning',
									value: '75'
								} )
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-danger',
									value: '75'
								} )
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-light',
									value: '100'
								} )
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-dark',
									value: '100'
								} )

				.col-md-6.col-lg-4.col-xl-6.col-xxl-3
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title Striped
								code.code-bg .progress-bar-striped
						.panel-body
							.group-xl-10.text-center
								+progress( {
									vertical: true,
									className: 'progress-bar-striped progress-primary',
									label: true,
									value: '25'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-striped progress-secondary',
									label: true,
									value: '25'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-striped progress-success',
									label: true,
									value: '50'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-striped progress-info',
									label: true,
									value: '50'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-striped progress-warning',
									label: true,
									value: '75'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-striped progress-danger',
									label: true,
									value: '75'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-striped progress-light',
									label: true,
									value: '100'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-striped progress-dark',
									label: true,
									value: '100'
								} )

				.col-md-6.col-lg-4.col-xl-6.col-xxl-3
					.panel
						.panel-header
							.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
								h4.panel-title Striped Animated
								code.code-bg .progress-bar-animated
						.panel-body
							.group-xl-10.text-center
								+progress( {
									vertical: true,
									className: 'progress-bar-animated progress-bar-striped progress-primary',
									label: true,
									value: '25'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-animated progress-bar-striped progress-secondary',
									label: true,
									value: '25'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-animated progress-bar-striped progress-success',
									label: true,
									value: '50'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-animated progress-bar-striped progress-info',
									label: true,
									value: '50'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-animated progress-bar-striped progress-warning',
									label: true,
									value: '75'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-animated progress-bar-striped progress-danger',
									label: true,
									value: '75'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-animated progress-bar-striped progress-light',
									label: true,
									value: '100'
								} )
								+progress( {
									vertical: true,
									className: 'progress-bar-animated progress-bar-striped progress-dark',
									label: true,
									value: '100'
								} )

	section.section-sm.section-transparent
		.container-fluid
			.row.row-30
				.col-12
					h3.text-center General Options
				.col-12
					.panel
						.panel-header
							h4.panel-title Progress Bar Sizes
						.panel-body
							.table-responsive
								table.table
									thead
										tr
											th( style='width: 30%; min-width: 180px;' ) Class
											th( style='min-width: 180px;' ) Description
									tbody
										tr
											td: code.code-bg .progress.progress-sm
											td
												+progress( {
													progressTitle: 'Progress Sm',
													className: 'progress-primary',
													label: true,
													value: '50'
												} ).progress-sm
										tr
											td: code.code-bg .progress
											td
												+progress( {
													progressTitle: 'Progress',
													className: 'progress-primary',
													label: true,
													value: '50'
												} )
										tr
											td: code.code-bg .progress.progress-lg
											td
												+progress( {
													progressTitle: 'Progress Lg',
													className: 'progress-primary',
													label: true,
													value: '50'
												} ).progress-lg

	section.section-sm.section-transparent
		.container-fluid
			.row.row-30.justify-content-center
				.col-12: h3.text-center Progress Bars Inverse
				.col-md-6.col-xxl-5
					.panel
						.panel-header
							code.code-bg .progress.flex-row-reverse
						.panel-body
							+progress( {
								progressTitle: 'Progress Primary',
								className: 'progress-primary',
								reverse: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Secondary',
								className: 'progress-secondary',
								reverse: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Success',
								className: 'progress-success',
								reverse: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Info',
								className: 'progress-info',
								reverse: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Warning',
								className: 'progress-warning',
								reverse: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Danger',
								className: 'progress-danger',
								reverse: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Light',
								className: 'progress-light',
								reverse: true,
								value: '50'
							} )
							+progress( {
								progressTitle: 'Progress Dark',
								className: 'progress-dark',
								reverse: true,
								value: '50'
							} )

				.col-md-6.col-xxl-5
					.panel
						.panel-header
							code.code-bg .progress.flex-row-reverse
						.panel-body
							.group-xl-10.text-center
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-primary',
									value: '25'
								} ).flex-column-reverse
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-secondary',
									value: '25'
								} ).flex-column-reverse
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-success',
									value: '50'
								} ).flex-column-reverse
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-info',
									value: '50'
								} ).flex-column-reverse
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-warning',
									value: '75'
								} ).flex-column-reverse
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-danger',
									value: '75'
								} ).flex-column-reverse
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-light',
									value: '100'
								} ).flex-column-reverse
								+progress( {
									vertical: true,
									label: true,
									className: 'progress-dark',
									value: '100'
								} ).flex-column-reverse
