extends ../components/base/_skeleton
include ../components/input/_input

block variables
	-
		htmlClass[ htmlClass.indexOf( 'rd-navbar-sidebar-active' ) ] = '';
		pageClass = 'page-image-bg';
		pageName = 'Register';

block page
	section.section-lg.section-one-screen
		.container
			.row.justify-content-center
				.col-lg-8
					.row.row-10.align-items-end
						.col-6.col-sm-7
							a( href='index.html' ): img( src=logo.default, alt='' )
						.col-6.col-sm-5.text-right
							a( href='login.html' ) Sign In
							span.px-2 |
							a.font-weight-bold( href='register.html' ) Register
					form.panel( method='post' )
						.panel-header
							.row.row-10
								.col-lg-4
									button.btn.btn-primary.btn-block 
										span.fa.fa-facebook-f
										|  Facebook
								.col-lg-4
									button.btn.btn-info.btn-block
										span.fa.fa-twitter
										|  Twitter
								.col-lg-4
									button.btn.btn-danger.btn-block
										span.fa.fa-google-plus
										|  Google +
						.panel-body
							p.text-center.text-primary Set up your account
							.row.row-30
								.col-md-6
									.input-group
										.input-group-prepend
											span.input-group-text.fa.fa-user
										input.form-control( type='text', name='name', placeholder='First name...' )
								.col-md-6
									.input-group
										.input-group-prepend
											span.input-group-text.fa.fa-user
										input.form-control( type='text', name='lastName', placeholder='Last name...' )
								.col-12
									.input-group
										.input-group-prepend
											span.input-group-text.fa.fa-envelope
										input.form-control( type='text', name='mail', placeholder='Email address' )
								.col-12
									.input-group
										.input-group-prepend
											span.input-group-text.fa.fa-user
										input.form-control( type='text', name='username', placeholder='Login' )
								.col-12
									.input-group
										.input-group-prepend
											span.input-group-text.fa.fa-unlock
										input.form-control( type='password', name='password', placeholder='Create a password' )
								.col-12
									.input-group
										.input-group-prepend
											span.input-group-text.fa.fa-lock
										input.form-control( type='password', name='password', placeholder='Retype your password' )
								.col-12
									p.text-center.text-primary Review the Terms
								.col-12
									.group-10
										+checkbox.custom-checkbox-primary Sign me up for a #[a( href='#' ) 7-day free PRO trial.]
										+checkbox.custom-checkbox-primary I agree to the #[a( href='#' ) Terms of Use.]
						.panel-footer
							.text-sm-right
								button.btn.btn-primary( type='submit' ) Create Account

block sidebar
