extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Tabs';

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-md.section-transparent
		.container-fluid
			.row.row-30
				.col-12
					h3.text-center Panel tabs
				.col-md-6
					.panel.panel-nav.scroller.scroller-horizontal
						.panel-header.d-flex.flex-wrap.align-items-center.justify-content-md-end
							ul.nav.nav-tabs.scroller.scroller-horizontal( role='tablist' )
								li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab1-1', role='tab', aria-selected='true' ) Tab 1
								li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab1-2', role='tab', aria-selected='false' ) Tab 2
								li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab1-3', role='tab', aria-selected='false' ) Tab 3
						.panel-body
							.tab-content
								#panelTab1-1.tab-pane.fade.show.active( role='tabpanel' ) Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
								#panelTab1-2.tab-pane.fade( role='tabpanel' ) Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR.
								#panelTab1-3.tab-pane.fade( role='tabpanel' ) Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.

				.col-md-6
					.panel.panel-nav.scroller.scroller-horizontal
						.panel-header.d-flex.flex-wrap.align-items-center
							ul.nav.nav-tabs.scroller.scroller-horizontal( role='tablist' )
								li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab2-1', role='tab', aria-selected='true' ) Tab 1
								li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab2-2', role='tab', aria-selected='false' ) Tab 2
								li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab2-3', role='tab', aria-selected='false' ) Tab 3
						.panel-body
							.tab-content
								#panelTab2-1.tab-pane.fade.show.active( role='tabpanel' ) Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
								#panelTab2-2.tab-pane.fade( role='tabpanel' ) Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR.
								#panelTab2-3.tab-pane.fade( role='tabpanel' ) Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.

	section.section-md.section-transparent
		.container-fluid
			.row.row-30
				.col-12
					h3.text-center Nav Tabs
				.col-md-6
					.tabs.tabs-vertical-top
						ul.nav.nav-tabs.justify-content-md-end.scroller.scroller-horizontal( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab3-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab3-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab3-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab3-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab3-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab3-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.tabs.tabs-vertical-top
						ul.nav.nav-tabs.scroller.scroller-horizontal( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab4-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab4-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab4-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab4-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab4-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab4-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.tabs.tabs-vertical-top.tabs-accent
						ul.nav.nav-tabs.justify-content-md-end.scroller.scroller-horizontal( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab5-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab5-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab5-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab5-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab5-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab5-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.tabs.tabs-vertical-top.tabs-accent
						ul.nav.nav-tabs.scroller.scroller-horizontal( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab6-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab6-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab6-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab6-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab6-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab6-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.tabs.tabs-vertical-top.tabs-bg
						ul.nav.nav-tabs.justify-content-md-end.scroller.scroller-horizontal( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab7-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab7-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab7-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab7-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab7-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab7-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.tabs.tabs-vertical-top.tabs-bg
						ul.nav.nav-tabs.scroller.scroller-horizontal( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab8-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab8-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab8-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab8-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab8-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab8-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.tabs.tabs-horizontal-right
						ul.nav.nav-tabs( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab9-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab9-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab9-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab9-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab9-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab9-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.tabs.tabs-horizontal-left
						ul.nav.nav-tabs( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab10-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab10-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab10-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab10-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab10-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab10-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.tabs.tabs-horizontal-right.tabs-accent
						ul.nav.nav-tabs( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab11-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab11-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab11-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab11-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab11-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab11-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.tabs.tabs-horizontal-left.tabs-accent
						ul.nav.nav-tabs( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab12-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab12-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab12-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab12-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab12-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab12-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.tabs.tabs-vertical-top
						ul.nav.nav-tabs.nav-fill.scroller.scroller-horizontal( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab13-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab13-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab13-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab13-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab13-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab13-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.tabs.tabs-vertical-bottom
						ul.nav.nav-tabs.nav-fill.scroller.scroller-horizontal( role='tablist' )
							li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab14-1', role='tab', aria-selected='true' ) Home
							li.nav-item
								a.nav-link( data-toggle='tab', href='#panelTab14-2', role='tab', aria-selected='false' )
									span.fa-bolt
									= ' Profile'
							li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab14-3', role='tab', aria-selected='false' ) About
						.tab-content
							#panelTab14-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
							#panelTab14-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
							#panelTab14-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

	section.section-md.section-transparent
		.container-fluid
			.row.row-30
				.col-12
					h3.text-center Nav Pills
				.col-md-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-trophy
								= ' '
								span Well Tabs
						.panel-body
							ul.nav.nav-pills.justify-content-md-end( role='tablist' )
								li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab15-1', role='tab', aria-selected='true' ) Home
								li.nav-item
									a.nav-link( data-toggle='tab', href='#panelTab15-2', role='tab', aria-selected='false' )
										span.fa-bolt
										= ' Profile'
								li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab15-3', role='tab', aria-selected='false' ) About
							.tab-content
								#panelTab15-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
								#panelTab15-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
								#panelTab15-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.

				.col-md-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-trophy
								= ' '
								span Well Tabs
						.panel-body
							ul.nav.nav-pills( role='tablist' )
								li.nav-item: a.nav-link.active( data-toggle='tab', href='#panelTab16-1', role='tab', aria-selected='true' ) Home
								li.nav-item
									a.nav-link( data-toggle='tab', href='#panelTab16-2', role='tab', aria-selected='false' )
										span.fa-bolt
										= ' Profile'
								li.nav-item: a.nav-link( data-toggle='tab', href='#panelTab16-3', role='tab', aria-selected='false' ) About
							.tab-content
								#panelTab16-1.tab-pane.fade.show.active( role='tabpanel' ) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
								#panelTab16-2.tab-pane.fade( role='tabpanel' ) Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
								#panelTab16-3.tab-pane.fade( role='tabpanel' ) At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum.
