extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Tile widgets'

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-md.section-transparent
		.container
			.row.row-30
				.col-12
					h3.text-center Widget set 1
				.col-md-6.col-lg-4
					//- Widget counter simple
					.widget-counter.widget-counter-simple.widget-counter-simple-primary
						h2.widget-counter-title 523
						.widget-counter-text Comments
						.widget-counter-icon.fa-comments-o

				.col-md-6.col-lg-4
					.widget-counter.widget-counter-simple.widget-counter-simple-info
						h2.widget-counter-title 267
						.widget-counter-text Reach
						.widget-counter-icon.fa-bar-chart-o

				.col-md-6.col-lg-4
					.widget-counter.widget-counter-simple.widget-counter-simple-success
						h2.widget-counter-title 714
						.widget-counter-text Comments
						.widget-counter-icon.fa-envelope

	section.section-md.section-transparent
		.container
			.row.row-30
				.col-12
					h3.text-center Widget set 2
				//- Widget counter simple fill
				.col-md-6.col-lg-4
					.widget-counter.widget-counter-simple-fill.widget-counter-simple-primary-fill
						h2.widget-counter-title 523
						.widget-counter-text Comments
						.widget-counter-icon.fa-comments-o

				.col-md-6.col-lg-4
					.widget-counter.widget-counter-simple-fill.widget-counter-simple-info-fill
						h2.widget-counter-title 267
						.widget-counter-text Reach
						.widget-counter-icon.fa-bar-chart-o

				.col-md-6.col-lg-4
					.widget-counter.widget-counter-simple-fill.widget-counter-simple-success-fill
						h2.widget-counter-title 714
						.widget-counter-text Comments
						.widget-counter-icon.fa-envelope

	section.section-md.section-transparent
		.container
			.row.row-30
				.col-12
					h3.text-center Widget set 3
				//- Widget counter boxed color
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				// gradient
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-gradient
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary.widget-counter-boxed-gradient
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info.widget-counter-boxed-gradient
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success.widget-counter-boxed-gradient
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				// gradient + image background
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

	section.section-md.section-transparent
		.container
			.row.row-30
				.col-12
					h3.text-center Widget set 4
				//- Widget counter boxed footer dark
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.widget-counter-footer-dark.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.widget-counter-footer-dark.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.widget-counter-footer-dark.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				// gradient
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-gradient
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary.widget-counter-boxed-gradient
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.widget-counter-footer-dark.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info.widget-counter-boxed-gradient
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.widget-counter-footer-dark.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success.widget-counter-boxed-gradient
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.widget-counter-footer-dark.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				// gradient + image background
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.widget-counter-footer-dark.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.widget-counter-footer-dark.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.widget-counter-footer-dark.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

	section.section-md.section-transparent
		.container
			.row.row-30
				.col-12
					h3.text-center Widget set 5
				//- Widget counter boxed icon
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				// gradient
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-gradient
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary.widget-counter-boxed-gradient
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info.widget-counter-boxed-gradient
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success.widget-counter-boxed-gradient
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				// gradient + image background
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							.widget-counter-icon.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
						.widget-counter-footer.small
							span.widget-counter-footer-icon.fa-arrow-up.pr-1
							= ' 3% UNIQUE '
							strong 1D AGO

	section.section-md.section-transparent
		.container
			.row.row-30
				.col-12
					h3.text-center Widget set 6
				//- Widget counter boxed icon rounded
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments

				// gradient
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-gradient
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary.widget-counter-boxed-gradient
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info.widget-counter-boxed-gradient
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success.widget-counter-boxed-gradient
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments

				// gradient
				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-primary.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-info.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments

				.col-sm-6.col-lg-3
					.widget-counter.widget-counter-boxed.widget-counter-boxed-success.widget-counter-boxed-gradient( style='background-image: url(images/img-03-657x900.jpg)' )
						.widget-counter-body
							.widget-counter-icon.widget-counter-icon-rounded.fa-twitter
							h2.widget-counter-title 18,020
							.widget-counter-text Comments
