extends ../components/base/_skeleton
include ../components/alert/_alert
include ../components/blockquote/_blockquote
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Typography'

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.section-sm
		.container-fluid
			.row.row-30
				.col-lg-6
					.row.row-30
						.col-sm-12
							.panel
								.panel-header
									h4.panel-title
										span.panel-icon.fa-pencil
										span Headings
								.panel-body
									h1 This is an H1 heading #[small.text-muted Secondary text]
									p Nunquam imperium homo. Nunquam dignus magister. Est emeritis pes, cesaris. Liberis prarere, tanquam primus clinias. Cum tabes observare, omnes tataes contactus gratis, alter voxes. Hilotae varius contencio est. Cur apolloniates peregrinatione? Cur fuga ortum? Secundus, altus.

									h2 This is an H2 heading #[small.text-muted Secondary text]
									p Nunquam pugna particula. Vigil manducares, tanquam fatalis brabeuta. Flavum compater grauiter carpseriss ignigena est. Demissio brevis vita est. Abaculuss accelerare, tanquam fortis resistentia. Accolas credere in bassus hafnia! Est placidus resistentia, cesaris. Amor de audax.

									h3 This is an H3 heading #[small.text-muted Secondary text]
									p Frondators accelerare! Sunt adgiumes desiderium audax, germanus rationees. Pol, raptus bursa! Ignigenas crescere in avenio! A falsis, sectam audax omnia. Fatalis parma solite examinares era est. Imber velox xiphias est. Vae, talis adgium! Cum mineralis credere, omnes assimilatioes.

									h4 This is an H4 heading #[small.text-muted Secondary text]
									p Cum apolloniates resistere, omnes medicinaes perdere superbus, nobilis adiuratores. Talis, velox visuss superbe transferre de flavum, germanus bromium. Cur exsul prarere? Solem de lotus tumultumque, promissio nixus! Bassus, raptus consiliums recte imperium de altus, azureus demolitione.

									h5 This is an H5 heading #[small.text-muted Secondary text]
									p Guttus varius mens est. Turpiss sunt monss de castus gabalium. Sunt scutumes carpseris regius, magnum poetaes. Fiscina magnum xiphias est. Assimilatio ires, tanquam mirabilis itineris tramitem. A falsis, quadra bi-color ausus. Species potuss, tanquam audax silva. Fortis, altus.

									h6 This is an H6 heading #[small.text-muted Secondary text]
									p Caniss observare, tanquam germanus calceus. Peritus particulas ducunt ad lapsus. Devirginatos persuadere, tanquam gratis lura. Pol, a bene bubo, parma! Consiliums sunt pulchritudines de lotus clabulare. Vae, verpa! Emeritis zirbus satis pugnas equiso est. Audax rectors ducunt ad cobaltum..

						.col-sm-12
							.panel
								.panel-header
									h4.panel-title
										span.panel-icon.fa-list-alt
										span Drop Caps
								.panel-body
									.row.row-15
										.col-md-6
											p.drop-cap.drop-cap-primary Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-secondary Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-success Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-danger Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-warning Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-info Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-light Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-dark Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
										.col-md-6
											p.drop-cap.drop-cap-fill.drop-cap-primary Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-fill.drop-cap-secondary Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-fill.drop-cap-success Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-fill.drop-cap-danger Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-fill.drop-cap-warning Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-fill.drop-cap-info Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-fill.drop-cap-light Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.
											p.drop-cap.drop-cap-fill.drop-cap-dark Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.felis euismod semper eget lacinia odio sem nec elit.

						.col-md-6.col-lg-12.col-xxl-6
							.panel
								.panel-header
									h4.panel-title
										span.panel-icon.fa-list-alt
										span Numbered List
								.panel-body
									ol
										li Regius resistentias ducunt ad vox.
										li Calcaria ires, tanquam bi-color saga.
										li Absolutios volare, tanquam bassus burgus.
										li
											| Clemens ionicis tormento vix apertos uria.
											ol
												li Sunt equisoes magicae secundus, germanus.
												li Pius classis grauiter demittos medicina est.
												li Est mirabilis domina, cesaris.
										li Albus equisos ducunt ad orgia.
										li Agripeta tolerares, tanquam altus particula.
										li Devatio assimilants, tanquam rusticus homo.
										li A falsis, parma ferox coordinatae.

						.col-md-6.col-lg-12.col-xxl-6
							.panel
								.panel-header
									h4.panel-title
										span.panel-icon.fa-list-alt
										span Regular List
								.panel-body
									ul
										li Sunt equisoes magicae secundus, germanus.
										li Pius classis grauiter demittos medicina est.
										li Est mirabilis domina, cesaris.
										li
											| Clemens ionicis tormento vix apertos uria.
											ul
												li Sunt equisoes magicae secundus, germanus.
												li Pius classis grauiter demittos medicina est.
												li Est mirabilis domina, cesaris.
										li Clemens caesiums ducunt ad navis.
										li Ridetis cito ducunt ad pius torquis.
										li A falsis, vortex festus ionicis tormento.
										li Gemna de secundus tus, desiderium messor.

						.col-md-6.col-lg-12.col-xxl-6
							.panel
								.panel-header
									h4.panel-title
										span.panel-icon.fa-list-alt
										span Unstyled List
								.panel-body
									ul.list-unstyled
										li Sunt equisoes magicae secundus, germanus.
										li Pius classis grauiter demittos medicina est.
										li Est mirabilis domina, cesaris.
										li
											| Clemens ionicis tormento vix apertos uria.
											ul
												li Sunt equisoes magicae secundus, germanus.
												li Pius classis grauiter demittos medicina est.
												li Est mirabilis domina, cesaris.
										li Clemens caesiums ducunt ad navis.
										li Ridetis cito ducunt ad pius torquis.
										li A falsis, vortex festus ionicis tormento.
										li Gemna de secundus tus, desiderium messor.

						.col-md-6.col-lg-12.col-xxl-6
							.panel
								.panel-header
									h4.panel-title
										span.panel-icon.fa-list-alt
										span Icon List
								.panel-body
									ul.list-marked
										li.fa-star: span Sunt equisoes magicae secundus, germanus.
										li.fa-star: span Pius classis grauiter demittos medicina est.
										li.fa-star: span Est mirabilis domina, cesaris.
										li.fa-star
											span Clemens ionicis tormento vix apertos uria.
											ul.list-marked
												li.fa-star: span Sunt equisoes magicae secundus, germanus.
												li.fa-star: span Pius classis grauiter demittos medicina est.
												li.fa-star: span Est mirabilis domina, cesaris.
										li.fa-star: span Clemens caesiums ducunt ad navis.
										li.fa-star: span Ridetis cito ducunt ad pius torquis.
										li.fa-star: span A falsis, vortex festus ionicis tormento.
										li.fa-star: span Gemna de secundus tus, desiderium messor.

						.col-md-6.col-lg-12.col-xxl-6
							.panel
								.panel-header
									h4.panel-title
										span.panel-icon.fa-list-alt
										span Vertical Description List
								.panel-body
									dl
										dt Description lists
										dd A description list is perfect for defining terms.
									dl
										dt Euismod
										dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.

						.col-md-6.col-lg-12.col-xxl-6
							.panel
								.panel-header
									h4.panel-title
										span.panel-icon.fa-list-alt
										span Horizontal Description List
								.panel-body
									dl.dl-horizontal
										dt Description lists
										dd A description list is perfect for defining terms.
									dl.dl-horizontal
										dt Euismod
										dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.

				.col-lg-6
					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-fire
								span Text Emphasis
						.panel-body
							.table-responsive.scroller.scroller-horizontal
								table.table.table-borderless.table-striped( style='width: 100%;' )
									thead
										tr
											th( style='min-width: 120px; width: 30%;' ) Class
											th( style='min-width: 200px; width: 70%;' ) Description
									tbody
										tr
											td: code .text-primary
											td: span.text-primary Messis tandem ducunt ad fidelis rector.
										tr
											td: code .text-secondary
											td: span.text-secondary Messis tandem ducunt ad fidelis rector.
										tr
											td: code .text-success
											td: span.text-success Messis tandem ducunt ad fidelis rector.
										tr
											td: code .text-danger
											td: span.text-danger Messis tandem ducunt ad fidelis rector.
										tr
											td: code .text-warning
											td: span.text-warning Messis tandem ducunt ad fidelis rector.
										tr
											td: code .text-info
											td: span.text-info Messis tandem ducunt ad fidelis rector.
										tr
											td: code .text-light
											td: span.text-light Messis tandem ducunt ad fidelis rector.
										tr
											td: code .text-dark
											td: span.text-dark Messis tandem ducunt ad fidelis rector.
										tr
											td: code .text-muted
											td: span.text-muted Messis tandem ducunt ad fidelis rector.

					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-check-circle
								span Badges
						.panel-body
							.group-10
								div
									.group-5
										.badge.badge-primary Primary
										.badge.badge-secondary Secondary
										.badge.badge-success Success
										.badge.badge-danger Danger
										.badge.badge-warning Warning
										.badge.badge-info Info
										.badge.badge-light Light
										.badge.badge-dark Dark
								div
									.group-5
										.badge.badge-pill.badge-primary Primary
										.badge.badge-pill.badge-secondary Secondary
										.badge.badge-pill.badge-success Success
										.badge.badge-pill.badge-danger Danger
										.badge.badge-pill.badge-warning Warning
										.badge.badge-pill.badge-info Info
										.badge.badge-pill.badge-light Light
										.badge.badge-pill.badge-dark Dark
								div
									.group-5
										.badge.badge-pill.badge-primary 12
										.badge.badge-pill.badge-secondary 41
										.badge.badge-pill.badge-success 25
										.badge.badge-pill.badge-danger 51
										.badge.badge-pill.badge-warning 94
										.badge.badge-pill.badge-info 32
										.badge.badge-pill.badge-light 26
										.badge.badge-pill.badge-dark 17

					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-bookmark
								span Blockquote
						.panel-body
							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.',
								cite:  'Someone famous'
							}).blockquote-primary

							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
								cite:  'Someone famous'
							}).blockquote-secondary

							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
								cite:  'Someone famous'
							}).blockquote-success

							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
								cite:  'Someone famous'
							}).blockquote-info

							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
								cite:  'Someone famous'
							}).blockquote-warning

							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
								cite:  'Someone famous'
							}).blockquote-danger

							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
								cite:  'Someone famous'
							}).blockquote-light

							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
								cite:  'Someone famous'
							}).blockquote-dark

							hr

							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
								cite:  'Someone famous'
							}).blockquote-primary.blockquote-thin

							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
								cite:  'Someone famous'
							}).blockquote-primary.blockquote-rounded

							hr

							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
								cite:  'Someone famous'
							}).blockquote-primary.blockquote-reverse.blockquote-thin

							+blockquote({
								quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
								cite:  'Someone famous'
							}).blockquote-primary.blockquote-reverse.blockquote-rounded

					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-photo
								span Media objects
						.panel-body
							.media.group-10
								.media-item
									img( src='images/users/user-02-50x50.jpg', width='50', height='50', alt='' )
								.media-body
									h4 Media heading
									div Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

									.media.group-10
										.media-item
											img( src='images/users/user-02-50x50.jpg', width='50', height='50', alt='' )
										.media-body
											h4 Nested media heading
											div Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

							hr

							.media.group-10.flex-row-reverse
								.media-item
									img( src='images/users/user-02-50x50.jpg', width='50', height='50', alt='' )
								.media-body
									h4 Media right
									div Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus

					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-map-marker
								span Address Formatting
						.panel-body
							address
								strong Twitter, Inc.
								br
								| 1355 Market St, Suite 900
								br
								| San Francisco, CA 94103
								br
								abbr( title='Phone' ) P:
								!= ' (123) 456-7890'

							address
								strong Full Name
								br
								a( href='#' ) first.last@example.com

					.panel
						.panel-header
							h4.panel-title
								span.panel-icon.fa-qrcode
								span Highlight
						.panel-body.p-0
							pre.highlight.html.scroller.scroller-horizontal
								= '<div class="container">\n'
								= '  <div class="row">\n'
								= '    <div class="col-md-4 col-lg-6">Your Column1 Content</div>\n'
								= '    <div class="col-md-4 col-lg-6">Your Column1 Content</div>\n'
								= '  </div>\n'
								= '</div>'
