extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/breadcrumbs/_breadcrumbs

block variables
	- pageName = 'Uploaders'

block page
	header.section.page-header
		+rd-navbar

	section.topbar
		+breadcrumbs( breadcrumbs )

	section.bg-white.section-sm
		.container-fluid
			.row.row-30
				.col-sm-5.col-md-4.col-lg-3.offset-xxl-1
					h3 Dropzone.JS
					ul.list-unstyled.mt-3.list-md
						li
							span.fa-info-circle.pr-2
							b= 'Author: '
							span Matias Meno.
						li
							span.fa-info-circle.pr-2
							b= 'License: '
							span The MIT License (MIT).
						li
							span.fa-info-circle.pr-2
							b= 'Website: '
							a( href='https://github.com/enyo/dropzone', target='_blank' ) https://github.com/dropzone
				.col-sm-7.col-xxl-6
					form.dropzone-form( action='components/dropzone/dropzone.php', data-dropzone!={ maxFilesize: 2, maxfiles: 10 } )
						.dz-message
							.dz-message-icon.fa-cloud-upload
							.dz-message-main-text
								strong Drop Files
								= " "
								small to upload
							span.dz-message-sub-text (or click)
